LogicApps/PROD/LBH_LA_SCM_ACC1_AUDDISSendtoSFTP/LBH_LA_SCM_ACC1_AUDDISSendtoSFTP/LogicApp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_PwC_LA_SCM_ACC1_AUDDISSendtoSFTP_Prod_name": {
            "defaultValue": "PwC_LA_SCM_ACC1_AUDDISSendtoSFTP_Prod",
            "type": "String"
        },
        "connections_azurefile_1_externalid": {
            "defaultValue": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/resourceGroups/lbh-prd-uks-fno-rg-03/providers/Microsoft.Web/connections/azurefile-1",
            "type": "String"
        },
        "connections_dynamicsax_externalid": {
            "defaultValue": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/resourceGroups/lbh-prd-uks-fno-rg-03/providers/Microsoft.Web/connections/dynamicsax",
            "type": "String"
        },
        "connections_sftpwithssh_2_externalid": {
            "defaultValue": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/resourceGroups/lbh-prd-uks-fno-rg-03/providers/Microsoft.Web/connections/sftpwithssh-2",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_PwC_LA_SCM_ACC1_AUDDISSendtoSFTP_Prod_name')]",
            "location": "uksouth",
            "tags": {
                "Availability": "24h7",
                "Cost Centre": "1040",
                "Department": "Finance_HR",
                "Environment": "PRD",
                "Owner": "platformteam@harrow.gov.uk",
                "Service": "Dynamics F&O"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "9",
                                        "10",
                                        "11",
                                        "12",
                                        "13",
                                        "14",
                                        "15",
                                        "16",
                                        "17",
                                        "18"
                                    ],
                                    "minutes": [
                                        0
                                    ]
                                },
                                "timeZone": "GMT Standard Time"
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "9",
                                        "10",
                                        "11",
                                        "12",
                                        "13",
                                        "14",
                                        "15",
                                        "16",
                                        "17",
                                        "18"
                                    ],
                                    "minutes": [
                                        0
                                    ]
                                },
                                "timeZone": "GMT Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Condition_2": {
                            "actions": {},
                            "runAfter": {
                                "For_each_2": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Terminate": {
                                        "runAfter": {},
                                        "type": "Terminate",
                                        "inputs": {
                                            "runError": {
                                                "code": "ACC1 Error",
                                                "message": "@variables('ErrorMessage')"
                                            },
                                            "runStatus": "Failed"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('ErrorMessage')",
                                            ""
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Condition_4": {
                            "actions": {},
                            "runAfter": {
                                "For_each_3": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Terminate_2": {
                                        "runAfter": {},
                                        "type": "Terminate",
                                        "inputs": {
                                            "runError": {
                                                "code": "Acc1 Warning:",
                                                "message": "@variables('ErrorMessage2')"
                                            },
                                            "runStatus": "Failed"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('ErrorMessage2')",
                                            ""
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "For_each": {
                            "foreach": "@body('List_files')?['value']",
                            "actions": {
                                "Copy_file": {
                                    "runAfter": {
                                        "Create_file": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "headers": {
                                            "ReadFileMetadataFromServer": true
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/copyFile",
                                        "queries": {
                                            "destination": "/prd-file01/ACC1/SentToAccessPay/@{items('For_each')?['Name']}",
                                            "overwrite": true,
                                            "queryParametersSingleEncoded": true,
                                            "source": "@items('For_each')?['Path']"
                                        }
                                    }
                                },
                                "Create_file": {
                                    "runAfter": {
                                        "Get_file_content_using_path": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "@body('Get_file_content_using_path')",
                                        "headers": {
                                            "ReadFileMetadataFromServer": true
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['sftpwithssh_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "/Inbound/DebtorsAuddis",
                                            "name": "@items('For_each')?['Name']",
                                            "queryParametersSingleEncoded": true
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Delete_file": {
                                    "runAfter": {
                                        "Copy_file": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "headers": {
                                            "SkipDeleteIfFileNotFoundOnServer": false
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile']['connectionId']"
                                            }
                                        },
                                        "method": "delete",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(items('For_each')?['Path']))}"
                                    }
                                },
                                "Get_file_content_using_path": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/datasets/default/GetFileContentByPath",
                                        "queries": {
                                            "inferContentType": true,
                                            "path": "@items('For_each')?['Path']",
                                            "queryParametersSingleEncoded": true
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "List_files": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 20
                                }
                            }
                        },
                        "For_each_2": {
                            "foreach": "@body('Lists_items_present_in_table')?['value']",
                            "actions": {
                                "Condition": {
                                    "actions": {},
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Set_variable": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "ErrorMessage",
                                                    "value": "Batch job error in D365 FO for ACC1 main batch job"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each_2')?['Status']",
                                                    "Finished"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@items('For_each_2')?['Caption']",
                                                    "@variables('BatchNameMain')"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@formatDateTime(items('For_each_2')?['StartDateTime'], 'yyyy-MM-dd')",
                                                    "@formatDateTime(utcnow(), 'yyyy-MM-dd')"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Lists_items_present_in_table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_3": {
                            "foreach": "@body('Lists_items_present_in_table_2')?['value']",
                            "actions": {
                                "Condition_3": {
                                    "actions": {},
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Set_variable_2": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "ErrorMessage2",
                                                    "value": "Batch job error in D365 FO for ACC1 file copy batch job"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each_3')?['Status']",
                                                    "Finished"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@items('For_each_3')?['Caption']",
                                                    "@variables('BatchNameFileMove')"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@formatDateTime(items('For_each_3')?['StartDateTime'], 'yyyy-MM-dd')",
                                                    "@formatDateTime(utcnow(), 'yyyy-MM-dd')"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Lists_items_present_in_table_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP": {
                            "runAfter": {
                                "Condition_4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "Source": "/prd-file01/ACC1/Processed",
                                    "Target": "prd-file01/ACC1/Processed"
                                },
                                "method": "POST",
                                "uri": "https://prod-09.uksouth.logic.azure.com:443/workflows/9904ad0cc6d048de8d66773bfd89bfa6/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=0HBkGqxeOBnmcepFfBCFScQ_BfUfzNGcN5B_smhofF0"
                            }
                        },
                        "Initialize_variable_-_BatchNameFileMove": {
                            "runAfter": {
                                "Initialize_variable_-_BatchNameMain": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "BatchNameFileMove",
                                        "type": "string",
                                        "value": "File processor batch (ACC1)"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_BatchNameMain": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "BatchNameMain",
                                        "type": "string",
                                        "value": "Send mandate details batch (ACC1)"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_ErrorMessage": {
                            "runAfter": {
                                "Initialize_variable_-_BatchNameFileMove": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ErrorMessage",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_ErrorMessage2": {
                            "runAfter": {
                                "Initialize_variable_-_ErrorMessage": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ErrorMessage2",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "List_files": {
                            "runAfter": {
                                "Condition_2": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "JTJmbGJoLWRldiUyZkFDQzElMmZVbnByb2Nlc3NlZA==": "/lbh-dev/ACC1/Unprocessed"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurefile']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent('/prd-file01/ACC1/Unprocessed'))}",
                                "queries": {
                                    "nextPageMarker": "",
                                    "useFlatListing": false
                                }
                            }
                        },
                        "Lists_items_present_in_table": {
                            "runAfter": {
                                "Initialize_variable_-_ErrorMessage2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['dynamicsax']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('lbh-fo-prod.operations.dynamics.com'))}/tables/@{encodeURIComponent(encodeURIComponent('CBatchJobHistories'))}/items",
                                "queries": {
                                    "$filter": "Caption eq '@{variables('BatchNameMain')}'",
                                    "$orderby": "BatchJobId desc",
                                    "$top": 1
                                }
                            }
                        },
                        "Lists_items_present_in_table_2": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['dynamicsax']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('lbh-fo-prod.operations.dynamics.com'))}/tables/@{encodeURIComponent(encodeURIComponent('CBatchJobHistories'))}/items",
                                "queries": {
                                    "$filter": "Caption eq '@{variables('BatchNameFileMove')}'",
                                    "$orderby": "BatchJobId desc",
                                    "$top": 1
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurefile": {
                                "connectionId": "[parameters('connections_azurefile_1_externalid')]",
                                "connectionName": "azurefile-1",
                                "id": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/providers/Microsoft.Web/locations/uksouth/managedApis/azurefile"
                            },
                            "dynamicsax": {
                                "connectionId": "[parameters('connections_dynamicsax_externalid')]",
                                "connectionName": "dynamicsax",
                                "id": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/providers/Microsoft.Web/locations/uksouth/managedApis/dynamicsax"
                            },
                            "sftpwithssh_1": {
                                "connectionId": "[parameters('connections_sftpwithssh_2_externalid')]",
                                "connectionName": "sftpwithssh-2",
                                "id": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/providers/Microsoft.Web/locations/uksouth/managedApis/sftpwithssh"
                            }
                        }
                    }
                }
            }
        }
    ]
}