LBH_LA_FIN_FMS3b_GLLineExport/LBH_LA_FIN_FMS3b_GLLineExport/LogicApp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_PwC_LA_FIN_FMS3b_GLLineExport_PreProd_name": {
            "defaultValue": "PwC_LA_FIN_FMS3b_GLLineExport_PreProd",
            "type": "String"
        },
        "connections_azurefile_1_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/azurefile-1",
            "type": "String"
        },
        "connections_dynamicsax_3_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/dynamicsax-3",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_PwC_LA_FIN_FMS3b_GLLineExport_PreProd_name')]",
            "location": "uksouth",
            "tags": {
                "Availability": "24h7",
                "Cost Centre": "1040",
                "Department": "Finance_HR",
                "Environment": "NPRD",
                "Owner": "platformteam@harrow.gov.uk",
                "Service": "Dynamics F&O"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Week",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "1"
                                    ],
                                    "minutes": [
                                        0
                                    ],
                                    "weekDays": [
                                        "Monday"
                                    ]
                                },
                                "timeZone": "GMT Standard Time"
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Week",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "1"
                                    ],
                                    "minutes": [
                                        0
                                    ],
                                    "weekDays": [
                                        "Monday"
                                    ]
                                },
                                "timeZone": "GMT Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Compose": {
                            "runAfter": {
                                "Invoke_http_request_for_data_job_execution": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@outputs('Invoke_http_request_for_data_job_execution')['statusCode']"
                        },
                        "Create_file": {
                            "runAfter": {
                                "Initialize_data_package_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@binary(body('Download_datapackage'))",
                                "headers": {
                                    "ReadFileMetadataFromServer": true
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurefile']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                    "folderPath": "/uat-file01/FMS3b/temp",
                                    "name": "@variables('PackageName')",
                                    "queryParametersSingleEncoded": true
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Delete_file-_Export_payment_file_to_SIMS.xlsx": {
                            "runAfter": {
                                "HTTP_-_Lrm_transformation": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "JTJmbGJoLWRldiUyZlNJTTNhJTJmZXJyb3IlMmZBQjEyMjAxOS52YXQudHh0": "/lbh-dev/SIM3a/error/AB122019.vat.txt",
                                "JTJmbGJoLWRldiUyZlNJTTNiJTJmdGVtcCUyZkV4cG9ydCtwYXltZW50K2ZpbGUrdG8rU0lNUy54bHN4": "/lbh-dev/SIM3b/temp/Export payment file to SIMS.xlsx"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurefile']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/uat-file01/FMS3b/temp/Export payment file to SIMS.xlsx'))}"
                            }
                        },
                        "Delete_file_-_Manifest.xml": {
                            "runAfter": {
                                "Delete_file-_Export_payment_file_to_SIMS.xlsx": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "JTJmbGJoLWRldiUyZlNJTTNiJTJmdGVtcCUyZk1hbmlmZXN0LnhtbA==": "/lbh-dev/SIM3b/temp/Manifest.xml"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurefile']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/uat-file01/FMS3b/temp/Manifest.xml'))}"
                            }
                        },
                        "Delete_file_-_Package_Header_xml": {
                            "runAfter": {
                                "Delete_file_-_Manifest.xml": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "JTJmbGJoLWRldiUyZlNJTTNiJTJmdGVtcCUyZlBhY2thZ2VIZWFkZXIueG1s": "/lbh-dev/SIM3b/temp/PackageHeader.xml"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurefile']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/uat-file01/FMS3b/temp/PackageHeader.xml'))}"
                            }
                        },
                        "Delete_file_-_delete_package_zip_": {
                            "runAfter": {
                                "Extract_archive_to_folder": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "JTJmbGJoLWRldiUyZlBBVzJhJTJmUHdDX1BBVzJhLnppcA==": "/lbh-dev/PAW2a/PwC_PAW2a.zip",
                                "JTJmbGJoLWRldiUyZlBBVzJiJTJmUHdDX1BBVzJiLnppcA==": "/lbh-dev/PAW2b/PwC_PAW2b.zip",
                                "JTJmbGJoLWRldiUyZlBBVzJiJTJmdGVtcCUyZlB3Q19QQVcyYi56aXA=": "/lbh-dev/PAW2b/temp/PwC_PAW2b.zip",
                                "JTJmbGJoLWRldiUyZlNJTTNiJTJmdGVtcCUyZlB3Q19TSU0zYi56aXA=": "/lbh-dev/SIM3b/temp/PwC_SIM3b.zip"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurefile']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/uat-file01/FMS3b/temp/PwC_SIM3b.zip'))}"
                            }
                        },
                        "Download_datapackage": {
                            "runAfter": {
                                "Get_data_package_url": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "@{body('Get_data_package_url')?['Value']}"
                            }
                        },
                        "Extract_archive_to_folder": {
                            "runAfter": {
                                "Create_file": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurefile']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/extractFolderV2",
                                "queries": {
                                    "destination": "/uat-file01/FMS3b/temp",
                                    "overwrite": true,
                                    "queryParametersSingleEncoded": true,
                                    "source": "/uat-file01/FMS3b/temp/PwC_SIM3b.zip"
                                }
                            }
                        },
                        "Get_a_record": {
                            "runAfter": {
                                "Initialize_token_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['dynamicsax']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('lbh-fo-preprod.sandbox.operations.dynamics.com'))}/tables/@{encodeURIComponent(encodeURIComponent('PwCIntegrationSetupSASEnts'))}/items/@{encodeURIComponent(encodeURIComponent('1000,0'))}"
                            }
                        },
                        "Get_data_package_url": {
                            "runAfter": {
                                "Wait_until_data_project_executed": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "executionId": "@{body('Invoke_http_request_for_data_job_execution')?['Value']}"
                                },
                                "headers": {
                                    "Authorization": "@variables('Token')"
                                },
                                "method": "POST",
                                "uri": "https://lbh-fo-preprod.sandbox.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExportedPackageUrl"
                            }
                        },
                        "Get_token_from_app": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "body": "client_id=9a0a0604-6c86-4ba3-894f-853e9f2b9252&client_secret=1ix8h.1~ojzX7pj520djkZnAD7-yG.P7b3&grant_type=client_credentials&resource=https://lbh-fo-preprod.sandbox.operations.dynamics.com",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "method": "POST",
                                "uri": "https://login.microsoftonline.com/d2c39953-a8db-4c3c-97f2-d2dc76fb3e2c/oauth2/token"
                            }
                        },
                        "HTTP_-_Lrm_transformation": {
                            "runAfter": {
                                "Delete_file_-_delete_package_zip_": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "dir": "FMS3b",
                                    "fileName": "Export payment file to SIMS.xlsx",
                                    "fileShare": "uat-file01",
                                    "storageAccount": "DefaultEndpointsProtocol=https;AccountName=lbhnprduksd365sa02;AccountKey=o359HBPq50Q0YS2FZKGgqRalib7hhIC9p2/JqXlNL7ye2f15my2/65kLO+oBd1WBjnMS7lwTpnOXSY6fae8i3A==;EndpointSuffix=core.windows.net",
                                    "subDir": "temp"
                                },
                                "method": "POST",
                                "uri": "https://pwcfointegrationexceltolrmconversion.azurewebsites.net/api/ExcelToLrmConversion?code=1/anlOK/c3Fsjkn3KPUJFBaia0cVBROXjxLcqLFKj1lcWWp21ZKTCQ=="
                            }
                        },
                        "Initialize_data_package_name": {
                            "runAfter": {
                                "Download_datapackage": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "PackageName",
                                        "type": "string",
                                        "value": "PwC_SIM3b.zip"
                                    }
                                ]
                            }
                        },
                        "Initialize_execution_stat": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ExecutionStat",
                                        "type": "string",
                                        "value": "@{outputs('Compose')}"
                                    }
                                ]
                            }
                        },
                        "Initialize_token_variable": {
                            "runAfter": {
                                "Initialize_variable-ContentRange2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Token",
                                        "type": "string",
                                        "value": "@{concat('Bearer ',body('Parse_JSON_for_auth_token')['access_token'])}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable-ContentLength": {
                            "runAfter": {
                                "Initialize_variable-UpdateFileURI": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ContentLength",
                                        "type": "integer"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable-ContentRange2": {
                            "runAfter": {
                                "Initialize_variable-ContentLength": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ContentRange2",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable-CreateBlankFileURI": {
                            "runAfter": {
                                "Initialize_variable-SVToken": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "CreateBlankFileURI",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable-SVToken": {
                            "runAfter": {
                                "Parse_JSON_for_auth_token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SVToken",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable-UpdateFileURI": {
                            "runAfter": {
                                "Initialize_variable-CreateBlankFileURI": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "UpdateFileURI",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Invoke_http_request_for_data_job_execution": {
                            "runAfter": {
                                "Set_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "definitionGroupId": "LBH_FMS3b_EXP",
                                    "executionId": "",
                                    "legalEntityId": "1000",
                                    "packageName": "PwC_SIM3b.zip",
                                    "reExecute": false
                                },
                                "headers": {
                                    "Authorization": "@variables('Token')"
                                },
                                "method": "POST",
                                "uri": "https://lbh-fo-preprod.sandbox.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ExportToPackage"
                            }
                        },
                        "Parse_JSON_for_auth_token": {
                            "runAfter": {
                                "Get_token_from_app": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_token_from_app')",
                                "schema": {
                                    "$schema": "http://json-schema.org/draft-04/schema#",
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "string"
                                        },
                                        "expires_on": {
                                            "type": "string"
                                        },
                                        "ext_expires_in": {
                                            "type": "string"
                                        },
                                        "not_before": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "token_type",
                                        "expires_in",
                                        "ext_expires_in",
                                        "expires_on",
                                        "not_before",
                                        "resource",
                                        "access_token"
                                    ],
                                    "type": "object"
                                }
                            }
                        },
                        "PwC_LA_MoveFilesFromStagingToSecured_UAT": {
                            "runAfter": {
                                "Delete_file_-_Package_Header_xml": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "Source": "/uat-file01/FMS3b",
                                    "Target": "uat-file01/FMS3b"
                                },
                                "method": "POST",
                                "uri": "https://prod-05.uksouth.logic.azure.com:443/workflows/2b6b13d4ac344f999839ab1ee0a23e18/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=G3l4KfaJdWA-bZVZC992n4BfV2_Kq05f81Y36a9h7bM"
                            }
                        },
                        "Set_variable": {
                            "runAfter": {
                                "Get_a_record": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "SVToken",
                                "value": "@body('Get_a_record')?['SubscriptionKeyURL']"
                            }
                        },
                        "Wait_until_data_project_executed": {
                            "actions": {
                                "Delay": {
                                    "runAfter": {},
                                    "type": "Wait",
                                    "inputs": {
                                        "interval": {
                                            "count": 5,
                                            "unit": "Second"
                                        }
                                    }
                                },
                                "Get_execution_summary_status": {
                                    "runAfter": {
                                        "Delay": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "executionId": "@{body('Invoke_http_request_for_data_job_execution')?['Value']}"
                                        },
                                        "headers": {
                                            "Authorization": "@variables('Token')"
                                        },
                                        "method": "POST",
                                        "uri": "https://lbh-fo-preprod.sandbox.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus"
                                    }
                                },
                                "Set_execution_status": {
                                    "runAfter": {
                                        "Get_execution_summary_status": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "ExecutionStat",
                                        "value": "@{body('Get_execution_summary_status')?['Value']}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_execution_stat": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@equals(variables('ExecutionStat'), 'Succeeded')",
                            "limit": {
                                "count": 20,
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurefile": {
                                "connectionId": "[parameters('connections_azurefile_1_externalid')]",
                                "connectionName": "azurefile-1",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/azurefile"
                            },
                            "dynamicsax": {
                                "connectionId": "[parameters('connections_dynamicsax_3_externalid')]",
                                "connectionName": "dynamicsax-3",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/dynamicsax"
                            }
                        }
                    }
                }
            }
        }
    ]
}