PowerApps/LBHMSSPositionApp/Managed/Workflows/ContractExtension-798EF163-CD83-EE11-8179-0022481B5DBB.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "crbb7_sharedcommondataserviceforapps_f0055"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "bdc17c3d-2200-41c0-b856-5f8abf715ab4"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "PositionNumber",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "ContractEndDate",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "title": "Time",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable_-_ContractEndDate": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a4f56d88-c79d-4eca-a6cf-7fd60c5df4b0"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ContractEndDate",
                "type": "string",
                "value": "@triggerBody()?['text_1']"
              }
            ]
          }
        },
        "Initialize_variable_-_Time": {
          "runAfter": {
            "Initialize_variable_-_ContractEndDate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "34eccece-7f08-4393-8efd-dcd54b61d539"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Time",
                "type": "string",
                "value": "@triggerBody()['text_2']"
              }
            ]
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Set_Result_-_Success": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "95d2459f-341e-4e95-87a9-e1edd32b96c0"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "@{variables('Result')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Initialize_variable_-_PositionNumber": {
          "runAfter": {
            "Initialize_variable_-_Time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "43ac6745-0569-459d-a77a-fa4bdee7a0e8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PositionNumber",
                "type": "string",
                "value": "@triggerBody()['text']"
              }
            ]
          }
        },
        "Set_Result_-_Failed": {
          "runAfter": {
            "Apply_to_each": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "eafa99f5-db1f-4aeb-af9c-556704055f61"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Result",
            "value": "Failed"
          }
        },
        "Initialize_variable_-_Result": {
          "runAfter": {
            "Initialize_variable_-_PositionNumber": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1d578b49-59cb-4ff8-a8ec-1df8be39d33c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Result",
                "type": "string",
                "value": "Success"
              }
            ]
          }
        },
        "Set_Result_-_Success": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b5fb9d5-cba7-48de-ac15-320996b1bcd0"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Result",
            "value": "Success"
          }
        },
        "Convert_time_zone": {
          "runAfter": {
            "Initialize_variable_-_Result": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c7647c99-5bed-4886-a1d8-7e8104db3de8"
          },
          "type": "Expression",
          "kind": "ConvertTimeZone",
          "inputs": {
            "baseTime": "@{formatDateTime(variables('Time'), 'yyyy-MM-ddTHH:mm:ssZ')}",
            "formatString": "u",
            "sourceTimeZone": "GMT Standard Time",
            "destinationTimeZone": "UTC"
          }
        },
        "List_rows": {
          "runAfter": {
            "Convert_time_zone": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "93e9ea4d-08cc-432a-a207-3a85a5703cef"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mserp_hcmpositiondetailentities",
              "$filter": "mserp_positionid eq '@{variables('PositionNumber')}'",
              "$orderby": "mserp_validfrom desc",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d4b4acdf-e58b-4a0e-b503-83f2a6e6d878"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mserp_hcmpositiondetailentities",
                  "recordId": "@items('Apply_to_each')?['mserp_hcmpositiondetailentityid']",
                  "item/mserp_validto": "@variables('Time')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Add_a_new_row": {
              "runAfter": {
                "Update_a_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a73a7cd3-265e-41ee-969b-f51f34dfec78"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mserp_hcmpositiondetailentities",
                  "item/mserp_jobid": "@items('Apply_to_each')?['mserp_jobid']",
                  "item/mserp_positionid": "@items('Apply_to_each')?['mserp_positionid']",
                  "item/mserp_availableforassignment": "@items('Apply_to_each')?['mserp_availableforassignment']",
                  "item/mserp_compensationregionid": "@null",
                  "item/mserp_FK_CompensationRegion_id@odata.bind": "/mserp_hcmcompensationregionentities(@{items('Apply_to_each')?['_mserp_fk_compensationregion_id_value']})",
                  "item/mserp_pwccontractenddate": "@variables('ContractEndDate')",
                  "item/mserp_departmentnumber": "@items('Apply_to_each')?['mserp_departmentnumber']",
                  "item/mserp_description": "@items('Apply_to_each')?['mserp_description']",
                  "item/mserp_validfrom": "@addSeconds(variables('Time'),1)",
                  "item/mserp_pwcemploymentfactor_custom": "@items('Apply_to_each')?['mserp_pwcemploymentfactor_custom']",
                  "item/mserp_validto": "2154-12-31 00:00:00",
                  "item/mserp_jobfamilyid": "@items('Apply_to_each')?['mserp_jobfamilyid']",
                  "item/mserp_fulltimeequivalent": "@items('Apply_to_each')?['mserp_fulltimeequivalent']",
                  "item/mserp_pwcirregularpattern_custom": "@items('Apply_to_each')?['mserp_pwcirregularpattern_custom']",
                  "item/mserp_FK_Job_id@odata.bind": "/mserp_hcmjobentities(@{items('Apply_to_each')?['_mserp_fk_job_id_value']})",
                  "item/mserp_pwcpositionhoursperweek_custom": "@items('Apply_to_each')?['mserp_pwcpositionhoursperweek_custom']",
                  "item/mserp_positiontypeid": "@items('Apply_to_each')?['mserp_positiontypeid']",
                  "item/mserp_primaryfield": "@items('Apply_to_each')?['mserp_primaryfield']",
                  "item/mserp_pwcprobcompleted_custom": "@items('Apply_to_each')?['mserp_pwcprobcompleted_custom']",
                  "item/mserp_pwcprobduration_custom": "@items('Apply_to_each')?['mserp_pwcprobduration_custom']",
                  "item/mserp_pwcprobationperiod": "@items('Apply_to_each')?['mserp_pwcprobationperiod']",
                  "item/mserp_pwcprobperiod_custom": "@null",
                  "item/mserp_pwcpositionweeksperyear_custom": "@items('Apply_to_each')?['mserp_pwcpositionweeksperyear_custom']",
                  "item/mserp_lbhpositionreasonchange": 200000011,
                  "item/mserp_pwcredundancydate": "@items('Apply_to_each')?['mserp_pwcredundancydate']",
                  "item/mserp_pwcredundancydate_custom": "@null",
                  "item/mserp_pwcteachingstaff_custom": "@items('Apply_to_each')?['mserp_pwcteachingstaff_custom']",
                  "item/mserp_pwcteachingstuff_custom": "@items('Apply_to_each')?['mserp_pwcteachingstuff_custom']",
                  "item/mserp_pwctemporary_custom": "@items('Apply_to_each')?['mserp_pwctemporary_custom']",
                  "item/mserp_pwccontractenddate_custom": "@variables('ContractEndDate')",
                  "item/mserp_pwctemporaryhoursenddate_custom": "@items('Apply_to_each')?['mserp_pwctemporaryhoursenddate_custom']",
                  "item/mserp_pwctermtime_custom": "@items('Apply_to_each')?['mserp_pwctermtime_custom']",
                  "item/mserp_titleid": "@items('Apply_to_each')?['mserp_titleid']",
                  "item/mserp_pwcweekendworking_custom": 200000000
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4283218a-0a39-400e-a5da-74ee7ae89387"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}