PowerApps/LBHMSSPositionApp/Managed/Workflows/LBHMSSFTECalcwithEmails-C7468E05-E35C-EE11-8DEF-0022481B5EE5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "crbb7_sharedcommondataserviceforapps_7fe85"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "crbb7_sharedcommondataserviceforapps_bbced"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sendmail": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "crbb7_sharedsendmail_49c4a"
        },
        "api": {
          "name": "shared_sendmail"
        }
      },
      "shared_dynamicsax_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "crbb7_shareddynamicsax_47741"
        },
        "api": {
          "name": "shared_dynamicsax"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "D365FOURL (crbb7_D365FOURL)": {
          "defaultValue": "lbh-fo-dev-13faa0db13ed451c72devaos.axcloud.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "crbb7_D365FOURL",
            "description": "Environment of FO"
          }
        },
        "MSSAPPEmail (crbb7_MSSAPPEmail)": {
          "defaultValue": "shubham_kum@hcl.com;anveshkumar.v@hcl.com",
          "type": "String",
          "metadata": {
            "schemaName": "crbb7_MSSAPPEmail",
            "description": "Mss postion app email"
          }
        },
        "EnvSubj (crbb7_EnvSubj)": {
          "defaultValue": "Dev13",
          "type": "String",
          "metadata": {
            "schemaName": "crbb7_EnvSubj",
            "description": "This will have the Subject Prefix/Suffix for Environment"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "66054b0e-d9d9-4a49-984a-658359f66015"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "PositionID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Manager",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable,_WorkerNumber": {
          "runAfter": {
            "Apply_to_each_9": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "25f18a11-adfa-4c69-af7e-ff2f5d406391"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "WorkerNumber",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable,_Annual_Leave_Days": {
          "runAfter": {
            "Apply_to_each_9": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b223a6c3-f0c8-4c63-8258-671d5a04b91d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AnnualLeaveDays",
                "type": "float"
              }
            ]
          }
        },
        "Initialize_variable_3": {
          "runAfter": {
            "Initialize_variable,_WorkerNumber": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e269cdb1-937f-45c4-8222-bb476ccf4e81"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "WorkerName",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable,_ManagerName": {
          "runAfter": {
            "Initialize_variable_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f96d20c8-15f4-435f-8a18-1889c60e7e27"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Manager Name",
                "type": "string",
                "value": "@triggerBody()['text_1']"
              }
            ]
          }
        },
        "Initialize_variable,_Bank_Holiday_Days": {
          "runAfter": {
            "Apply_to_each_9": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f5ad1e56-37fe-4186-a980-16dddfd8cd7e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BankHolidayDays",
                "type": "float"
              }
            ]
          }
        },
        "Initialize_variable,_YearsLocalGovService": {
          "runAfter": {
            "Apply_to_each_9": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "647876bd-d643-48e1-a63e-8491c1e0fea5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": " YearsLocalGovService",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_variable,_Year": {
          "runAfter": {
            "Apply_to_each_9": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b121337e-bd2f-48ce-b9fe-1221481c5cb6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Year",
                "type": "string",
                "value": "@{formatDateTime(utcNow(), 'yyyy')}"
              }
            ]
          }
        },
        "Initialize_variable,_Month_Number": {
          "runAfter": {
            "Initialize_variable,_Year": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "750e0463-63c6-4210-844d-051739a2622c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MonthNumber",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable,_Last_Year": {
          "runAfter": {
            "Initialize_variable,_Month_Number": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6f20eb04-3a3e-4e48-80b2-75c1931ffdcd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LastYear",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable,_YearsLBHService_NOW": {
          "runAfter": {
            "Apply_to_each_9": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8d35a4af-b435-47f2-a5ba-6486835fdf5d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "YearsLBHService NOW",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_variable,_YearsLBHServiceApril": {
          "runAfter": {
            "Initialize_variable,_YearsLBHService_NOW": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f4268a28-e06d-46c9-85ed-4b5a60470d78"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "YearsServiceApril",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_variable,_Daily_Hours": {
          "runAfter": {
            "Apply_to_each_9": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1b54da47-4df0-4fff-8df1-4b2421bc5437"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DailyHrs",
                "type": "float",
                "value": "@variables('DailyHours')"
              }
            ]
          }
        },
        "Initialize_variable,_March_Number": {
          "runAfter": {
            "Initialize_variable,_Daily_Hours": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "24c6ef99-ec92-419c-b76b-9601b0e5daea"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MarchNumber",
                "type": "string",
                "value": "03"
              }
            ]
          }
        },
        "ListPositionDetails": {
          "runAfter": {
            "Initialize_variable,_Annual_Leave_Days": [
              "Succeeded"
            ],
            "Initialize_variable,_Bank_Holiday_Days": [
              "Succeeded"
            ],
            "Initialize_variable,_YearsLocalGovService": [
              "Succeeded"
            ],
            "Initialize_variable,_YearsLBHServiceApril": [
              "Succeeded"
            ],
            "Initialize_variable,_March_Number": [
              "Succeeded"
            ],
            "Initialize_variable,_ManagerName": [
              "Succeeded"
            ],
            "Initialize_variable,_Last_Year": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e5d8381c-f4ae-4e9a-8de1-a63c40517d81"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mserp_hcmpositiondetailentities",
              "$filter": "mserp_positionid eq '@{triggerBody()['text']}'",
              "$orderby": "mserp_validto desc",
              "$top": 1
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('ListPositionDetails')?['body/value']",
          "actions": {
            "GetPositionDetails": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a2ddf19c-c015-4e51-838d-9516406b833e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mserp_hcmpositiondetailentities",
                  "recordId": "@items('Apply_to_each')?['mserp_hcmpositiondetailentityid']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "FormatEffectiveDateForEmail": {
              "runAfter": {
                "Convert_time_zone": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "76435f86-2851-4ee5-b38e-6c52ea1ceac9"
              },
              "type": "Compose",
              "inputs": "@formatDateTime(outputs('GetPositionDetails')?['body/mserp_validfrom'],'dd/MM/yyyy hh:mm tt')"
            },
            "Apply_to_each_2": {
              "foreach": "@outputs('PositionAssignment')?['body/value']",
              "actions": {
                "GetWorker": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "10b48caa-2714-4eea-9d3f-9eabb971c3b3"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "mserp_hcmworkerentities",
                      "recordId": "@items('Apply_to_each_2')?['_mserp_fk_worker_id_value']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "WorkerNumber": {
                  "runAfter": {
                    "GetWorker": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "77290285-c491-4fc3-a6c8-9bdf50f778f9"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "WorkerNumber",
                    "value": "@outputs('GetWorker')?['body/mserp_personnelnumber']"
                  }
                },
                "WorkerName": {
                  "runAfter": {
                    "WorkerNumber": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cc2ef636-500f-4357-97c9-53653b7050b7"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "WorkerName",
                    "value": "@outputs('GetWorker')?['body/mserp_name']"
                  }
                },
                "TermTIme": {
                  "actions": {
                    "Apply_to_each_3": {
                      "foreach": "@outputs('ListEmployment')?['body/value']",
                      "actions": {
                        "GetEmploymentStartDate_2": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "be18ee21-8f6e-42a0-b657-22009499f5b6"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "mserp_hcmemploymententities",
                              "recordId": "@items('Apply_to_each_3')?['mserp_hcmemploymententityid']",
                              "$select": "mserp_employmentstartdate"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        },
                        "EmploymentStartTimeTickValue_2": {
                          "runAfter": {
                            "GetEmploymentStartDate_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "dc99d99d-195a-4e7c-bea3-67a7a538bf5c"
                          },
                          "type": "Compose",
                          "inputs": "@ticks(outputs('GetEmploymentStartDate_2')?['body/mserp_employmentstartdate'])"
                        },
                        "DateOfEffective_2": {
                          "runAfter": {
                            "Compose_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "7d8ac6ef-a86d-4170-9636-627460ddf7ac"
                          },
                          "type": "Compose",
                          "inputs": "@ticks(outputs('GetPositionDetails')?['body/mserp_validfrom'])"
                        },
                        "EmployeesHarrowServiceUpToEffectivedate_2": {
                          "runAfter": {
                            "DateOfEffective_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "96617d66-7763-4eb2-9049-4e9aa9d81b63"
                          },
                          "type": "Compose",
                          "inputs": "@div(div(mul(sub(outputs('DateOfEffective_2'), outputs('EmploymentStartTimeTickValue_2')), 100), 1000000000), 31536000)"
                        },
                        "Set_LBH_Service_2": {
                          "runAfter": {
                            "EmployeesHarrowServiceUpToEffectivedate_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f7d20092-5a58-468b-a960-e63236676cfe"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "YearsLBHService NOW",
                            "value": "@outputs('EmployeesHarrowServiceUpToEffectivedate_2')"
                          }
                        },
                        "GetMonthNumber_2": {
                          "runAfter": {
                            "Set_LBH_Service_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "25ad69d9-85e1-4c34-9284-9ded66e1ab13"
                          },
                          "type": "Compose",
                          "inputs": "@substring(body('Convert_time_zone'),3,2)"
                        },
                        "Set_variable_7,_Month_Number_2": {
                          "runAfter": {
                            "GetMonthNumber_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "c498e08e-fc5d-4cfe-84d1-b489be0f55f7"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "MonthNumber",
                            "value": "@{outputs('GetMonthNumber_2')}"
                          }
                        },
                        "GetYearEffective_2": {
                          "runAfter": {
                            "Set_variable_7,_Month_Number_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "b20497eb-ba3b-4b3f-ab83-69dbe7524567"
                          },
                          "type": "Compose",
                          "inputs": "@formatDateTime(outputs('GetPositionDetails')?['body/mserp_validfrom'], 'yyyy')"
                        },
                        "Set_variable": {
                          "runAfter": {
                            "GetYearEffective_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "5380ac82-ab5f-4ac0-97d5-ed699a14a277"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Year",
                            "value": "@{outputs('GetYearEffective_2')}"
                          }
                        },
                        "Is_it_Jan_Feb_or_March_2": {
                          "actions": {
                            "Set_Last_Year_2": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "38e91769-b7a3-4621-9914-1fe17b261b05"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "LastYear",
                                "value": "@{subtractFromTime(outputs('GetPositionDetails')?['body/mserp_validfrom'], 1, 'Year', 'yyyy')}"
                              }
                            },
                            "Get1stAorilLastYear_2": {
                              "runAfter": {
                                "Set_Last_Year_2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "a7feddbc-5f50-45b6-88f2-78679251a0b5"
                              },
                              "type": "Compose",
                              "inputs": "@{variables('LastYear')}-04-01T00:00:00Z"
                            },
                            "EndTimeTickValueLastYear_2": {
                              "runAfter": {
                                "Get1stAorilLastYear_2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "09f2e462-03e3-4117-b2fa-27322d7544fb"
                              },
                              "type": "Compose",
                              "inputs": "@ticks(outputs('Get1stAorilLastYear_2'))"
                            },
                            "LBHServiceUpToAprilLastYear_2": {
                              "runAfter": {
                                "EndTimeTickValueLastYear_2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "764cab3d-c854-4611-823f-9292f8c85b70"
                              },
                              "type": "Compose",
                              "inputs": "@div(div(mul(sub(outputs('EndTimeTickValueLastYear_2'), outputs('EmploymentStartTimeTickValue_2')), 100), 1000000000), 31536000)"
                            },
                            "Set_variable_2": {
                              "runAfter": {
                                "LBHServiceUpToAprilLastYear_2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "4f4c201c-7447-448d-95ce-631725a199f1"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "YearsServiceApril",
                                "value": "@outputs('LBHServiceUpToAprilLastYear_2')"
                              }
                            }
                          },
                          "runAfter": {
                            "Set_variable": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Get1stAprilThatYear_2": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "ea588a9b-864f-49ab-891d-1964bcba8ccd"
                                },
                                "type": "Compose",
                                "inputs": "@{variables('Year')}-04-01T00:00:00Z"
                              },
                              "EndTimeTickValue_2": {
                                "runAfter": {
                                  "Get1stAprilThatYear_2": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "37cb73f0-48f4-4780-b976-c4fb6d2522d0"
                                },
                                "type": "Compose",
                                "inputs": "@ticks(outputs('Get1stAprilThatYear_2'))"
                              },
                              "LBHServiceUpToApril_This_Year_2": {
                                "runAfter": {
                                  "EndTimeTickValue_2": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "6f71cac9-8c0a-4e83-8959-b97f8fb17a19"
                                },
                                "type": "Compose",
                                "inputs": "@div(div(mul(sub(outputs('EndTimeTickValue_2'), outputs('EmploymentStartTimeTickValue_2')), 100), 1000000000), 31536000)"
                              },
                              "Set_Years_Service_In_April_this_year_2": {
                                "runAfter": {
                                  "LBHServiceUpToApril_This_Year_2": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "16439b5c-04e7-4bd1-a0d8-856e802b27aa"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "YearsServiceApril",
                                  "value": "@outputs('LBHServiceUpToApril_This_Year_2')"
                                }
                              }
                            }
                          },
                          "expression": {
                            "lessOrEquals": [
                              "@variables('MonthNumber')",
                              "@variables('MarchNumber')"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "dd6f03b1-e9e5-4907-a4e9-0a24e415deac"
                          },
                          "type": "If"
                        },
                        "Apply_to_each_4": {
                          "foreach": "@outputs('ListEmployment')?['body/value']",
                          "actions": {
                            "Local_Govt_Check_2": {
                              "actions": {
                                "5_years_or_less_2": {
                                  "actions": {
                                    "List_rows": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "d4a3adbb-d506-4cb6-a546-12ad951db083"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "ListRecords",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "crbb7_lbhannualleavedayses",
                                          "$filter": "crbb7_years eq @{variables('YearsLBHService NOW')}",
                                          "$orderby": "crbb7_annualleave desc",
                                          "$top": 1
                                        },
                                        "authentication": {
                                          "type": "Raw",
                                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                        }
                                      }
                                    },
                                    "Apply_to_each_5": {
                                      "foreach": "@outputs('List_rows')?['body/value']",
                                      "actions": {
                                        "Set_AL_Days_2": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "0ca09819-6142-439c-bf4c-a21324c0e131"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "AnnualLeaveDays",
                                            "value": "@items('Apply_to_each_5')?['crbb7_annualleave']"
                                          }
                                        },
                                        "Set_BH_Days_2": {
                                          "runAfter": {
                                            "Increment_variable": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "b0136cee-f72c-4944-86ab-c050fc3bee07"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "BankHolidayDays",
                                            "value": "@items('Apply_to_each_5')?['crbb7_bankholidaydays']"
                                          }
                                        },
                                        "Increment_variable": {
                                          "runAfter": {
                                            "Set_AL_Days_2": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "25569d49-b82c-4e84-99f3-d780a6019eeb"
                                          },
                                          "type": "IncrementVariable",
                                          "inputs": {
                                            "name": "AnnualLeaveDays",
                                            "value": 1
                                          }
                                        }
                                      },
                                      "runAfter": {
                                        "List_rows": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "2e3fb615-fc76-4d4b-8754-d4e5d861a5cf"
                                      },
                                      "type": "Foreach"
                                    }
                                  },
                                  "runAfter": {},
                                  "else": {
                                    "actions": {
                                      "List_rows_2": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "d0cff5cf-1ad8-4871-9053-8256e9305983"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "ListRecords",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "crbb7_lbhannualleavedayses",
                                            "$filter": "crbb7_years eq @{variables('YearsLBHService NOW')}",
                                            "$orderby": "crbb7_annualleave desc",
                                            "$top": 1
                                          },
                                          "authentication": {
                                            "type": "Raw",
                                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                          }
                                        }
                                      },
                                      "Apply_to_each_6": {
                                        "foreach": "@outputs('List_rows_2')?['body/value']",
                                        "actions": {
                                          "Set_AL_Days_no": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "82fbb0d6-83e2-4a80-a801-d72d5587c478"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "AnnualLeaveDays",
                                              "value": "@items('Apply_to_each_6')?['crbb7_annualleave']"
                                            }
                                          },
                                          "Set_BH_Days_no": {
                                            "runAfter": {
                                              "Increment_variable_2": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "36157dcb-1f02-49a3-8387-66d1c007e4b5"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "BankHolidayDays",
                                              "value": "@items('Apply_to_each_6')?['crbb7_bankholidaydays']"
                                            }
                                          },
                                          "Increment_variable_2": {
                                            "runAfter": {
                                              "Set_AL_Days_no": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "00b76d12-8f36-4d64-8a8b-239b733a6107"
                                            },
                                            "type": "IncrementVariable",
                                            "inputs": {
                                              "name": "AnnualLeaveDays",
                                              "value": 1
                                            }
                                          }
                                        },
                                        "runAfter": {
                                          "List_rows_2": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "3c5812be-f3d5-4697-a6f7-cf18521b0032"
                                        },
                                        "type": "Foreach"
                                      }
                                    }
                                  },
                                  "expression": {
                                    "lessOrEquals": [
                                      "@variables('YearsLBHService NOW')",
                                      5
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "374f728c-acd0-4b1a-84ac-05424560b553"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {},
                              "else": {
                                "actions": {
                                  "Is_Harrow_Service_5_or_more_2": {
                                    "actions": {
                                      "List_rows_3": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "e44d0599-5b05-438a-a045-f29467f7dc47"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps_1",
                                            "operationId": "ListRecords",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "crbb7_lbhannualleavedayses",
                                            "$filter": "crbb7_years eq @{variables('YearsLBHService NOW')}",
                                            "$top": 1
                                          },
                                          "authentication": {
                                            "type": "Raw",
                                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                          }
                                        }
                                      },
                                      "Apply_to_each_7": {
                                        "foreach": "@outputs('List_rows_3')?['body/value']",
                                        "actions": {
                                          "Set_AL_Days_3_no_no": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "0ff7a29f-fcac-4c1e-9d9d-bb50803ac0f0"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "AnnualLeaveDays",
                                              "value": "@items('Apply_to_each_7')?['crbb7_annualleave']"
                                            }
                                          },
                                          "Set_BH_Days_3_no_no": {
                                            "runAfter": {
                                              "Increment_variable_3": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "b043356b-69dc-42ea-9ba0-0ee8b996a11f"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "BankHolidayDays",
                                              "value": "@items('Apply_to_each_7')?['crbb7_bankholidaydays']"
                                            }
                                          },
                                          "Increment_variable_3": {
                                            "runAfter": {
                                              "Set_AL_Days_3_no_no": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "79b80775-dcf9-4f64-9e7c-0bc7987c0c1d"
                                            },
                                            "type": "IncrementVariable",
                                            "inputs": {
                                              "name": "AnnualLeaveDays",
                                              "value": 1
                                            }
                                          }
                                        },
                                        "runAfter": {
                                          "List_rows_3": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "d449464d-d2da-40bb-8c14-028ad09b064c"
                                        },
                                        "type": "Foreach"
                                      }
                                    },
                                    "runAfter": {},
                                    "else": {
                                      "actions": {
                                        "OriginalHireDateStartTick_2": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "3d1332b2-53f6-4dbe-a77a-d791ecb5e959"
                                          },
                                          "type": "Compose",
                                          "inputs": "@ticks(outputs('GetWorker')?['body/mserp_originalhiredatetime'])"
                                        },
                                        "UTCNow_2": {
                                          "runAfter": {
                                            "OriginalHireDateStartTick_2": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "513cd0f5-504b-4653-9fcf-4edbb1ec23db"
                                          },
                                          "type": "Compose",
                                          "inputs": "@ticks(outputs('GetPositionDetails')?['body/mserp_validfrom'])"
                                        },
                                        "LocalGovService_2": {
                                          "runAfter": {
                                            "UTCNow_2": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "050143d0-e27b-4c3c-85fb-86bfb783df27"
                                          },
                                          "type": "Compose",
                                          "inputs": "@div(div(mul(sub(outputs('UTCNow_2'), outputs('OriginalHireDateStartTick_2')), 100), 1000000000), 31536000)"
                                        },
                                        "Total_Service_2": {
                                          "runAfter": {
                                            "LocalGovService_2": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "2a6ee936-d418-4285-b4b3-732740b16286"
                                          },
                                          "type": "Compose",
                                          "inputs": "@add(variables('YearsLBHService NOW'), outputs('LocalGovService_2'))"
                                        },
                                        "List_rows_4": {
                                          "runAfter": {
                                            "Total_Service_2": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "ecf6e998-283a-4437-8adb-d0b1e8e759e0"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps",
                                              "operationId": "ListRecords",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "crbb7_localgovernmentleavedayses",
                                              "$filter": "crbb7_years eq @{outputs('Total_Service_2')}",
                                              "$top": 1
                                            },
                                            "authentication": {
                                              "type": "Raw",
                                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                            }
                                          }
                                        },
                                        "Apply_to_each_8": {
                                          "foreach": "@outputs('List_rows_4')?['body/value']",
                                          "actions": {
                                            "Set_variable_3": {
                                              "runAfter": {},
                                              "metadata": {
                                                "operationMetadataId": "4887a2b9-6212-4d2d-b1da-73c10ef08c6e"
                                              },
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "AnnualLeaveDays",
                                                "value": "@items('Apply_to_each_8')?['crbb7_annualleavedays']"
                                              }
                                            },
                                            "Set_variable_4": {
                                              "runAfter": {
                                                "Increment_variable_4": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "3d5a1853-6846-4e4e-a59e-ae71671dcb68"
                                              },
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "BankHolidayDays",
                                                "value": "@items('Apply_to_each_8')?['crbb7_bankholidaydays']"
                                              }
                                            },
                                            "Increment_variable_4": {
                                              "runAfter": {
                                                "Set_variable_3": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "0f8a92d8-c5bc-4963-b4af-98d6990321d7"
                                              },
                                              "type": "IncrementVariable",
                                              "inputs": {
                                                "name": "AnnualLeaveDays",
                                                "value": 1
                                              }
                                            }
                                          },
                                          "runAfter": {
                                            "List_rows_4": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "18496b3c-bb9f-4f1d-b2a0-346f9478afb4"
                                          },
                                          "type": "Foreach"
                                        }
                                      }
                                    },
                                    "expression": {
                                      "greater": [
                                        "@variables('YearsLBHService NOW')",
                                        5
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "b66e46ad-78aa-43af-89c5-991ad602b825"
                                    },
                                    "type": "If"
                                  }
                                }
                              },
                              "expression": {
                                "equals": [
                                  "@outputs('GetEmploymentStartDate_2')?['body/mserp_employmentstartdate']",
                                  "@outputs('GetWorker')?['body/mserp_originalhiredatetime']"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b85ff844-ae11-4d8b-b6ec-0fc0dbdb12e6"
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {
                            "Is_it_Jan_Feb_or_March_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "c117d650-b029-422e-92a8-4526b8c7aa27"
                          },
                          "type": "Foreach"
                        },
                        "Compose_2": {
                          "runAfter": {
                            "EmploymentStartTimeTickValue_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2f8aae17-e9ff-4f11-b9fb-c52e41da5df0"
                          },
                          "type": "Compose",
                          "inputs": "@{outputs('GetEmploymentStartDate_2')?['body/mserp_employmentstartdate']}|||  @{outputs('GetPositionDetails')?['body/mserp_validfrom']}"
                        }
                      },
                      "runAfter": {
                        "ListEmployment": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "50ab58b5-8f50-4c40-a88a-c3a031f292ae"
                      },
                      "type": "Foreach"
                    },
                    "CalculateAnnualLeaveWeeks": {
                      "runAfter": {
                        "Apply_to_each_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2d68918d-7afc-40e3-b5f6-0bfe9838b157"
                      },
                      "type": "Compose",
                      "inputs": "@div(variables('AnnualLeaveDays'), 5)"
                    },
                    "CalculateBankHolidayWeeks": {
                      "runAfter": {
                        "CalculateAnnualLeaveWeeks": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "197c5b80-e179-4fcc-9a85-b252de427f64"
                      },
                      "type": "Compose",
                      "inputs": "@div(variables('BankHolidayDays'), 5)"
                    },
                    "CalculateTotalHolidayWeeks": {
                      "runAfter": {
                        "CalculateBankHolidayWeeks": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d221fe33-55b4-436a-a410-0a20e64d3cc2"
                      },
                      "type": "Compose",
                      "inputs": "@add(outputs('CalculateBankHolidayWeeks'), outputs('CalculateAnnualLeaveWeeks'))"
                    },
                    "CalculateTotalWorkedWeeks": {
                      "runAfter": {
                        "CalculateTotalHolidayWeeks": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3696fbe4-ed0d-4089-9e45-3fc0b807e064"
                      },
                      "type": "Compose",
                      "inputs": "@sub(52, outputs('CalculateTotalHolidayWeeks'))"
                    },
                    "CalculatePossibleHoursPerYear": {
                      "runAfter": {
                        "CalculateTotalWorkedWeeks": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "66a531a8-f3eb-4371-970d-c1beca55ab83"
                      },
                      "type": "Compose",
                      "inputs": "@mul(outputs('CalculateTotalWorkedWeeks'), 36)"
                    },
                    "ActualWorkedHoursPerYear": {
                      "runAfter": {
                        "CalculatePossibleHoursPerYear": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "848424e5-45c0-4a34-b364-c6d43964a3c0"
                      },
                      "type": "Compose",
                      "inputs": "@mul(outputs('GetPositionDetails')?['body/mserp_pwcpositionhoursperweek_custom'], outputs('GetPositionDetails')?['body/mserp_pwcpositionweeksperyear_custom'])"
                    },
                    "FTECalculation": {
                      "runAfter": {
                        "ActualWorkedHoursPerYear": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e0bea3f9-010c-40e9-bd55-a1bd25d3a7cb"
                      },
                      "type": "Compose",
                      "inputs": "@div(outputs('ActualWorkedHoursPerYear'), outputs('CalculatePossibleHoursPerYear'))"
                    },
                    "Format_number_EF_2": {
                      "runAfter": {
                        "FTECalculation": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0a15827d-8f33-4039-8010-afe6ee8650eb"
                      },
                      "type": "Expression",
                      "kind": "FormatNumber",
                      "inputs": {
                        "number": "@outputs('FTECalculation')",
                        "format": "0#.####"
                      }
                    },
                    "Format_number_for_FTE_2": {
                      "runAfter": {
                        "Format_number_EF_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "57dcaf85-33b7-4cef-808d-91fa6c1649ea"
                      },
                      "type": "Expression",
                      "kind": "FormatNumber",
                      "inputs": {
                        "number": "@outputs('FTECalculation')",
                        "format": "#.##"
                      }
                    },
                    "Send_an_email_notification_(V3)": {
                      "runAfter": {
                        "Update_a_record_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "9581ce73-4860-446d-b9ca-01312f1f546a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sendmail",
                          "operationId": "SendEmailV3",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                        },
                        "parameters": {
                          "request/to": "@{parameters('MSSAPPEmail (crbb7_MSSAPPEmail)')};",
                          "request/subject": "@{variables('WorkerNumber')}-@{variables('WorkerName')} Change of hours  @{items('Apply_to_each')?['mserp_positionid']}",
                          "request/text": "<p>@{parameters('EnvSubj (crbb7_EnvSubj)')}<br>\nThis worker has had their hours changed in MSS.<br>\nManager: @{variables('Manager Name')}<br>\nEffective: &nbsp;@{outputs('FormatEffectiveDateForEmail')}<br>\nNew hours:@{outputs('Update_a_record_2')?['body/PwcPositionHoursPerWeek_Custom']}<br>\nEnd date (if applicable):@{outputs('FormatEndDateTemporaryForEmail')}<br>\nTerm time: Yes<br>\nFTE:&nbsp;&nbsp;@{outputs('Update_a_record_2')?['body/PwCEmploymentFactor_Custom']}</p>"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "Update_a_record_2": {
                      "runAfter": {
                        "Format_number_for_FTE_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5f529ddc-18f1-48e9-88e7-1fcd85838330"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_dynamicsax_1",
                          "operationId": "PatchItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_dynamicsax"
                        },
                        "parameters": {
                          "dataset": "@parameters('D365FOURL (crbb7_D365FOURL)')",
                          "table": "PositionDetails",
                          "id": "@{outputs('GetPositionDetails')?['body/mserp_positionid']},@{outputs('GetPositionDetails')?['body/mserp_validfrom']},@{outputs('GetPositionDetails')?['body/mserp_validto']}",
                          "item/PositionId": "@outputs('GetPositionDetails')?['body/mserp_positionid']",
                          "item/JobId": "@outputs('GetPositionDetails')?['body/mserp_jobid']",
                          "item/FullTimeEquivalent": "@body('Format_number_for_FTE_2')",
                          "item/PwCEmploymentFactor_Custom": "@body('Format_number_EF_2')"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "ListEmployment": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "878a612d-ff5a-4bbd-a28b-6c9c39e34885"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "mserp_hcmemploymententities",
                          "$filter": "_mserp_fk_employedworker_id_value eq '@{outputs('GetWorker')?['body/mserp_hcmworkerentityid']}'"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "WorkerName": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "FullTimeHoursPerWeekNonTerm": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "ab7a5152-9d6b-4b1e-8da9-0b13a542d9a3"
                        },
                        "type": "Compose",
                        "inputs": "@mul(variables('DailyHrs'), 5)"
                      },
                      "FTECalculationNonTerm": {
                        "runAfter": {
                          "FullTimeHoursPerWeekNonTerm": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "b3c0a445-6fc7-47e7-9826-9cc1936525b4"
                        },
                        "type": "Compose",
                        "inputs": "@div(outputs('GetPositionDetails')?['body/mserp_pwcpositionhoursperweek_custom'],outputs('FullTimeHoursPerWeekNonTerm'))"
                      },
                      "Format_number_for_EF": {
                        "runAfter": {
                          "FTECalculationNonTerm": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "38d11f2f-3c7e-4f56-8b03-2ee2421087ae"
                        },
                        "type": "Expression",
                        "kind": "FormatNumber",
                        "inputs": {
                          "number": "@outputs('FTECalculationNonTerm')",
                          "format": "0#.####"
                        }
                      },
                      "Format_number_for_FTE": {
                        "runAfter": {
                          "Format_number_for_EF": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "1876390d-8d07-41b4-8fac-50bd47052149"
                        },
                        "type": "Expression",
                        "kind": "FormatNumber",
                        "inputs": {
                          "number": "@outputs('FTECalculationNonTerm')",
                          "format": "#.##"
                        }
                      },
                      "Send_an_email_notification_(V3)_2": {
                        "runAfter": {
                          "Update_a_record": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "d5a95a4c-058b-4335-a842-d46a7709975b"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_sendmail",
                            "operationId": "SendEmailV3",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                          },
                          "parameters": {
                            "request/to": "@{parameters('MSSAPPEmail (crbb7_MSSAPPEmail)')};",
                            "request/subject": "@{variables('WorkerNumber')}-@{variables('WorkerName')} Change of hours @{items('Apply_to_each')?['mserp_positionid']}",
                            "request/text": "<p>@{parameters('EnvSubj (crbb7_EnvSubj)')}<br>\nThis worker has had their hours changed in MSS.<br>\n<br>\nManager: @{variables('Manager Name')}<br>\nEffective: @{outputs('FormatEffectiveDateForEmail')}<br>\nNew hours:@{outputs('Update_a_record')?['body/PwcPositionHoursPerWeek_Custom']}<br>\nEnd date (if applicable):@{outputs('FormatEndDateTemporaryForEmail')}<br>\nTerm time: No<br>\nFTE:&nbsp;@{outputs('Update_a_record')?['body/PwCEmploymentFactor_Custom']}</p>"
                          },
                          "authentication": {
                            "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                          }
                        }
                      },
                      "Update_a_record": {
                        "runAfter": {
                          "Format_number_for_FTE": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "edc8cfc7-2689-439f-b7ee-4f1095dc41b7"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_dynamicsax_1",
                            "operationId": "PatchItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_dynamicsax"
                          },
                          "parameters": {
                            "dataset": "@parameters('D365FOURL (crbb7_D365FOURL)')",
                            "table": "PositionDetails",
                            "id": "@{outputs('GetPositionDetails')?['body/mserp_positionid']},@{outputs('GetPositionDetails')?['body/mserp_validfrom']},@{outputs('GetPositionDetails')?['body/mserp_validto']}",
                            "item/PositionId": "@outputs('GetPositionDetails')?['body/mserp_positionid']",
                            "item/JobId": "@outputs('GetPositionDetails')?['body/mserp_jobid']",
                            "item/FullTimeEquivalent": "@body('Format_number_for_FTE')",
                            "item/PwCEmploymentFactor_Custom": "@body('Format_number_for_EF')"
                          },
                          "authentication": {
                            "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@outputs('GetPositionDetails')?['body/mserp_pwctermtime_custom']",
                      200000001
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5024fc16-50f0-4e6b-8d91-2c961bb4cc77"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "PositionAssignment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9dbf9bc7-59ee-40a1-ab43-e517925a4b10"
              },
              "type": "Foreach"
            },
            "PositionAssignment": {
              "runAfter": {
                "FormatEndDateTemporaryForEmail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e32fe2b0-aed4-475f-b743-ec7cf224f2e7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mserp_hcmpositionworkerassignmentv2entities",
                  "$filter": "mserp_positionid eq '@{outputs('GetPositionDetails')?['body/mserp_positionid']}'"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Convert_time_zone": {
              "runAfter": {
                "GetPositionDetails": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "247ac580-bc0a-46c4-b6e7-d4bec6da8c31"
              },
              "type": "Expression",
              "kind": "ConvertTimeZone",
              "inputs": {
                "baseTime": "@outputs('GetPositionDetails')?['body/mserp_validfrom']",
                "formatString": "dd/MM/yyyy",
                "sourceTimeZone": "GMT Standard Time",
                "destinationTimeZone": "UTC"
              }
            },
            "FormatEndDateTemporaryForEmail": {
              "runAfter": {
                "FormatEffectiveDateForEmail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1ed6a707-ebd2-418f-a07e-51a9502980aa"
              },
              "type": "Compose",
              "inputs": "@If(Empty(items('Apply_to_each')?['mserp_pwctemporaryhoursenddate_custom']),'',formatDateTime(items('Apply_to_each')?['mserp_pwctemporaryhoursenddate_custom'],'dd/MM/yyyy'))"
            }
          },
          "runAfter": {
            "ListPositionDetails": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2d85d2f0-62a0-4359-9c84-b89da8d79921"
          },
          "type": "Foreach"
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "739585a4-ac90-48d9-91f5-3d5c6ac4760a"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "Success"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "List_rows_5": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "34091500-d45f-4a7c-9fcc-64737fa9d515"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mserp_hcmpositionv2entities",
              "$filter": "mserp_positionid eq '@{triggerBody()['text']}'",
              "$top": 1
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each_9": {
          "foreach": "@outputs('List_rows_5')?['body/value']",
          "actions": {
            "Get_Job_Position": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "cd975437-9da4-4606-88fa-27ad0ddb6c4e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mserp_hcmpositionv2entities",
                  "recordId": "@items('Apply_to_each_9')?['mserp_hcmpositionv2entityid']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_Job": {
              "runAfter": {
                "Get_Job_Position": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8741316e-52e7-43d3-a924-420d8ee8732a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mserp_hcmjobentities",
                  "recordId": "@outputs('Get_Job_Position')?['body/_mserp_fk_job_id_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_Job_Function": {
              "runAfter": {
                "Get_Job": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ef079efa-0dcc-4d07-8388-406b5a536ec9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mserp_hcmjobfunctionentities",
                  "recordId": "@outputs('Get_Job')?['body/_mserp_fk_jobfunction_id_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_a_record": {
              "runAfter": {
                "Get_Job_Function": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "825aea56-e244-44db-afbb-671c15ec70c4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_dynamicsax_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_dynamicsax"
                },
                "parameters": {
                  "dataset": "@parameters('D365FOURL (crbb7_D365FOURL)')",
                  "table": "PHROccupationsCollection",
                  "id": "1000,@{outputs('Get_Job_Function')?['body/mserp_jobfunctionid']},2008-01-01T12:00:00Z"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_a_record_": {
              "runAfter": {
                "Get_a_record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2129c922-e3b3-4c9a-98d2-d3706fcc0c67"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_dynamicsax_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_dynamicsax"
                },
                "parameters": {
                  "dataset": "@parameters('D365FOURL (crbb7_D365FOURL)')",
                  "table": "PHRUnionAfflnsCollection",
                  "id": "@{outputs('Get_a_record')?['body/dataAreaId']},@{outputs('Get_a_record')?['body/UnionAfflnCode']},2005-01-01T12:00:00Z"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Set_variable_5": {
              "runAfter": {
                "Get_a_record_": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7d55524c-e9e5-4f7a-a39d-9f4b7321ecb5"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "DailyHours",
                "value": "@outputs('Get_a_record_')?['body/DailyHrs']"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_Float": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "051ab204-fb77-4464-ba2d-e51af7ea5727"
          },
          "type": "Foreach"
        },
        "Compose": {
          "runAfter": {
            "List_rows_5": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a803155c-4d68-453a-8168-5f1f78b188ac"
          },
          "type": "Compose",
          "inputs": "@outputs('List_rows_5')?['body/value']"
        },
        "Initialize_variable_-_Float": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "12df0f5a-220f-4563-b105-2718724b411d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DailyHours",
                "type": "float"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}