LogicApps/PROD/LBH_LA_FIN_HRFO_JobCertificate/LBH_LA_FIN_HRFO_JobCertificate/LogicApp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_PwC_LA_FIN_HRFO_JobCertificate_Prod_name": {
            "defaultValue": "PwC_LA_FIN_HRFO_JobCertificate_Prod",
            "type": "String"
        },
        "connections_dynamicsax_externalid": {
            "defaultValue": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/resourceGroups/lbh-prd-uks-fno-rg-03/providers/Microsoft.Web/connections/dynamicsax",
            "type": "String"
        },
        "connections_webcontents_externalid": {
            "defaultValue": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/resourceGroups/lbh-prd-uks-fno-rg-03/providers/Microsoft.Web/connections/webcontents",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_PwC_LA_FIN_HRFO_JobCertificate_Prod_name')]",
            "location": "uksouth",
            "tags": {
                "Availability": "24h7",
                "Cost Centre": "1040",
                "Department": "Finance_HR",
                "Environment": "PRD",
                "Owner": "platformteam@harrow.gov.uk",
                "Service": "Dynamics F&O"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "execute": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Certificatetypeexportstatus",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "CertificateTypePackageUrl",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_3": {
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "CheckCertificateTypeImportStatus",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_4": {
                            "runAfter": {
                                "Initialize_variable_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "JobCertificatetypeexp",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_5": {
                            "runAfter": {
                                "Initialize_variable_4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Jobcertificatepackageurl",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Job_certificate": {
                            "actions": {
                                "Check_Job_certificate_export_status": {
                                    "actions": {
                                        "Delay_3": {
                                            "runAfter": {},
                                            "type": "Wait",
                                            "inputs": {
                                                "interval": {
                                                    "count": 30,
                                                    "unit": "Second"
                                                }
                                            }
                                        },
                                        "Get_Job_certificate_export_status": {
                                            "runAfter": {
                                                "Delay_3": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": "@{base64(concat('{\"executionId\":\"',body('Export_job_certificate')['Value'],'\"}'))}",
                                                    "method": "POST",
                                                    "url": "https://aos-rts-sf-31a27fe6cd3-prod-uksouth.hr.talent.dynamics.com/namespaces/cbcc9e8e-d635-49c3-9f58-309c7f579b78/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['webcontents_1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/codeless/InvokeHttp"
                                            }
                                        },
                                        "Set_variable_4": {
                                            "runAfter": {
                                                "Get_Job_certificate_export_status": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "JobCertificatetypeexp",
                                                "value": "@{body('Get_Job_certificate_export_status')['Value']}"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Export_job_certificate": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": "@equals(variables('JobCertificatetypeexp'), 'Succeeded')",
                                    "limit": {
                                        "count": 10,
                                        "timeout": "PT1H"
                                    },
                                    "type": "Until"
                                },
                                "Export_job_certificate": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "body": "@{base64(concat('{','\n','    \"definitionGroupId\":\"PwCJobCertificateTypeExp\",','\n','    \"packageName\":\"jobcertificatetype.zip\",','\n','    \"executionId\":\"',variables('jobcertificateexecutionid'),'\",','\n','    \"reExecute\":false,','\n','    \"legalEntityId\":\"1000\"','\n','}'))}",
                                            "method": "POST",
                                            "url": "https://aos-rts-sf-31a27fe6cd3-prod-uksouth.hr.talent.dynamics.com/namespaces/cbcc9e8e-d635-49c3-9f58-309c7f579b78/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ExportToPackage"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['webcontents_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/codeless/InvokeHttp"
                                    }
                                },
                                "Get_Job_certificate_package_url": {
                                    "runAfter": {
                                        "Check_Job_certificate_export_status": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "body": "@{base64(concat('{\"executionId\":\"',body('Export_job_certificate')['Value'],'\"}'))}",
                                            "method": "POST",
                                            "url": "https://aos-rts-sf-31a27fe6cd3-prod-uksouth.hr.talent.dynamics.com/namespaces/cbcc9e8e-d635-49c3-9f58-309c7f579b78/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExportedPackageUrl"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['webcontents_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/codeless/InvokeHttp"
                                    }
                                },
                                "Import_Job_certificate": {
                                    "runAfter": {
                                        "Set_variable_5": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "definitionGroupId": "PwCJobCertificateTypeImp",
                                            "execute": true,
                                            "legalEntityId": "1000",
                                            "overwrite": true,
                                            "packageUrl": "@variables('Jobcertificatepackageurl')"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['dynamicsax']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('lbh-fo-prod.operations.dynamics.com'))}/procedures/@{encodeURIComponent(encodeURIComponent('DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ImportFromPackage'))}"
                                    }
                                },
                                "Set_variable_5": {
                                    "runAfter": {
                                        "Get_Job_certificate_package_url": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "Jobcertificatepackageurl",
                                        "value": "@{body('Get_Job_certificate_package_url')['Value']}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Job_certificate_execution_id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Job_certificate_execution_id": {
                            "runAfter": {
                                "Initialize_variable_5": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "jobcertificateexecutionid",
                                        "type": "string",
                                        "value": "jobcertificate@{formatdatetime(utcnow(),'yyyyMMddHHmm')}"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "dynamicsax": {
                                "connectionId": "[parameters('connections_dynamicsax_externalid')]",
                                "connectionName": "dynamicsax",
                                "id": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/providers/Microsoft.Web/locations/uksouth/managedApis/dynamicsax"
                            },
                            "webcontents_1": {
                                "connectionId": "[parameters('connections_webcontents_externalid')]",
                                "connectionName": "webcontents",
                                "id": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/providers/Microsoft.Web/locations/uksouth/managedApis/webcontents"
                            }
                        }
                    }
                }
            }
        }
    ]
}