PowerApps/LBHBackEndFTEOnly/Unmanaged/Workflows/PwCLBHFTEBackendCalculationV2-DBA37A65-147B-EE11-8179-0022481B5DBB.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "crbb7_sharedcommondataserviceforapps_f0055"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_dynamicsax_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "crbb7_shareddynamicsax_446fd"
        },
        "api": {
          "name": "shared_dynamicsax"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "crbb7_sharedcommondataserviceforapps_f0055"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "43a9d69a-500f-42a2-90f7-a1603931430d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "mserp_hcmpositionv2entity",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Position": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ed74beae-2b74-447f-9521-ffec126febfb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mserp_hcmpositionv2entities",
              "recordId": "@triggerOutputs()?['body/mserp_hcmpositionv2entityid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Job": {
          "runAfter": {
            "Get_Position": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "53bf1693-6da0-4b1a-ba7a-00ef1b1c58c3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mserp_hcmjobentities",
              "recordId": "@outputs('Get_Position')?['body/_mserp_fk_job_id_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Job_Function": {
          "runAfter": {
            "Get_Job": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ae5263cd-7da3-4138-afa7-e60fead7e5de"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mserp_hcmjobfunctionentities",
              "recordId": "@outputs('Get_Job')?['body/_mserp_fk_jobfunction_id_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Occupation": {
          "runAfter": {
            "Get_Job_Function": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "658113b6-f5c1-405e-abdd-f1d043a85627"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_dynamicsax_2",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_dynamicsax"
            },
            "parameters": {
              "dataset": "lbh-fo-dev-13faa0db13ed451c72devaos.axcloud.dynamics.com",
              "table": "PHROccupationsCollection",
              "id": "1000,@{outputs('Get_Job_Function')?['body/mserp_jobfunctionid']},2008-01-01T12:00:00Z"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Union_Affil": {
          "runAfter": {
            "Get_Occupation": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "659ae919-4832-4c63-a3c4-e9b6bb233155"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_dynamicsax_2",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_dynamicsax"
            },
            "parameters": {
              "dataset": "lbh-fo-dev-13faa0db13ed451c72devaos.axcloud.dynamics.com",
              "table": "PHRUnionAfflnsCollection",
              "id": "@{outputs('Get_Occupation')?['body/dataAreaId']},@{outputs('Get_Occupation')?['body/UnionAfflnCode']},2005-01-01T12:00:00Z"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable,_WorkerNumber": {
          "runAfter": {
            "Get_Union_Affil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1d222556-02e0-4512-8dd8-bf72350424de"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "WorkerNumber",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable,_Annual_Leave_Days": {
          "runAfter": {
            "Get_Union_Affil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f2acc896-b58f-4b24-914a-f10b5b66fa63"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AnnualLeaveDays",
                "type": "float"
              }
            ]
          }
        },
        "Initialize_variable,_Bank_Holiday_Days": {
          "runAfter": {
            "Get_Union_Affil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9e8d0ab6-d2da-4c20-a404-23aedbd5e5c9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BankHolidayDays",
                "type": "float"
              }
            ]
          }
        },
        "Initialize_variable,_YearsLocalGovService": {
          "runAfter": {
            "Get_Union_Affil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bb228eef-5834-41af-afd9-91a3d0777b2a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "YearsLocalGovService",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_variable,_Year": {
          "runAfter": {
            "Get_Union_Affil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "18dcc53c-aae8-4b5e-83a0-efb84bc69a6b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Year",
                "type": "string",
                "value": "@{formatDateTime(utcNow(),'yyyy')}"
              }
            ]
          }
        },
        "Initialize_variable,_Month_Number": {
          "runAfter": {
            "Initialize_variable,_Year": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dc660dbb-77ac-4314-b813-c8fdabc99d3c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MonthNumber",
                "type": "string"
              }
            ]
          }
        },
        "Get_past_time": {
          "runAfter": {
            "Initialize_variable,_Month_Number": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c3f81877-a0a9-463c-bfa7-37ce1aed22c6"
          },
          "type": "Expression",
          "kind": "GetPastTime",
          "inputs": {
            "interval": 12,
            "timeUnit": "Month"
          }
        },
        "Initialize_variable,_Last_Year": {
          "runAfter": {
            "Get_past_time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ccce6372-5f9a-4d9c-a181-2cbba030d5f6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LastYear",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable,_DailyHours": {
          "runAfter": {
            "Get_Union_Affil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7a269871-f102-46e4-a057-907c9d271bc4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DailyHrs",
                "type": "float",
                "value": "@outputs('Get_Union_Affil')?['body/DailyHrs']"
              }
            ]
          }
        },
        "Initialize_variable,_March_Number": {
          "runAfter": {
            "Initialize_variable,_DailyHours": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c946251a-4edc-4ca9-b14f-17b339a1736d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "March Number",
                "type": "string",
                "value": "03"
              }
            ]
          }
        },
        "Initialize_variable,_YearsLBHServiceNow": {
          "runAfter": {
            "Get_Union_Affil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e81fee88-963a-4f33-a4c1-498f8f1c076e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "YearsLBHService NOW",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_variable,_YearsLBHServiceApril": {
          "runAfter": {
            "Initialize_variable,_YearsLBHServiceNow": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "02539eb8-def8-4970-8b8c-1b5f8bdc7904"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "YearsServiceApril",
                "type": "integer"
              }
            ]
          }
        },
        "List_Position_Details": {
          "runAfter": {
            "Initialize_variable,_WorkerNumber": [
              "Succeeded"
            ],
            "Initialize_variable,_Annual_Leave_Days": [
              "Succeeded"
            ],
            "Initialize_variable,_Bank_Holiday_Days": [
              "Succeeded"
            ],
            "Initialize_variable,_YearsLocalGovService": [
              "Succeeded"
            ],
            "Initialize_variable,_March_Number": [
              "Succeeded"
            ],
            "Initialize_variable,_YearsLBHServiceApril": [
              "Succeeded"
            ],
            "Initialize_variable,_Last_Year": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9ff5fdae-15bd-4499-8dba-1fe38cf60d01"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mserp_hcmpositiondetailentities",
              "$filter": "mserp_positionid eq '@{outputs('Get_Position')?['body/mserp_positionid']}'",
              "$orderby": "mserp_validto desc",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_Position_Details')?['body/value']",
          "actions": {
            "Get_Position_Details": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ce5aa7f9-823c-450f-8267-842cbc5925c5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mserp_hcmpositiondetailentities",
                  "recordId": "@items('Apply_to_each')?['mserp_hcmpositiondetailentityid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Convert_time_zone": {
              "runAfter": {
                "Get_Position_Details": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f6101694-27b3-4e06-9556-b4c896deafd7"
              },
              "type": "Expression",
              "kind": "ConvertTimeZone",
              "inputs": {
                "baseTime": "@outputs('Get_Position_Details')?['body/mserp_validfrom']",
                "formatString": "dd/MM/yyyy",
                "sourceTimeZone": "GMT Standard Time",
                "destinationTimeZone": "UTC"
              }
            },
            "Condition": {
              "actions": {
                "Position_Assignments": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "376998ec-2274-4f21-bb2e-5f17e4e75315"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "mserp_hcmpositionworkerassignmentv2entities",
                      "$filter": "_mserp_fk_position_id_value eq '@{outputs('Get_Position')?['body/mserp_hcmpositionv2entityid']}'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Find_Worker": {
                  "foreach": "@outputs('Position_Assignments')?['body/value']",
                  "actions": {
                    "Get_Worker": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "966bb1af-83d1-4232-8fb2-aa1f26888e1a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "mserp_hcmworkerentities",
                          "recordId": "@items('Find_Worker')?['_mserp_fk_worker_id_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_Worker_Number": {
                      "runAfter": {
                        "Get_Worker": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "9c0c568c-f216-463d-b5a9-22a0f49be353"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "WorkerNumber",
                        "value": "@outputs('Get_Worker')?['body/mserp_hcmworkerentityid']"
                      }
                    },
                    "List_Employment": {
                      "runAfter": {
                        "Set_Worker_Number": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "9f5b2a7c-94d7-403a-a0f0-46c3e29e37e4"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "mserp_hcmemploymententities",
                          "$filter": "_mserp_fk_employedworker_id_value eq '@{outputs('Get_Worker')?['body/mserp_hcmworkerentityid']}'"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Apply_to_each_2": {
                      "foreach": "@outputs('List_Employment')?['body/value']",
                      "actions": {
                        "Get_Employment_Start_Date": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "2a8c1eb5-fe1c-4265-ac13-a83294f8e53a"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "mserp_hcmemploymententities",
                              "recordId": "@items('Apply_to_each_2')?['mserp_hcmemploymententityid']",
                              "$select": "mserp_employmentstartdate"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Employment_Start_Time_Tick_Value": {
                          "runAfter": {
                            "Get_Employment_Start_Date": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "1da0c629-249a-489f-b722-363e2df88a03"
                          },
                          "type": "Compose",
                          "inputs": "@ticks(outputs('Get_Employment_Start_Date')?['body/mserp_employmentstartdate'])"
                        },
                        "Date_Of_Effective": {
                          "runAfter": {
                            "Employment_Start_Time_Tick_Value": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "336beb3c-4841-4869-b598-8c6bcd4b3cf9"
                          },
                          "type": "Compose",
                          "inputs": "@ticks(outputs('Get_Position_Details')?['body/mserp_validfrom'])"
                        },
                        "Employees_Harrow_Service_Up_To_Effective_Date": {
                          "runAfter": {
                            "Date_Of_Effective": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f5075efd-55d1-4351-9362-6175ed2b9c62"
                          },
                          "type": "Compose",
                          "inputs": "@div(div(mul(sub(outputs('Date_Of_Effective'), outputs('Employment_Start_Time_Tick_Value')), 100), 1000000000), 31536000)"
                        },
                        "Set_LBH_Service": {
                          "runAfter": {
                            "Employees_Harrow_Service_Up_To_Effective_Date": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "8d5f038b-0914-4796-9957-726458ac7f59"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "YearsLBHService NOW",
                            "value": "@outputs('Employees_Harrow_Service_Up_To_Effective_Date')"
                          }
                        },
                        "Compose": {
                          "runAfter": {
                            "Set_LBH_Service": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "61796c85-7aad-479a-8181-514e2bb15d78"
                          },
                          "type": "Compose",
                          "inputs": "@outputs('Get_Position_Details')?['body/mserp_validfrom']"
                        },
                        "Get_Month_Number": {
                          "runAfter": {
                            "Compose": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "002ec511-fd1c-410d-8e76-77a75b8092a2"
                          },
                          "type": "Compose",
                          "inputs": "@substring(body('Convert_time_zone'),3,2)"
                        },
                        "Set_variable_7,_Month_Number": {
                          "runAfter": {
                            "Get_Month_Number": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f8a6891d-104f-45e5-99ca-8f59bfac870d"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "MonthNumber",
                            "value": "@{outputs('Get_Month_Number')}"
                          }
                        },
                        "Get_Year_Effective": {
                          "runAfter": {
                            "Set_variable_7,_Month_Number": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "9b23f59f-3052-4ad2-9ffc-e1140dbcc5f6"
                          },
                          "type": "Compose",
                          "inputs": "@formatDateTime(outputs('Get_Position_Details')?['body/mserp_validfrom'], 'yyyy')"
                        },
                        "Set_Effective_Year": {
                          "runAfter": {
                            "Get_Year_Effective": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "6889009f-1903-4d81-a290-35be632e071d"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Year",
                            "value": "@{outputs('Get_Year_Effective')}"
                          }
                        },
                        "Is_it_Jan_Feb_or_March": {
                          "actions": {
                            "Set_Last_Year": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "4ef145f8-70e8-4e9e-add4-f71a65299182"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "LastYear",
                                "value": "@{subtractFromTime(outputs('Get_Position_Details')?['body/mserp_validfrom'], 1, 'Year', 'yyyy')}"
                              }
                            },
                            "Get_1st_April_Last_Year": {
                              "runAfter": {
                                "Set_Last_Year": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "cacac99c-7aa5-49c9-bad5-6c61c6df9c81"
                              },
                              "type": "Compose",
                              "inputs": "@{variables('LastYear')}-04-01T00:00:00Z"
                            },
                            "End_Time_Tick_Value_Last_Year": {
                              "runAfter": {
                                "Get_1st_April_Last_Year": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "1fa92c43-7c80-408a-952d-967acf3e5cff"
                              },
                              "type": "Compose",
                              "inputs": "@ticks(outputs('Get_1st_April_Last_Year'))"
                            },
                            "LBH_Service_Up_To_April_Last_Year": {
                              "runAfter": {
                                "End_Time_Tick_Value_Last_Year": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "cbe4dce2-fa90-4bcb-ac1c-4a8721967b98"
                              },
                              "type": "Compose",
                              "inputs": "@div(div(mul(sub(outputs('End_Time_Tick_Value_Last_Year'), outputs('Employment_Start_Time_Tick_Value')), 100), 1000000000), 31536000)"
                            },
                            "Set_Years_Service_in_April_Last_Year": {
                              "runAfter": {
                                "LBH_Service_Up_To_April_Last_Year": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "256a8ec0-9295-4014-9679-1f9ec6d30b0b"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "YearsServiceApril",
                                "value": "@outputs('LBH_Service_Up_To_April_Last_Year')"
                              }
                            }
                          },
                          "runAfter": {
                            "Set_Effective_Year": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Get_1st_April_That_Year": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "dbbad096-61b6-40ff-a583-204832884a64"
                                },
                                "type": "Compose",
                                "inputs": "@{variables('Year')}-04-01T00:00:00Z"
                              },
                              "End_Time_Tick_Value": {
                                "runAfter": {
                                  "Get_1st_April_That_Year": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "344066d7-f8d5-45e0-8805-1d519bf7a33e"
                                },
                                "type": "Compose",
                                "inputs": "@ticks(outputs('Get_1st_April_That_Year'))"
                              },
                              "LBH_Service_Up_To_April_This_Year": {
                                "runAfter": {
                                  "End_Time_Tick_Value": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "fa313e9e-a240-4265-b5ca-c836380df0cc"
                                },
                                "type": "Compose",
                                "inputs": "@div(div(mul(sub(outputs('End_Time_Tick_Value'), outputs('Employment_Start_Time_Tick_Value')), 100), 1000000000), 31536000)"
                              },
                              "Set_Years_Service_In_April_this_Year": {
                                "runAfter": {
                                  "LBH_Service_Up_To_April_This_Year": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "db0e1533-d855-4db8-861b-1bd8de6e3263"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "YearsServiceApril",
                                  "value": "@outputs('LBH_Service_Up_To_April_This_Year')"
                                }
                              }
                            }
                          },
                          "expression": {
                            "lessOrEquals": [
                              "@variables('MonthNumber')",
                              "@variables('March Number')"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "95c447ce-47a1-4f13-bbea-15a026b4abb2"
                          },
                          "type": "If"
                        },
                        "Apply_to_each_3": {
                          "foreach": "@outputs('List_Employment')?['body/value']",
                          "actions": {
                            "Local_Govt_Check": {
                              "actions": {
                                "5_years_or_less": {
                                  "actions": {
                                    "List_rows": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "756810ba-ec99-49b0-9192-bc357677e609"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "ListRecords",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "crbb7_lbhannualleavedayses",
                                          "$filter": "crbb7_years eq @{variables('YearsLBHService NOW')}",
                                          "$orderby": "crbb7_annualleave desc",
                                          "$top": 1
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Apply_to_each_4": {
                                      "foreach": "@outputs('List_rows')?['body/value']",
                                      "actions": {
                                        "Set_AL_Days": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "6e178088-4945-425d-9c43-6f196b029fd4"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "AnnualLeaveDays",
                                            "value": "@items('Apply_to_each_4')?['crbb7_annualleave']"
                                          }
                                        },
                                        "Increment_variable": {
                                          "runAfter": {
                                            "Set_AL_Days": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "fc5544cf-4f30-4141-850a-11ca6ebd2ea5"
                                          },
                                          "type": "IncrementVariable",
                                          "inputs": {
                                            "name": "AnnualLeaveDays",
                                            "value": 1
                                          }
                                        },
                                        "Compose_2": {
                                          "runAfter": {
                                            "Increment_variable": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "93ebdae3-0b26-4221-bd62-351bdbd2ee32"
                                          },
                                          "type": "Compose",
                                          "inputs": "@variables('AnnualLeaveDays')"
                                        },
                                        "Set_BH_Days": {
                                          "runAfter": {
                                            "Compose_2": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "cf36101b-fd23-4139-85d0-cde4d94fa01d"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "BankHolidayDays",
                                            "value": "@items('Apply_to_each_4')?['crbb7_bankholidaydays']"
                                          }
                                        }
                                      },
                                      "runAfter": {
                                        "List_rows": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "dbf01123-93eb-4210-bc2d-f2d8bcd67f50"
                                      },
                                      "type": "Foreach"
                                    }
                                  },
                                  "runAfter": {},
                                  "else": {
                                    "actions": {
                                      "List_rows_2": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "c2925457-562e-4434-962d-aa823209fcc2"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "ListRecords",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "crbb7_lbhannualleavedayses",
                                            "$filter": "crbb7_years eq @{variables('YearsServiceApril')}",
                                            "$orderby": "crbb7_annualleave desc",
                                            "$top": 1
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      },
                                      "Apply_to_each_5": {
                                        "foreach": "@outputs('List_rows_2')?['body/value']",
                                        "actions": {
                                          "Set_variable": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "251acb13-2c62-4fb2-9cf3-d92df476608a"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "AnnualLeaveDays",
                                              "value": "@items('Apply_to_each_5')?['crbb7_annualleave']"
                                            }
                                          },
                                          "Increment_variable_2": {
                                            "runAfter": {
                                              "Set_variable": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "0829e003-1b12-4ee5-87b2-b039a7c9cf4a"
                                            },
                                            "type": "IncrementVariable",
                                            "inputs": {
                                              "name": "AnnualLeaveDays",
                                              "value": 1
                                            }
                                          },
                                          "Compose_3": {
                                            "runAfter": {
                                              "Increment_variable_2": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "6d3fd376-fcf2-41bf-ad27-12ed116e268a"
                                            },
                                            "type": "Compose",
                                            "inputs": "@variables('AnnualLeaveDays')"
                                          },
                                          "Set_variable_2": {
                                            "runAfter": {
                                              "Compose_3": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "bcc1d432-817e-4fdc-b4ea-6aa8db46077b"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "BankHolidayDays",
                                              "value": "@items('Apply_to_each_5')?['crbb7_bankholidaydays']"
                                            }
                                          }
                                        },
                                        "runAfter": {
                                          "List_rows_2": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "d0b427fc-ac56-4a3e-aad9-159463bc5d15"
                                        },
                                        "type": "Foreach"
                                      }
                                    }
                                  },
                                  "expression": {
                                    "lessOrEquals": [
                                      "@variables('YearsLBHService NOW')",
                                      5
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "9090d9d4-e68e-43be-a47f-c90a583ebaa3"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {},
                              "else": {
                                "actions": {
                                  "Is_Harrow_Service_5_or_more": {
                                    "actions": {
                                      "List_rows_3": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "1d6261e6-3301-4c9d-abd5-84a24054b9a1"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "ListRecords",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "crbb7_lbhannualleavedayses",
                                            "$filter": "crbb7_years eq @{variables('YearsServiceApril')}",
                                            "$top": 1
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      },
                                      "Apply_to_each_6": {
                                        "foreach": "@outputs('List_rows_3')?['body/value']",
                                        "actions": {
                                          "Set_variable_3": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "cd2eba56-14b1-4a15-9d26-ef85c721b8d5"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "AnnualLeaveDays",
                                              "value": "@items('Apply_to_each_6')?['crbb7_annualleave']"
                                            }
                                          },
                                          "Increment_variable_3": {
                                            "runAfter": {
                                              "Set_variable_3": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "e80c90fb-8e40-489f-b024-01ae1f5fac77"
                                            },
                                            "type": "IncrementVariable",
                                            "inputs": {
                                              "name": "AnnualLeaveDays",
                                              "value": 1
                                            }
                                          },
                                          "Compose_4": {
                                            "runAfter": {
                                              "Increment_variable_3": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "a66c094e-8d82-41f8-949f-1a0a1c1523f2"
                                            },
                                            "type": "Compose",
                                            "inputs": "@variables('AnnualLeaveDays')"
                                          },
                                          "Set_variable_4": {
                                            "runAfter": {
                                              "Compose_4": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "95aa2142-2424-4085-b592-ace720686f72"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "BankHolidayDays",
                                              "value": "@items('Apply_to_each_6')?['crbb7_bankholidaydays']"
                                            }
                                          }
                                        },
                                        "runAfter": {
                                          "List_rows_3": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "caa389ae-944c-485b-a854-bdb7acbfd93d"
                                        },
                                        "type": "Foreach"
                                      }
                                    },
                                    "runAfter": {},
                                    "else": {
                                      "actions": {
                                        "Original_Hire_Date_Start_Tick": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "4406431f-331b-4586-a7df-1698bdccccf5"
                                          },
                                          "type": "Compose",
                                          "inputs": "@ticks(outputs('Get_Worker')?['body/crbb7_originalhiredate'])"
                                        },
                                        "UTC_Now": {
                                          "runAfter": {
                                            "Original_Hire_Date_Start_Tick": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "545ba0f8-9ae7-4825-b654-e740244ba0eb"
                                          },
                                          "type": "Compose",
                                          "inputs": "@ticks(outputs('Get_Position_Details')?['body/mshr_validfrom'])"
                                        },
                                        "Local_Gov_Service": {
                                          "runAfter": {
                                            "UTC_Now": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "d40093a7-5495-4be2-87a7-51d2e796ac94"
                                          },
                                          "type": "Compose",
                                          "inputs": "@div(div(mul(sub(outputs('UTC_Now'), outputs('Original_Hire_Date_Start_Tick')), 100), 1000000000), 31536000)"
                                        },
                                        "Total_Service": {
                                          "runAfter": {
                                            "Local_Gov_Service": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "9177d820-72c5-4bac-a3ec-fe9798e431b8"
                                          },
                                          "type": "Compose",
                                          "inputs": "@add(variables('YearsLBHService NOW'), outputs('Local_Gov_Service'))"
                                        },
                                        "List_rows_4": {
                                          "runAfter": {
                                            "Total_Service": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "f1d2bdbe-e19e-490c-acfa-9d9bdaf7a260"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps",
                                              "operationId": "ListRecords",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "crbb7_localgovernmentleavedayses",
                                              "$filter": "crbb7_years eq @{outputs('Total_Service')}",
                                              "$top": 1
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Apply_to_each_7": {
                                          "foreach": "@outputs('List_rows_4')?['body/value']",
                                          "actions": {
                                            "Set_variable_5": {
                                              "runAfter": {},
                                              "metadata": {
                                                "operationMetadataId": "d1ffe6a5-e6d4-47ac-b9f6-9de41e2e12e5"
                                              },
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "AnnualLeaveDays",
                                                "value": "@items('Apply_to_each_7')?['crbb7_annualleavedays']"
                                              }
                                            },
                                            "Increment_variable_4": {
                                              "runAfter": {
                                                "Set_variable_5": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "9ba36d50-62a5-4901-a86e-7f33bddac2b4"
                                              },
                                              "type": "IncrementVariable",
                                              "inputs": {
                                                "name": "AnnualLeaveDays",
                                                "value": 1
                                              }
                                            },
                                            "Compose_5": {
                                              "runAfter": {
                                                "Increment_variable_4": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "0cb989f5-f92b-4929-a82e-66b438d5e617"
                                              },
                                              "type": "Compose",
                                              "inputs": "@variables('AnnualLeaveDays')"
                                            },
                                            "Set_variable_6": {
                                              "runAfter": {
                                                "Compose_5": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "c0b523fb-8e78-4848-8098-8853cc9fc3ee"
                                              },
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "BankHolidayDays",
                                                "value": "@items('Apply_to_each_7')?['crbb7_bankholidaydays']"
                                              }
                                            }
                                          },
                                          "runAfter": {
                                            "List_rows_4": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "02bba30d-65c5-4e17-b7c7-c2f1c5c544c1"
                                          },
                                          "type": "Foreach"
                                        }
                                      }
                                    },
                                    "expression": {
                                      "greater": [
                                        "@variables('YearsLBHService NOW')",
                                        5
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "41e88149-7e00-412f-85f4-2bc28b0b5849"
                                    },
                                    "type": "If"
                                  }
                                }
                              },
                              "expression": {
                                "equals": [
                                  "@outputs('Get_Employment_Start_Date')?['body/mserp_employmentstartdate']",
                                  "@outputs('Get_Worker')?['body/mserp_originalhiredatetime']"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "88115fa1-4c18-47d7-83b0-f056c9ae9022"
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {
                            "Is_it_Jan_Feb_or_March": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "245f06db-efe7-4c86-b6ad-aa86d4f0e791"
                          },
                          "type": "Foreach"
                        }
                      },
                      "runAfter": {
                        "List_Employment": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1f73aae9-889d-424a-a265-1841484367ff"
                      },
                      "type": "Foreach"
                    }
                  },
                  "runAfter": {
                    "Position_Assignments": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3b7e740b-87ef-456d-9269-b5fbc6f93a23"
                  },
                  "type": "Foreach"
                },
                "Calculate_Annual_Leave_Weeks": {
                  "runAfter": {
                    "Find_Worker": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ca5fe6bc-8f93-4dd8-a0e5-f7ec41a23ae0"
                  },
                  "type": "Compose",
                  "inputs": "@div(variables('AnnualLeaveDays'), 5)"
                },
                "Calculate_Bank_Holiday_Weeks": {
                  "runAfter": {
                    "Calculate_Annual_Leave_Weeks": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e31cff0e-d869-47d1-8346-5e6a9bc871c0"
                  },
                  "type": "Compose",
                  "inputs": "@div(variables('BankHolidayDays'), 5)"
                },
                "Calculate_Total_Holiday_Weeks": {
                  "runAfter": {
                    "Calculate_Bank_Holiday_Weeks": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0aa8a56c-a5e3-4041-8747-b78a3df1eb6d"
                  },
                  "type": "Compose",
                  "inputs": "@add(outputs('Calculate_Bank_Holiday_Weeks'), outputs('Calculate_Annual_Leave_Weeks'))"
                },
                "Calculate_Total_Worked_Weeks": {
                  "runAfter": {
                    "Calculate_Total_Holiday_Weeks": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f3d61243-ae1f-4ba1-aca8-36f9f3ca4965"
                  },
                  "type": "Compose",
                  "inputs": "@sub(52, outputs('Calculate_Total_Holiday_Weeks'))"
                },
                "Calculate_Possible_Hours_Per_Year": {
                  "runAfter": {
                    "Calculate_Total_Worked_Weeks": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "425255b1-a6f0-460f-ae7c-bf5f81a2a0d4"
                  },
                  "type": "Compose",
                  "inputs": "@mul(outputs('Calculate_Total_Worked_Weeks'), 36)"
                },
                "Actual_Worked_Hours_Per_Year": {
                  "runAfter": {
                    "Calculate_Possible_Hours_Per_Year": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a669da92-e369-4502-b2ad-36386b8df896"
                  },
                  "type": "Compose",
                  "inputs": "@mul(outputs('Get_Position_Details')?['body/mserp_pwcpositionhoursperweek_custom'], outputs('Get_Position_Details')?['body/mserp_pwcpositionweeksperyear_custom'])"
                },
                "FTE_Calculation": {
                  "runAfter": {
                    "Actual_Worked_Hours_Per_Year": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b27dc120-3cd6-4946-b66b-9834cbf72ed8"
                  },
                  "type": "Compose",
                  "inputs": "@div(outputs('Actual_Worked_Hours_Per_Year'), outputs('Calculate_Possible_Hours_Per_Year'))"
                },
                "Format_number": {
                  "runAfter": {
                    "FTE_Calculation": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1114f1ea-9757-44df-9064-3a520faf0f76"
                  },
                  "type": "Expression",
                  "kind": "FormatNumber",
                  "inputs": {
                    "number": "@outputs('FTE_Calculation')",
                    "format": "0#.####"
                  }
                },
                "Format_number_3": {
                  "runAfter": {
                    "Format_number": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cbc0d73b-554e-4947-a985-6a5f6fd5d71a"
                  },
                  "type": "Expression",
                  "kind": "FormatNumber",
                  "inputs": {
                    "number": "@outputs('FTE_Calculation')",
                    "format": "#.##"
                  }
                },
                "Update_a_row_2": {
                  "runAfter": {
                    "Format_number_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5e73e40e-51c9-445c-afe1-f7e308f93b2a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "mserp_hcmpositiondetailentities",
                      "recordId": "@outputs('Get_Position_Details')?['body/mserp_hcmpositiondetailentityid']",
                      "item/mserp_pwcemploymentfactor_custom": "@body('Format_number')",
                      "item/mserp_fulltimeequivalent": "@body('Format_number_3')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Compose_6": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "FullTimeHoursPerWeekNonTerm": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "e9fa2fde-6648-4fa4-b122-e337b312b3d0"
                    },
                    "type": "Compose",
                    "inputs": "@mul(variables('DailyHrs'), 5)"
                  },
                  "FTECalculationNonTerm": {
                    "runAfter": {
                      "FullTimeHoursPerWeekNonTerm": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f060b882-1889-4c4b-af43-7c814d92c939"
                    },
                    "type": "Compose",
                    "inputs": "@div(outputs('Get_Position_Details')?['body/mserp_pwcpositionhoursperweek_custom'],outputs('FullTimeHoursPerWeekNonTerm'))"
                  },
                  "Format_number_for_EF": {
                    "runAfter": {
                      "FTECalculationNonTerm": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "678752d8-4cfd-433d-8cab-f0243ed72f0b"
                    },
                    "type": "Expression",
                    "kind": "FormatNumber",
                    "inputs": {
                      "number": "@outputs('FTECalculationNonTerm')",
                      "format": "0#.####"
                    }
                  },
                  "Format_number_2": {
                    "runAfter": {
                      "Format_number_for_EF": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "92dc6d8d-8229-4e4f-85fd-50a3ccb8564f"
                    },
                    "type": "Expression",
                    "kind": "FormatNumber",
                    "inputs": {
                      "number": "@outputs('FTECalculationNonTerm')",
                      "format": "0#.##"
                    }
                  },
                  "Update_a_row": {
                    "runAfter": {
                      "Format_number_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "67699374-acdd-4050-82fa-0b8b988944e9"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "mserp_hcmpositiondetailentities",
                        "recordId": "@outputs('Get_Position_Details')?['body/mserp_hcmpositiondetailentityid']",
                        "item/mserp_pwcemploymentfactor_custom": "@body('Format_number_for_EF')",
                        "item/mserp_fulltimeequivalent": "@body('Format_number_2')",
                        "item/mserp_pwcpositionweeksperyear_custom": 0
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@items('Apply_to_each')?['mserp_pwctermtime_custom']",
                  200000001
                ]
              },
              "metadata": {
                "operationMetadataId": "1edb2fb4-5801-4ac8-8cd1-28ca3bbadcde"
              },
              "type": "If"
            },
            "Compose_6": {
              "runAfter": {
                "Convert_time_zone": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c6a2d32e-d7d0-41f5-8f4a-1f5c8bf0dacc"
              },
              "type": "Compose",
              "inputs": "@body('Convert_time_zone')"
            }
          },
          "runAfter": {
            "List_Position_Details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1f7bea0e-52c8-45a9-aa3a-534c8853d029"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}