LogicApps/Preprod/LBH_LA_FIN_FMS3a_GLLineImport/LBH_LA_FIN_FMS3a_GLLineImport/LogicApp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_PwC_LA_FIN_FMS3a_GLLineImport_PreProd_name": {
            "defaultValue": "PwC_LA_FIN_FMS3a_GLLineImport_PreProd",
            "type": "String"
        },
        "connections_azureblob_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/azureblob",
            "type": "String"
        },
        "connections_azurefile_1_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/azurefile-1",
            "type": "String"
        },
        "connections_dynamicsax_5_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/dynamicsax-5",
            "type": "String"
        },
        "connections_smtp_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/smtp",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_PwC_LA_FIN_FMS3a_GLLineImport_PreProd_name')]",
            "location": "uksouth",
            "tags": {
                "Availability": "24h7",
                "Cost Centre": "1040",
                "Department": "Finance_HR",
                "Environment": "NPRD",
                "Owner": "platformteam@harrow.gov.uk",
                "Service": "Dynamics F&O"
            },
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Week",
                                "interval": 1,
                                "schedule": {
                                    "weekDays": [
                                        "Sunday"
                                    ]
                                },
                                "startTime": "2021-10-24T01:00:00",
                                "timeZone": "GMT Standard Time"
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Week",
                                "interval": 1,
                                "schedule": {
                                    "weekDays": [
                                        "Sunday"
                                    ]
                                },
                                "startTime": "2021-10-24T01:00:00",
                                "timeZone": "GMT Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Condition_2": {
                            "actions": {
                                "Send_Email_(V3)": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "<p><strong>Hi Team,<br>\nDuplicate file has been detected. Don't reply to this mail. This is a system generated mail. Keep in touch with D365 ERP team for more details.<br>\n<br>\nDuplicate file name :</strong><br>\n@{variables('Duplicate file name')}</p>",
                                            "From": "D365_MailSys_FO_Dev@harrow.gov.uk",
                                            "Subject": "FMS integration error log",
                                            "To": "@variables('SendEmailTo')"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['smtp']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/SendEmailV3"
                                    }
                                }
                            },
                            "runAfter": {
                                "For_each_-_Iterate_each_file_inside_storage_location": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@variables('Duplicate file name')",
                                                ""
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Delay": {
                            "runAfter": {
                                "HTTP_-_Move_files_from_Secured_to_Intermediate_AFS": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 1,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "For_each_-_Iterate_each_file_inside_storage_location": {
                            "foreach": "@body('List_files_-_Get_SIM3a_text_file_from_storage')?['value']",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Create_file_-_Create_file_in_error_folder_for_duplicate": {
                                            "runAfter": {
                                                "Get_file_content_Get_file_content_from_SIM3a_for_duplicate_file": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": "@body('Get_file_content_Get_file_content_from_SIM3a_for_duplicate_file')",
                                                "headers": {
                                                    "ReadFileMetadataFromServer": true
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/datasets/default/files",
                                                "queries": {
                                                    "folderPath": "/@{variables('IntermediateFileShareName')}/FMS3a/Error",
                                                    "name": "@variables('SIM3aFileName')",
                                                    "queryParametersSingleEncoded": true
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Delete_file_-_Delete_file_from_orig_folder_duplicate": {
                                            "runAfter": {
                                                "Create_file_-_Create_file_in_error_folder_for_duplicate": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "metadata": {
                                                "JTJmbGJoLWRldiUyZlNJTTNhJTJmc291cmNlJTJmUkQxMjIwMTkudmF0LnR4dA==": "/lbh-dev/SIM3a/source/RD122019.vat.txt"
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "headers": {
                                                    "SkipDeleteIfFileNotFoundOnServer": false
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                    }
                                                },
                                                "method": "delete",
                                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/',variables('IntermediateFileShareName'),'/FMS3a/Source/',variables('SIM3aFileName')))}"
                                            }
                                        },
                                        "Get_file_content_Get_file_content_from_SIM3a_for_duplicate_file": {
                                            "runAfter": {
                                                "Set_variable": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/',variables('IntermediateFileShareName'),'/FMS3a/Source/',variables('SIM3aFileName')))}/content",
                                                "queries": {
                                                    "inferContentType": true
                                                }
                                            }
                                        },
                                        "Set_variable": {
                                            "runAfter": {
                                                "Set_variable_-_Duplicate_file_name_temp": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "Duplicate file name",
                                                "value": "@{concat(variables('DuplicateFileNameTmp'),',',variables('Sim3aFIleName'))}"
                                            }
                                        },
                                        "Set_variable_-_Duplicate_file_name_temp": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "DuplicateFileNameTmp",
                                                "value": "@variables('Duplicate file name')"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "For_each": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Create_file-_Create_file_in_error_folder": {
                                                "runAfter": {
                                                    "Get_file_content-Get_file_content_from_SIM3a_tmp_for_error": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "@body('Get_file_content-Get_file_content_from_SIM3a_tmp_for_error')",
                                                    "headers": {
                                                        "ReadFileMetadataFromServer": true
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/datasets/default/files",
                                                    "queries": {
                                                        "folderPath": "/@{variables('IntermediateFileShareName')}/FMS3a/Error",
                                                        "name": "@{items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName']}",
                                                        "queryParametersSingleEncoded": true
                                                    }
                                                },
                                                "runtimeConfiguration": {
                                                    "contentTransfer": {
                                                        "transferMode": "Chunked"
                                                    }
                                                }
                                            },
                                            "Create_file-_Error_handling": {
                                                "runAfter": {
                                                    "Get_file_content": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "@body('Get_file_content')",
                                                    "headers": {
                                                        "ReadFileMetadataFromServer": true
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/datasets/default/files",
                                                    "queries": {
                                                        "folderPath": "/@{variables('IntermediateFileShareName')}/FMS3a/Error",
                                                        "name": "@{items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName']}",
                                                        "queryParametersSingleEncoded": true
                                                    }
                                                },
                                                "runtimeConfiguration": {
                                                    "contentTransfer": {
                                                        "transferMode": "Chunked"
                                                    }
                                                }
                                            },
                                            "Create_file_-_Create_file_in_success_folder": {
                                                "runAfter": {
                                                    "Get_file_content_-_Get_file_content_from_SIM3a_file": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": "@body('Get_file_content_-_Get_file_content_from_SIM3a_file')",
                                                    "headers": {
                                                        "ReadFileMetadataFromServer": true
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/datasets/default/files",
                                                    "queries": {
                                                        "folderPath": "/@{variables('IntermediateFileShareName')}/FMS3a/Success",
                                                        "name": "@{items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName']}",
                                                        "queryParametersSingleEncoded": true
                                                    }
                                                },
                                                "runtimeConfiguration": {
                                                    "contentTransfer": {
                                                        "transferMode": "Chunked"
                                                    }
                                                }
                                            },
                                            "Delay_2": {
                                                "runAfter": {
                                                    "HTTP_-_Invoke_http_request": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Wait",
                                                "inputs": {
                                                    "interval": {
                                                        "count": 10,
                                                        "unit": "Second"
                                                    }
                                                }
                                            },
                                            "Delay_4": {
                                                "runAfter": {
                                                    "Set_variable_for_token": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Wait",
                                                "inputs": {
                                                    "interval": {
                                                        "count": 10,
                                                        "unit": "Second"
                                                    }
                                                }
                                            },
                                            "Delete_blob": {
                                                "runAfter": {
                                                    "Delete_file_-_Delete_orig_file_inside_temp": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                        }
                                                    },
                                                    "method": "delete",
                                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/sim3a/',items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName'],'.zip'))}"
                                                }
                                            },
                                            "Delete_blob_-_Delete_package_blob": {
                                                "runAfter": {
                                                    "Delete_file_-_Delete_file_from_temp_folder": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "metadata": {
                                                    "JTJmc2ltM2ElMmZTSU0zYS56aXA=": "/sim3a/SIM3a.zip"
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                                                        }
                                                    },
                                                    "method": "delete",
                                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/sim3a/',items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName'],'.zip'))}"
                                                }
                                            },
                                            "Delete_file": {
                                                "runAfter": {
                                                    "Delete_blob_-_Delete_package_blob": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                        }
                                                    },
                                                    "method": "delete",
                                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/',variables('IntermediateFileShareName'),'/FMS3a/PackageManifest/',items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName'],'.xlsx'))}"
                                                }
                                            },
                                            "Delete_file-_Delete_file_from_orig_folder": {
                                                "runAfter": {
                                                    "Create_file-_Create_file_in_error_folder": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                        }
                                                    },
                                                    "method": "delete",
                                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/',variables('IntermediateFileShareName'),'/FMS3a/Source/',items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName']))}"
                                                }
                                            },
                                            "Delete_file_-_Delete_file_from_temp_folder": {
                                                "runAfter": {
                                                    "Create_file_-_Create_file_in_success_folder": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                        }
                                                    },
                                                    "method": "delete",
                                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/',variables('IntermediateFileShareName'),'/FMS3a/Source/',body('Create_file_-_Create_file_in_success_folder')?['DisplayName']))}"
                                                }
                                            },
                                            "Delete_file_-_Delete_orig_file_inside_temp": {
                                                "runAfter": {
                                                    "Create_file-_Error_handling": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                        }
                                                    },
                                                    "method": "delete",
                                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/',variables('IntermediateFileShareName'),'/FMS3a/Source/',items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName']))}"
                                                }
                                            },
                                            "Delete_file_2": {
                                                "runAfter": {
                                                    "Delete_blob": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                        }
                                                    },
                                                    "method": "delete",
                                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/',variables('IntermediateFileShareName'),'/FMS3a/PackageManifest/',items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName'],'.xlsx'))}"
                                                }
                                            },
                                            "Get_file_content": {
                                                "runAfter": {
                                                    "HTTP_-_Invoke_http_request": [
                                                        "Failed",
                                                        "Skipped",
                                                        "TimedOut"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                        }
                                                    },
                                                    "method": "get",
                                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/',variables('IntermediateFileShareName'),'/FMS3a/Source/',variables('SIM3aFileName')))}/content",
                                                    "queries": {
                                                        "inferContentType": true
                                                    }
                                                }
                                            },
                                            "Get_file_content-Get_file_content_from_SIM3a_tmp_for_error": {
                                                "runAfter": {
                                                    "HTTP": [
                                                        "Failed",
                                                        "Skipped",
                                                        "TimedOut"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                        }
                                                    },
                                                    "method": "get",
                                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/',variables('IntermediateFileShareName'),'/FMS3a/Source/',variables('SIM3aFileName')))}/content",
                                                    "queries": {
                                                        "inferContentType": true
                                                    }
                                                }
                                            },
                                            "Get_file_content_-_Get_file_content_from_SIM3a_file": {
                                                "runAfter": {
                                                    "Delay_2": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                        }
                                                    },
                                                    "method": "get",
                                                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/',variables('IntermediateFileShareName'),'/FMS3a/Source/',items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName']))}/content",
                                                    "queries": {
                                                        "inferContentType": true
                                                    }
                                                }
                                            },
                                            "HTTP": {
                                                "runAfter": {
                                                    "HTTP-_Convert_text_file_to_Excel": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http",
                                                "inputs": {
                                                    "body": {
                                                        "blobContainer": "sim3a",
                                                        "blobStorageAccountThirdFile": "@{variables('IntermediateFileShareConStr')}",
                                                        "dataPackageFileName": "SIM3a data import to staging ent.xlsx",
                                                        "dirFirstFile": "FMS3a",
                                                        "dirSecondFile": "FMS3a",
                                                        "fileNameIncoming": "@{items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName']}.xlsx",
                                                        "fileNameOutgoing": "@{items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName']}.zip",
                                                        "fileNameSecondFile": "PackageHeader.zip",
                                                        "fileShareFirstFile": "@{variables('IntermediateFileShareName')}",
                                                        "fileShareSecondFile": "@{variables('IntermediateFileShareName')}",
                                                        "storageAccountFirstFile": "@{variables('IntermediateFileShareConStr')}",
                                                        "storageAccountSecondFile": "@{variables('IntermediateFileShareConStr')}",
                                                        "subDirFirstFile": "PackageManifest",
                                                        "subDirSecondFile": "PackageManifest"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://pwcfointexceltodatapackage.azurewebsites.net/api/CreateDataPackageFromExcel?code=Tb/haW8Z8wJKitFnEeThd7ZXvQH/0z4vAXurFWpP5aYCoQm10n7XWw=="
                                                }
                                            },
                                            "HTTP-_Convert_text_file_to_Excel": {
                                                "runAfter": {},
                                                "type": "Http",
                                                "inputs": {
                                                    "body": {
                                                        "dir": "FMS3a",
                                                        "field1": "VAT1",
                                                        "field2": "VAT2",
                                                        "field3": "MAINACC",
                                                        "field4": "DEBITAMOUNT",
                                                        "field5": "CREDITAMOUNT",
                                                        "field6": "FILEINFO1",
                                                        "field7": "FILEINFO2",
                                                        "field8": "FILEINFO3",
                                                        "fieldSheetName": "JournalCreation",
                                                        "fileName": "@items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName']",
                                                        "fileNameOutPut": "@{items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName']}.xlsx",
                                                        "fileShare": "@{variables('IntermediateFileShareName')}",
                                                        "storageAccount": "@{variables('IntermediateFileShareConStr')}",
                                                        "subDir": "Source",
                                                        "subDirOutPut": "PackageManifest"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://pwcfointtexttoexcelconversion.azurewebsites.net/api/TextToExcelConversion?code=YVeQ3ZWI9Jnr3c1ZIgjclSJPW1BqMVHlA/uWqhEdzp1RBwmhjcLLqg=="
                                                }
                                            },
                                            "HTTP_-_Get_access_token": {
                                                "runAfter": {
                                                    "Set_variable_-_Set_package_url": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http",
                                                "inputs": {
                                                    "body": "client_id=@{variables('CnientID')}&client_secret=@{variables('ClientSecret')}&grant_type=client_credentials&resource=@{variables('EnvironmentURL')}",
                                                    "headers": {
                                                        "Content-Type": "application/x-www-form-urlencoded"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://login.microsoftonline.com/d2c39953-a8db-4c3c-97f2-d2dc76fb3e2c/oauth2/token"
                                                }
                                            },
                                            "HTTP_-_Invoke_http_request": {
                                                "runAfter": {
                                                    "Delay_4": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Http",
                                                "inputs": {
                                                    "body": {
                                                        "definitionGroupId": "PwC_SIM3a_Import",
                                                        "execute": true,
                                                        "executionId": "",
                                                        "legalEntityId": "1000",
                                                        "overwrite": true,
                                                        "packageUrl": "@body('HTTP')"
                                                    },
                                                    "headers": {
                                                        "Authorization": "@variables('Token')"
                                                    },
                                                    "method": "POST",
                                                    "uri": "@{variables('EnvironmentURL')}/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ImportFromPackage"
                                                }
                                            },
                                            "Parse_JSON_for_auth_token": {
                                                "runAfter": {
                                                    "HTTP_-_Get_access_token": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson",
                                                "inputs": {
                                                    "content": "@body('HTTP_-_Get_access_token')",
                                                    "schema": {
                                                        "$schema": "http://json-schema.org/draft-04/schema#",
                                                        "properties": {
                                                            "access_token": {
                                                                "type": "string"
                                                            },
                                                            "expires_in": {
                                                                "type": "string"
                                                            },
                                                            "expires_on": {
                                                                "type": "string"
                                                            },
                                                            "ext_expires_in": {
                                                                "type": "string"
                                                            },
                                                            "not_before": {
                                                                "type": "string"
                                                            },
                                                            "resource": {
                                                                "type": "string"
                                                            },
                                                            "token_type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "token_type",
                                                            "expires_in",
                                                            "ext_expires_in",
                                                            "expires_on",
                                                            "not_before",
                                                            "resource",
                                                            "access_token"
                                                        ],
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "Set_variable_-_Set_package_url": {
                                                "runAfter": {
                                                    "HTTP": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "PackageUrl",
                                                    "value": "@{body('HTTP-_Convert_text_file_to_Excel')}"
                                                }
                                            },
                                            "Set_variable_for_token": {
                                                "runAfter": {
                                                    "Parse_JSON_for_auth_token": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "Token",
                                                    "value": "@{concat('Bearer ',body('Parse_JSON_for_auth_token')['access_token'])}"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@variables('RecordCheck')",
                                                    "@variables('SIM3aFileName')"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "For_each": {
                                    "foreach": "@body('Lists_items_present_in_table')?['value']",
                                    "actions": {
                                        "Set_variable_-_Record_check": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "RecordCheck",
                                                "value": "@items('For_each')?['FileInfo3']"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Lists_items_present_in_table": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Lists_items_present_in_table": {
                                    "runAfter": {
                                        "Set_variable_-_Set_text_file_name": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('lbh-fo-preprod.sandbox.operations.dynamics.com'))}/tables/@{encodeURIComponent(encodeURIComponent('PwCGLLineSIM3aEnt'))}/items",
                                        "queries": {
                                            "$filter": "FileInfo3 eq '@{items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName']}'",
                                            "$top": 1
                                        }
                                    }
                                },
                                "Set_variable_-_Set_text_file_name": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "SIM3aFileName",
                                        "value": "@items('For_each_-_Iterate_each_file_inside_storage_location')?['DisplayName']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "HTTP_-_Move_files_from_Secured_to_Intermediate_AFS": {
                            "runAfter": {
                                "Initialize_variable_-_SendEmailTo": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "Source": "@{variables('SecuredFileShareName')}/FMS3a/Source",
                                    "Target": "@{variables('IntermediateFileShareName')}/FMS3a/Source"
                                },
                                "method": "POST",
                                "uri": "https://prod-14.uksouth.logic.azure.com:443/workflows/929e01bc22d2498b903438577f92c38c/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Cm2h4cS5JBthGoGt89x9jOmiS3SaPxbM0-EvZOxNMCU"
                            }
                        },
                        "HTTP_-_Transfer_Error_Files": {
                            "runAfter": {
                                "HTTP__Transfer_success_files": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "Source": "@{variables('IntermediateFileShareName')}/SIM3a/Error",
                                    "Target": "@{variables('SecuredFileShareName')}/SIM3a/Error"
                                },
                                "method": "POST",
                                "uri": "https://prod-05.uksouth.logic.azure.com:443/workflows/2b6b13d4ac344f999839ab1ee0a23e18/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=G3l4KfaJdWA-bZVZC992n4BfV2_Kq05f81Y36a9h7bM"
                            }
                        },
                        "HTTP__Transfer_success_files": {
                            "runAfter": {
                                "Run_journal_creation_batch": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "Source": "@{variables('IntermediateFileShareName')}/SIM3a/Processed",
                                    "Target": "@{variables('SecuredFileShareName')}/SIM3a/Success"
                                },
                                "method": "POST",
                                "uri": "https://prod-05.uksouth.logic.azure.com:443/workflows/2b6b13d4ac344f999839ab1ee0a23e18/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=G3l4KfaJdWA-bZVZC992n4BfV2_Kq05f81Y36a9h7bM"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "Initialize_variable_-_Duplicate_filen_name_temp": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "RecordCheck",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_ClientId": {
                            "runAfter": {
                                "Initialize_variable_-_EnvironmentURL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "CnientID",
                                        "type": "string",
                                        "value": "9a0a0604-6c86-4ba3-894f-853e9f2b9252"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_ClientSecret": {
                            "runAfter": {
                                "Initialize_variable_-_ClientId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ClientSecret",
                                        "type": "string",
                                        "value": "1ix8h.1~ojzX7pj520djkZnAD7-yG.P7b3"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_Duplicate_file_name": {
                            "runAfter": {
                                "Initialize_variable_-_Text_file_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Duplicate file name",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_Duplicate_filen_name_temp": {
                            "runAfter": {
                                "Initialize_variable_-_Duplicate_file_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DuplicateFileNameTmp",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_EnvironmentURL": {
                            "runAfter": {
                                "Initialize_variable_-_IntermediateFileShareConStr": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "EnvironmentURL",
                                        "type": "string",
                                        "value": "https://lbh-fo-preprod.sandbox.operations.dynamics.com"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_IntermediateFileShareConStr": {
                            "runAfter": {
                                "Initialize_variable_-_IntermediateFileShareName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IntermediateFileShareConStr",
                                        "type": "string",
                                        "value": "DefaultEndpointsProtocol=https;AccountName=lbhnprduksd365sa02;AccountKey=o359HBPq50Q0YS2FZKGgqRalib7hhIC9p2/JqXlNL7ye2f15my2/65kLO+oBd1WBjnMS7lwTpnOXSY6fae8i3A==;EndpointSuffix=core.windows.net"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_IntermediateFileShareName": {
                            "runAfter": {
                                "Initialize_variable_-_SecuredFileShareName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IntermediateFileShareName",
                                        "type": "string",
                                        "value": "uat-file01"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_SecuredFileShareName": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SecuredFileShareName",
                                        "type": "string",
                                        "value": "uat-file01"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_SendEmailTo": {
                            "runAfter": {
                                "Initialize_variable_-_ClientSecret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SendEmailTo",
                                        "type": "string",
                                        "value": "aakash.d.agarwal@pwc.com"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_Text_file_name": {
                            "runAfter": {
                                "List_files_-_Get_SIM3a_text_file_from_storage": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SIM3aFileName",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_Import_package_url": {
                            "runAfter": {
                                "Delay": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "PackageUrl",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_Token_variable": {
                            "runAfter": {
                                "Initialize_variable_Import_package_url": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Token",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "List_files_-_Get_SIM3a_text_file_from_storage": {
                            "runAfter": {
                                "Initialize_variable_Token_variable": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "JTJmbGJoLWRldiUyZlNJTTNhJTJmc291cmNl": "/lbh-dev/SIM3a/source",
                                "JTJmbGJoLWRldiUyZlNJTTNhJTJmdGVtcA==": "/lbh-dev/SIM3a/temp",
                                "JTJmbGJoLXNpdHNhdCUyZlNJTTNhJTJmc291cmNl": "/lbh-sitsat/SIM3a/source"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurefile']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent('/',variables('IntermediateFileShareName'),'/FMS3a/Source'))}",
                                "queries": {
                                    "nextPageMarker": "",
                                    "useFlatListing": false
                                }
                            }
                        },
                        "Run_journal_creation_batch": {
                            "runAfter": {
                                "Terminate": [
                                    "TimedOut"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "_dataAreaId": "1000"
                                },
                                "headers": {
                                    "Authorization": "@variables('Token')"
                                },
                                "method": "POST",
                                "uri": "@{variables('EnvironmentURL')}/data/PwCGLLineSIM3aEnt/Microsoft.Dynamics.DataEntities.triggerBatchJob"
                            }
                        },
                        "Terminate": {
                            "runAfter": {
                                "Condition_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Terminate",
                            "inputs": {
                                "runStatus": "Succeeded"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[parameters('connections_azureblob_externalid')]",
                                "connectionName": "azureblob",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/azureblob"
                            },
                            "azureblob_1": {
                                "connectionId": "[parameters('connections_azureblob_externalid')]",
                                "connectionName": "azureblob",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/azureblob"
                            },
                            "azurefile": {
                                "connectionId": "[parameters('connections_azurefile_1_externalid')]",
                                "connectionName": "azurefile-1",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/azurefile"
                            },
                            "azurefile_1": {
                                "connectionId": "[parameters('connections_azurefile_1_externalid')]",
                                "connectionName": "azurefile-1",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/azurefile"
                            },
                            "dynamicsax_1": {
                                "connectionId": "[parameters('connections_dynamicsax_5_externalid')]",
                                "connectionName": "dynamicsax-5",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/dynamicsax"
                            },
                            "smtp": {
                                "connectionId": "[parameters('connections_smtp_externalid')]",
                                "connectionName": "smtp",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/smtp"
                            }
                        }
                    }
                }
            }
        }
    ]
}