LogicApps/PROD/LBH_LA_FIN_HRFO_OrgHierarchy/LBH_LA_FIN_HRFO_OrgHierarchy/LogicApp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_PwC_LA_FIN_HRFO_OrgHierarchy_Prod_name": {
            "defaultValue": "PwC_LA_FIN_HRFO_OrgHierarchy_Prod",
            "type": "String"
        },
        "connections_azurefile_1_externalid": {
            "defaultValue": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/resourceGroups/lbh-prd-uks-fno-rg-03/providers/Microsoft.Web/connections/azurefile-1",
            "type": "String"
        },
        "connections_dynamicsax_externalid": {
            "defaultValue": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/resourceGroups/lbh-prd-uks-fno-rg-03/providers/Microsoft.Web/connections/dynamicsax",
            "type": "String"
        },
        "connections_webcontents_externalid": {
            "defaultValue": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/resourceGroups/lbh-prd-uks-fno-rg-03/providers/Microsoft.Web/connections/webcontents",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_PwC_LA_FIN_HRFO_OrgHierarchy_Prod_name')]",
            "location": "uksouth",
            "tags": {
                "Availability": "24h7",
                "Cost Centre": "1040",
                "Department": "Finance_HR",
                "Environment": "PRD",
                "Owner": "platformteam@harrow.gov.uk",
                "Service": "Dynamics F&O"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "14",
                                        "18"
                                    ],
                                    "minutes": [
                                        46
                                    ]
                                },
                                "startTime": "2022-06-15T05:55:00",
                                "timeZone": "GMT Standard Time"
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "14",
                                        "18"
                                    ],
                                    "minutes": [
                                        46
                                    ]
                                },
                                "startTime": "2022-06-15T05:55:00",
                                "timeZone": "GMT Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Access_Token_-_Set_variable": {
                            "runAfter": {
                                "Parse_JSON_for_auth_token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Token",
                                "value": "@{concat('Bearer ',body('Parse_JSON_for_auth_token')['access_token'])}"
                            }
                        },
                        "Check_Execution_Status_-_Until": {
                            "actions": {
                                "Delay": {
                                    "runAfter": {},
                                    "type": "Wait",
                                    "inputs": {
                                        "interval": {
                                            "count": 30,
                                            "unit": "Second"
                                        }
                                    }
                                },
                                "Execution_status_-_Set_variable": {
                                    "runAfter": {
                                        "Get_execution_summary_status_-_Invoke_an_HTTP_request": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "ExecutionStatus",
                                        "value": "@{body('Get_execution_summary_status_-_Invoke_an_HTTP_request')['Value']}"
                                    }
                                },
                                "Get_execution_summary_status_-_Invoke_an_HTTP_request": {
                                    "runAfter": {
                                        "Delay": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "body": "@{base64(concat('{\"executionId\":\"',body('Invoke_an_HTTP_request')['value'],'\"}'))}",
                                            "method": "POST",
                                            "url": "https://aos-rts-sf-31a27fe6cd3-prod-uksouth.hr.talent.dynamics.com/namespaces/cbcc9e8e-d635-49c3-9f58-309c7f579b78/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['webcontents_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/codeless/InvokeHttp"
                                    }
                                }
                            },
                            "runAfter": {
                                "Execution_status_import_Org_hierarchy_-_Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@equals(variables('ExecutionStatus'), 'Succeeded')",
                            "limit": {
                                "count": 1,
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        },
                        "Delete_org_hierarchy_staging_-_Execute_action": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {},
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('lbh-fo-prod.operations.dynamics.com'))}/procedures/@{encodeURIComponent(encodeURIComponent('PwCD365HRFOOrgHierarchyImport/Microsoft.Dynamics.DataEntities.Predatasouredelete'))}"
                            }
                        },
                        "ExecuctionStatus_-Initialize_variable": {
                            "runAfter": {
                                "Invoke_an_HTTP_request": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ExecutionStatus",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Execution_status_Organization_hierarchy_export_-_Initialize_variable": {
                            "runAfter": {
                                "Execution_status_Organization_purpose_export_-_Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ExecutionStatusOrgHierarchyExport",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Execution_status_Organization_purpose_export_-_Initialize_variable": {
                            "runAfter": {
                                "Token_variable_Org_export_-_Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ExecutinStatusOrgPurposeExport",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Execution_status_import_Org_hierarchy_-_Initialize_variable": {
                            "runAfter": {
                                "Import_execution_status_Org_purpose_-_Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ExecutionStatusImportOrgHierarchy",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Get_ExportedPackageURL_-_Invoke_an_HTTP_request": {
                            "runAfter": {
                                "Check_Execution_Status_-_Until": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "@{base64(concat('{\"executionId\":\"',body('Invoke_an_HTTP_request')['value'],'\"}'))}",
                                    "method": "POST",
                                    "url": "https://aos-rts-sf-31a27fe6cd3-prod-uksouth.hr.talent.dynamics.com/namespaces/cbcc9e8e-d635-49c3-9f58-309c7f579b78/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExportedPackageUrl"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['webcontents_1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/codeless/InvokeHttp"
                            }
                        },
                        "Get_access_token_-_HTTP": {
                            "runAfter": {
                                "PackageUrl_variable_-_Set_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": "client_id=3e724262-bfc2-4407-95f9-17028e172cbe&client_secret=KkR8Q~Jp1Y2BfP60rkieGNszqp2zlU1y5CvNracw&grant_type=client_credentials&resource=https://lbh-fo-prod.operations.dynamics.com",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "method": "POST",
                                "uri": "https://login.microsoftonline.com/d2c39953-a8db-4c3c-97f2-d2dc76fb3e2c/oauth2/token"
                            }
                        },
                        "Import_execution_status_-_Initialize_variable": {
                            "runAfter": {
                                "Token_for_organization_hierarchy_import_-_Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ImportExecutionStatus",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Import_execution_status_Org_purpose_-_Initialize_variable": {
                            "runAfter": {
                                "Import_execution_status_-_Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ImportExecutionStatusOrgPurpose",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Import_the_Data_-_HTTP": {
                            "runAfter": {
                                "Access_Token_-_Set_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "definitionGroupId": "PwCOrganizationHierarchyType",
                                    "execute": true,
                                    "executionId": "",
                                    "legalEntityId": "1000",
                                    "overwrite": true,
                                    "packageUrl": "@variables('PackageUrl')"
                                },
                                "headers": {
                                    "Authorization": "@{variables('Token')}"
                                },
                                "method": "POST",
                                "uri": "https://lbh-fo-prod.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ImportFromPackage"
                            }
                        },
                        "Invoke_an_HTTP_request": {
                            "runAfter": {
                                "Org_hierarchy_execution_id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "@{base64(concat('{','\n','    \"definitionGroupId\":\"PwCOrganizationHierarchyType\",','\n','    \"packageName\":\"orghierarchytype.zip\",','\n','    \"executionId\":\"',variables('orghierarchytypeexecutionid'),'\",','\n','    \"reExecute\":false,','\n','    \"legalEntityId\":\"1000\"','\n','}'))}",
                                    "method": "POST",
                                    "url": "https://aos-rts-sf-31a27fe6cd3-prod-uksouth.hr.talent.dynamics.com/namespaces/cbcc9e8e-d635-49c3-9f58-309c7f579b78/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ExportToPackage"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['webcontents_1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/codeless/InvokeHttp"
                            }
                        },
                        "Org_Hierarchy_purpose_execution_id": {
                            "runAfter": {
                                "Org_Hierarchy_type_execution_id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "orghierarchypurposeexecutionid",
                                        "type": "string",
                                        "value": "orghierarchypurpose@{formatdatetime(utcnow(),'yyyyMMddHHmm')}"
                                    }
                                ]
                            }
                        },
                        "Org_Hierarchy_type_execution_id": {
                            "runAfter": {
                                "Delete_org_hierarchy_staging_-_Execute_action": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "orghierarchytypeexecutionid",
                                        "type": "string",
                                        "value": "orghierarchytype@{formatdatetime(utcnow(),'yyyyMMddHHmm')}"
                                    }
                                ]
                            }
                        },
                        "Org_hierarchy_execution_id": {
                            "runAfter": {
                                "Org_Hierarchy_purpose_execution_id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "OrgHierarchyexecutionid",
                                        "type": "string",
                                        "value": "OrgHierarchy@{formatdatetime(utcnow(),'yyyyMMddHHmm')}"
                                    }
                                ]
                            }
                        },
                        "Organization_hierarchy-Scope": {
                            "actions": {
                                "Check_execution_status_Organization_hierarchy_export_-Until": {
                                    "actions": {
                                        "Delay_4": {
                                            "runAfter": {},
                                            "type": "Wait",
                                            "inputs": {
                                                "interval": {
                                                    "count": 4,
                                                    "unit": "Minute"
                                                }
                                            }
                                        },
                                        "Execution_status_organization_hierarchy_export_-_Set_variable": {
                                            "runAfter": {
                                                "Organization_hierarchy_export_-_Invoke_an_HTTP_request": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "ExecutionStatusOrgHierarchyExport",
                                                "value": "@{body('Organization_hierarchy_export_-_Invoke_an_HTTP_request')['Value']}"
                                            }
                                        },
                                        "Organization_hierarchy_export_-_Invoke_an_HTTP_request": {
                                            "runAfter": {
                                                "Delay_4": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": "@{base64(concat('{\"executionId\":\"',body('Organization_hierarchy_export_-Invoke_an_HTTP_request')['Value'],'\"}'))}",
                                                    "method": "POST",
                                                    "url": "https://aos-rts-sf-31a27fe6cd3-prod-uksouth.hr.talent.dynamics.com/namespaces/cbcc9e8e-d635-49c3-9f58-309c7f579b78/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['webcontents_1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/codeless/InvokeHttp"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Organization_hierarchy_export_-Invoke_an_HTTP_request": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": "@equals(variables('ExecutionStatusOrgHierarchyExport'), 'Succeeded')",
                                    "limit": {
                                        "count": 2,
                                        "timeout": "PT1H"
                                    },
                                    "type": "Until"
                                },
                                "Create_file": {
                                    "runAfter": {
                                        "Get_Package_Url_Organization_Hierarchy_-_HTTP": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "@binary(body('Get_Package_Url_Organization_Hierarchy_-_HTTP'))",
                                        "headers": {
                                            "ReadFileMetadataFromServer": true
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "/prd-file01/D365HRFOIntegration/OrganizationHierarchy",
                                            "name": "HRFO.zip",
                                            "queryParametersSingleEncoded": true
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Create_file_2": {
                                    "runAfter": {
                                        "Get_file_content": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "@body('Get_file_content')",
                                        "headers": {
                                            "ReadFileMetadataFromServer": true
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "/prd-file01/D365HRFOIntegration/OrganizationHierarchy",
                                            "name": "D365HR FO organization hierarchy import.xlsx",
                                            "queryParametersSingleEncoded": true
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Delete_file_2": {
                                    "runAfter": {
                                        "For_each": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "headers": {
                                            "SkipDeleteIfFileNotFoundOnServer": false
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                            }
                                        },
                                        "method": "delete",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/prd-file01/D365HRFOIntegration/OrganizationHierarchy/D365HR FO organization hierarchy import.xlsx'))}"
                                    }
                                },
                                "Delete_file_3": {
                                    "runAfter": {
                                        "Delete_file_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "headers": {
                                            "SkipDeleteIfFileNotFoundOnServer": false
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                            }
                                        },
                                        "method": "delete",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/prd-file01/D365HRFOIntegration/OrganizationHierarchy/HRFO.zip'))}"
                                    }
                                },
                                "Extract_archive_to_folder": {
                                    "runAfter": {
                                        "Create_file": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/extractFolderV2",
                                        "queries": {
                                            "destination": "/prd-file01/D365HRFOIntegration/OrganizationHierarchy/temp",
                                            "overwrite": false,
                                            "queryParametersSingleEncoded": true,
                                            "source": "/prd-file01/D365HRFOIntegration/OrganizationHierarchy/HRFO.zip"
                                        }
                                    }
                                },
                                "For_each": {
                                    "foreach": "@body('List_files')?['value']",
                                    "actions": {
                                        "Delete_file": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "headers": {
                                                    "SkipDeleteIfFileNotFoundOnServer": false
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                    }
                                                },
                                                "method": "delete",
                                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(items('For_each')?['Path']))}"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "List_files": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Get_Package_Url_Organization_Hierarchy_-_HTTP": {
                                    "runAfter": {
                                        "Package_url_organization_hierarchy_-_Set_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "@variables('PackageUrlOrgHierarchyExport')"
                                    }
                                },
                                "Get_access_token_-_HTTP_2": {
                                    "runAfter": {
                                        "TalentTempUrl_-_Set_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": "client_id=3e724262-bfc2-4407-95f9-17028e172cbe&client_secret=KkR8Q~Jp1Y2BfP60rkieGNszqp2zlU1y5CvNracw&grant_type=client_credentials&resource=https://lbh-fo-prod.operations.dynamics.com",
                                        "headers": {
                                            "Content-Type": "application/x-www-form-urlencoded"
                                        },
                                        "method": "POST",
                                        "uri": "https://login.microsoftonline.com/d2c39953-a8db-4c3c-97f2-d2dc76fb3e2c/oauth2/token"
                                    }
                                },
                                "Get_file_content": {
                                    "runAfter": {
                                        "Extract_archive_to_folder": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/prd-file01/D365HRFOIntegration/OrganizationHierarchy/temp/Organization hierarchy V2 - published.xlsx'))}/content",
                                        "queries": {
                                            "inferContentType": true
                                        }
                                    }
                                },
                                "Get_file_content_2": {
                                    "runAfter": {
                                        "Until_4": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/prd-file01/D365HRFOIntegration/OrganizationHierarchy/HRFO.zip'))}/content",
                                        "queries": {
                                            "inferContentType": true
                                        }
                                    }
                                },
                                "Get_organization_hierarchy_package_url_-Invoke_an_HTTP_request": {
                                    "runAfter": {
                                        "Check_execution_status_Organization_hierarchy_export_-Until": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "body": "@{base64(concat('{\"executionId\":\"',body('Organization_hierarchy_export_-Invoke_an_HTTP_request')['Value'],'\"}'))}",
                                            "method": "POST",
                                            "url": "https://aos-rts-sf-31a27fe6cd3-prod-uksouth.hr.talent.dynamics.com/namespaces/cbcc9e8e-d635-49c3-9f58-309c7f579b78/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExportedPackageUrl"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['webcontents_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/codeless/InvokeHttp"
                                    }
                                },
                                "Get_package_file_from_function_app_-_HTTP_2": {
                                    "runAfter": {
                                        "Create_file_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "blobContainer": "prodhrorganizationhierarchy",
                                            "blobStorageAccountThirdFile": "DefaultEndpointsProtocol=https;AccountName=lbhprduksfnodiagsetsa;AccountKey=ewIrriluemqgeWWVImmKZkyOfgarMNSVCcyHjhuqVpf2rwYAcaPyddCJB6ZwLVbLu0dAhcAv13eN0uGt9ii5ag==;EndpointSuffix=core.windows.net",
                                            "dataPackageFileName": "D365HR FO organization hierarchy import.xlsx",
                                            "dirFirstFile": "D365HRFOIntegration",
                                            "dirSecondFile": "D365HRFOIntegration",
                                            "fileNameIncoming": "D365HR FO organization hierarchy import.xlsx",
                                            "fileNameOutgoing": "HRFO.zip",
                                            "fileNameSecondFile": "OrganizationHierarchyPackageHeader.zip",
                                            "fileShareFirstFile": "prd-file01",
                                            "fileShareSecondFile": "prd-file01",
                                            "storageAccountFirstFile": "DefaultEndpointsProtocol=https;AccountName=lbhprduksfnodiagsetsa;AccountKey=ewIrriluemqgeWWVImmKZkyOfgarMNSVCcyHjhuqVpf2rwYAcaPyddCJB6ZwLVbLu0dAhcAv13eN0uGt9ii5ag==;EndpointSuffix=core.windows.net",
                                            "storageAccountSecondFile": "DefaultEndpointsProtocol=https;AccountName=lbhprduksfnodiagsetsa;AccountKey=ewIrriluemqgeWWVImmKZkyOfgarMNSVCcyHjhuqVpf2rwYAcaPyddCJB6ZwLVbLu0dAhcAv13eN0uGt9ii5ag==;EndpointSuffix=core.windows.net",
                                            "subDirFirstFile": "OrganizationHierarchy",
                                            "subDirSecondFile": "D365FOPackageConfig"
                                        },
                                        "method": "POST",
                                        "uri": "https://pwcfointegrationexceltodatapackagev01.azurewebsites.net/api/CreateDataPackageFromExcel?code=a7wTmYgXNWMGBwVOtZ8q3DmlIDfCrgSp7POnyKcIAagzXdJn8dkQWw=="
                                    }
                                },
                                "Import_from_package_-_HTTP": {
                                    "runAfter": {
                                        "Organization_hierarchy_import_-_Set_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "definitionGroupId": "PwCOrganizationHierarchyImport",
                                            "execute": true,
                                            "executionId": "",
                                            "legalEntityId": "1000",
                                            "overwrite": true,
                                            "packageUrl": "@variables('TalentTempURL')"
                                        },
                                        "headers": {
                                            "Authorization": "@variables('TokenOrgHierarchyImport')"
                                        },
                                        "method": "POST",
                                        "uri": "https://lbh-fo-prod.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ImportFromPackage"
                                    }
                                },
                                "List_files": {
                                    "runAfter": {
                                        "Processed_Talent_Package_-_Create_file": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "JTJmbGJoLWRldiUyZkQzNjVIUkZPSW50ZWdyYXRpb24lMmZBY2NvdW50aW5nRGlzdHJpYnV0aW9uJTJmdGVtcA==": "/lbh-dev/D365HRFOIntegration/AccountingDistribution/temp",
                                        "JTJmbGJoLWRldiUyZkQzNjVUYWxlbnRGT0ludGVncmF0aW9uJTJmT3JnYW5pemF0aW9uSGllcmFyY2h5JTJmdGVtcA==": "/lbh-dev/D365TalentFOIntegration/OrganizationHierarchy/temp"
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent('/prd-file01/D365HRFOIntegration/OrganizationHierarchy/temp'))}",
                                        "queries": {
                                            "nextPageMarker": "",
                                            "useFlatListing": false
                                        }
                                    }
                                },
                                "Organization_hierarchy_export_-Invoke_an_HTTP_request": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "body": "@{base64(concat('{','\n','    \"definitionGroupId\":\"PwCOrganizationHierarchyExp\",','\n','    \"packageName\":\"orghierarchy.zip\",','\n','    \"executionId\":\"',variables('OrgHierarchyexecutionid'),'\",','\n','    \"reExecute\":false,','\n','    \"legalEntityId\":\"1000\"','\n','}'))}",
                                            "method": "POST",
                                            "url": "https://aos-rts-sf-31a27fe6cd3-prod-uksouth.hr.talent.dynamics.com/namespaces/cbcc9e8e-d635-49c3-9f58-309c7f579b78/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ExportToPackage"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['webcontents_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/codeless/InvokeHttp"
                                    }
                                },
                                "Organization_hierarchy_import_-_Set_variable": {
                                    "runAfter": {
                                        "Parse_JSON_for_auth_token_for_organization_hierarchy": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "TokenOrgHierarchyImport",
                                        "value": "@{concat('Bearer ',body('Parse_JSON_for_auth_token_for_organization_hierarchy')['access_token'])}"
                                    }
                                },
                                "Package_url_organization_hierarchy_-_Set_variable": {
                                    "runAfter": {
                                        "Get_organization_hierarchy_package_url_-Invoke_an_HTTP_request": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "PackageUrlOrgHierarchyExport",
                                        "value": "@{body('Get_organization_hierarchy_package_url_-Invoke_an_HTTP_request')['Value']}"
                                    }
                                },
                                "Parse_JSON_for_auth_token_for_organization_hierarchy": {
                                    "runAfter": {
                                        "Get_access_token_-_HTTP_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_access_token_-_HTTP_2')",
                                        "schema": {
                                            "$schema": "http://json-schema.org/draft-04/schema#",
                                            "properties": {
                                                "access_token": {
                                                    "type": "string"
                                                },
                                                "expires_in": {
                                                    "type": "string"
                                                },
                                                "expires_on": {
                                                    "type": "string"
                                                },
                                                "ext_expires_in": {
                                                    "type": "string"
                                                },
                                                "not_before": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "token_type": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "token_type",
                                                "expires_in",
                                                "ext_expires_in",
                                                "expires_on",
                                                "not_before",
                                                "resource",
                                                "access_token"
                                            ],
                                            "type": "object"
                                        }
                                    }
                                },
                                "Processed_Talent_Package_-_Create_file": {
                                    "runAfter": {
                                        "Get_file_content_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "@body('Get_file_content_2')",
                                        "headers": {
                                            "ReadFileMetadataFromServer": true
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "/prd-file01/D365HRFOIntegration/OrganizationHierarchy/Processed",
                                            "name": "HRFO@{formatdatetime(utcnow(),'yyyyMMddhhmm')}.zip",
                                            "queryParametersSingleEncoded": true
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "TalentTempUrl_-_Set_variable": {
                                    "runAfter": {
                                        "Get_package_file_from_function_app_-_HTTP_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "TalentTempUrl",
                                        "value": "@body('Get_package_file_from_function_app_-_HTTP_2')"
                                    }
                                },
                                "Until_4": {
                                    "actions": {
                                        "Delay_6": {
                                            "runAfter": {},
                                            "type": "Wait",
                                            "inputs": {
                                                "interval": {
                                                    "count": 40,
                                                    "unit": "Second"
                                                }
                                            }
                                        },
                                        "Get_Org_hierarchy_summary_-_HTTP": {
                                            "runAfter": {
                                                "Delay_6": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "body": {
                                                    "executionId": "@{body('Import_from_package_-_HTTP')['Value']}"
                                                },
                                                "headers": {
                                                    "Authorization": "@variables('TokenOrgHierarchyImport')"
                                                },
                                                "method": "POST",
                                                "uri": "https://lbh-fo-prod.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus"
                                            }
                                        },
                                        "Set_variable_2": {
                                            "runAfter": {
                                                "Get_Org_hierarchy_summary_-_HTTP": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "ExecutionStatusImportOrgHierarchy",
                                                "value": "@{body('Get_Org_hierarchy_summary_-_HTTP')['Value']}"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Import_from_package_-_HTTP": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": "@equals(variables('ExecutionStatusImportOrgHierarchy'), 'Succeeded')",
                                    "limit": {
                                        "count": 2,
                                        "timeout": "PT1H"
                                    },
                                    "type": "Until"
                                }
                            },
                            "runAfter": {
                                "Organization_hierarchy_purpose_-_Scope": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Organization_hierarchy_process": {
                            "actions": {
                                "Get_access_token": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "body": "client_id=3e724262-bfc2-4407-95f9-17028e172cbe&client_secret=KkR8Q~Jp1Y2BfP60rkieGNszqp2zlU1y5CvNracw&grant_type=client_credentials&resource=https://lbh-fo-prod.operations.dynamics.com",
                                        "headers": {
                                            "Content-Type": "application/x-www-form-urlencoded"
                                        },
                                        "method": "POST",
                                        "uri": "https://login.microsoftonline.com/d2c39953-a8db-4c3c-97f2-d2dc76fb3e2c/oauth2/token"
                                    }
                                },
                                "Parse_JSON": {
                                    "runAfter": {
                                        "Get_access_token": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_access_token')",
                                        "schema": {
                                            "$schema": "http://json-schema.org/draft-04/schema#",
                                            "properties": {
                                                "access_token": {
                                                    "type": "string"
                                                },
                                                "expires_in": {
                                                    "type": "string"
                                                },
                                                "expires_on": {
                                                    "type": "string"
                                                },
                                                "ext_expires_in": {
                                                    "type": "string"
                                                },
                                                "not_before": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "token_type": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "token_type",
                                                "expires_in",
                                                "ext_expires_in",
                                                "expires_on",
                                                "not_before",
                                                "resource",
                                                "access_token"
                                            ],
                                            "type": "object"
                                        }
                                    }
                                },
                                "Process_organization_hierarchy_sync": {
                                    "runAfter": {
                                        "Set_variable_3": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "_dataAreaId": "1000"
                                        },
                                        "headers": {
                                            "Authorization": "@variables('Token')"
                                        },
                                        "method": "POST",
                                        "uri": "https://lbh-fo-prod.operations.dynamics.com/data/PwCD365HRFOOrgHierarchyImport/Microsoft.Dynamics.DataEntities.processorghierarchy"
                                    }
                                },
                                "Set_variable_3": {
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "Token",
                                        "value": "@{concat('Bearer ',body('Parse_JSON')['access_token'])}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Organization_hierarchy-Scope": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Organization_hierarchy_purpose_-_Scope": {
                            "actions": {
                                "Get_access_token_Org_purpose_-_HTTP": {
                                    "runAfter": {
                                        "PackageUrlOrgPurpose_-_Set_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": "client_id=3e724262-bfc2-4407-95f9-17028e172cbe&client_secret=KkR8Q~Jp1Y2BfP60rkieGNszqp2zlU1y5CvNracw&grant_type=client_credentials&resource=https://lbh-fo-prod.operations.dynamics.com",
                                        "headers": {
                                            "Content-Type": "application/x-www-form-urlencoded"
                                        },
                                        "method": "POST",
                                        "uri": "https://login.microsoftonline.com/d2c39953-a8db-4c3c-97f2-d2dc76fb3e2c/oauth2/token"
                                    }
                                },
                                "Get_exported_package_url_for_org_purpose_-_Invoke_an_HTTP_request": {
                                    "runAfter": {
                                        "Until_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "body": "@{base64(concat('{\"executionId\":\"',body('Invoke_an_HTTP_request_2')['value'],'\"}'))}",
                                            "method": "POST",
                                            "url": "https://aos-rts-sf-31a27fe6cd3-prod-uksouth.hr.talent.dynamics.com/namespaces/cbcc9e8e-d635-49c3-9f58-309c7f579b78/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExportedPackageUrl"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['webcontents_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/codeless/InvokeHttp"
                                    }
                                },
                                "Import_Data_-_HTTP": {
                                    "runAfter": {
                                        "Token_Org_export_-_Set_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "definitionGroupId": "PwCOrganizationHierarchyPurpose",
                                            "execute": true,
                                            "executionId": "",
                                            "legalEntityId": "1000",
                                            "overwrite": true,
                                            "packageUrl": "@variables('PackageUrlOrgPurpose')"
                                        },
                                        "headers": {
                                            "Authorization": "@variables('TokenOrgExport')"
                                        },
                                        "method": "POST",
                                        "uri": "https://lbh-fo-prod.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ImportFromPackage"
                                    }
                                },
                                "Invoke_an_HTTP_request_2": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "body": "@{base64(concat('{','\n','    \"definitionGroupId\":\"PwCOrganizationHierarchyPurpose\",','\n','    \"packageName\":\"orghierarchytype.zip\",','\n','    \"executionId\":\"',variables('orghierarchypurposeexecutionid'),'\",','\n','    \"reExecute\":false,','\n','    \"legalEntityId\":\"1000\"','\n','}'))}",
                                            "method": "POST",
                                            "url": "https://aos-rts-sf-31a27fe6cd3-prod-uksouth.hr.talent.dynamics.com/namespaces/cbcc9e8e-d635-49c3-9f58-309c7f579b78/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ExportToPackage"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['webcontents_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/codeless/InvokeHttp"
                                    }
                                },
                                "Organization_purpose_-_Parse_JSON": {
                                    "runAfter": {
                                        "Get_access_token_Org_purpose_-_HTTP": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_access_token_Org_purpose_-_HTTP')",
                                        "schema": {
                                            "$schema": "http://json-schema.org/draft-04/schema#",
                                            "properties": {
                                                "access_token": {
                                                    "type": "string"
                                                },
                                                "expires_in": {
                                                    "type": "string"
                                                },
                                                "expires_on": {
                                                    "type": "string"
                                                },
                                                "ext_expires_in": {
                                                    "type": "string"
                                                },
                                                "not_before": {
                                                    "type": "string"
                                                },
                                                "resource": {
                                                    "type": "string"
                                                },
                                                "token_type": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "token_type",
                                                "expires_in",
                                                "ext_expires_in",
                                                "expires_on",
                                                "not_before",
                                                "resource",
                                                "access_token"
                                            ],
                                            "type": "object"
                                        }
                                    }
                                },
                                "PackageUrlOrgPurpose_-_Set_variable": {
                                    "runAfter": {
                                        "Get_exported_package_url_for_org_purpose_-_Invoke_an_HTTP_request": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "PackageUrlOrgPurpose",
                                        "value": "@{body('Get_exported_package_url_for_org_purpose_-_Invoke_an_HTTP_request')['Value']}"
                                    }
                                },
                                "Token_Org_export_-_Set_variable": {
                                    "runAfter": {
                                        "Organization_purpose_-_Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "TokenOrgExport",
                                        "value": "@{concat('Bearer ',body('Organization_purpose_-_Parse_JSON')['access_token'])}"
                                    }
                                },
                                "Until_2": {
                                    "actions": {
                                        "Delay_3": {
                                            "runAfter": {},
                                            "type": "Wait",
                                            "inputs": {
                                                "interval": {
                                                    "count": 30,
                                                    "unit": "Second"
                                                }
                                            }
                                        },
                                        "Execution_status_organization_purpose_export_-_Set_variable": {
                                            "runAfter": {
                                                "Get_execution_summary_status_Org_purose_-_Invoke_an_HTTP_request": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "ExecutinStatusOrgPurposeExport",
                                                "value": "@{body('Get_execution_summary_status_Org_purose_-_Invoke_an_HTTP_request')['Value']}"
                                            }
                                        },
                                        "Get_execution_summary_status_Org_purose_-_Invoke_an_HTTP_request": {
                                            "runAfter": {
                                                "Delay_3": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "body": "@{base64(concat('{\"executionId\":\"',body('Invoke_an_HTTP_request_2')['value'],'\"}'))}",
                                                    "method": "POST",
                                                    "url": "https://aos-rts-sf-31a27fe6cd3-prod-uksouth.hr.talent.dynamics.com/namespaces/cbcc9e8e-d635-49c3-9f58-309c7f579b78/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['webcontents_1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/codeless/InvokeHttp"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Invoke_an_HTTP_request_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": "@equals(variables('ExecutinStatusOrgPurposeExport'), 'Succeeded')",
                                    "limit": {
                                        "count": 1,
                                        "timeout": "PT1H"
                                    },
                                    "type": "Until"
                                },
                                "Until_3": {
                                    "actions": {
                                        "Delay_5": {
                                            "runAfter": {},
                                            "type": "Wait",
                                            "inputs": {
                                                "interval": {
                                                    "count": 40,
                                                    "unit": "Second"
                                                }
                                            }
                                        },
                                        "HTTP_2": {
                                            "runAfter": {
                                                "Delay_5": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "body": {
                                                    "executionId": "@{body('Import_Data_-_HTTP')['Value']}"
                                                },
                                                "headers": {
                                                    "Authorization": "@{variables('TokenOrgExport')}"
                                                },
                                                "method": "POST",
                                                "uri": "https://lbh-fo-prod.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus"
                                            }
                                        },
                                        "ImportExecutionStatusOrgPurpose_-_Set_variable": {
                                            "runAfter": {
                                                "HTTP_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "ImportExecutionStatusOrgPurpose",
                                                "value": "@{body('HTTP_2')['Value']}"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Import_Data_-_HTTP": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": "@equals(variables('ImportExecutionStatusOrgPurpose'), 'Succeeded')",
                                    "limit": {
                                        "count": 2,
                                        "timeout": "PT1H"
                                    },
                                    "type": "Until"
                                }
                            },
                            "runAfter": {
                                "Until": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "PackageUrl_variable_-_Initialize_variable": {
                            "runAfter": {
                                "Get_ExportedPackageURL_-_Invoke_an_HTTP_request": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "PackageUrl",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "PackageUrl_variable_-_Set_variable": {
                            "runAfter": {
                                "Token_variable_-_Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "PackageUrl",
                                "value": "@body('Get_ExportedPackageURL_-_Invoke_an_HTTP_request')['value']"
                            }
                        },
                        "Package_Url_variable_Org_export_-_Initialize_variable": {
                            "runAfter": {
                                "ExecuctionStatus_-Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "PackageUrlOrgPurpose",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Package_url_organization_hierarchy_export_-Initialize_variable": {
                            "runAfter": {
                                "Execution_status_Organization_hierarchy_export_-_Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "PackageUrlOrgHierarchyExport",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON_for_auth_token": {
                            "runAfter": {
                                "Get_access_token_-_HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_access_token_-_HTTP')",
                                "schema": {
                                    "$schema": "http://json-schema.org/draft-04/schema#",
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "string"
                                        },
                                        "expires_on": {
                                            "type": "string"
                                        },
                                        "ext_expires_in": {
                                            "type": "string"
                                        },
                                        "not_before": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "token_type",
                                        "expires_in",
                                        "ext_expires_in",
                                        "expires_on",
                                        "not_before",
                                        "resource",
                                        "access_token"
                                    ],
                                    "type": "object"
                                }
                            }
                        },
                        "TalentTempUrl_for_organization_hierarchy_-Initialize_variable": {
                            "runAfter": {
                                "Package_url_organization_hierarchy_export_-Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TalentTempUrl",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Token_for_organization_hierarchy_import_-_Initialize_variable": {
                            "runAfter": {
                                "TalentTempUrl_for_organization_hierarchy_-Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TokenOrgHierarchyImport",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Token_variable_-_Initialize_variable": {
                            "runAfter": {
                                "PackageUrl_variable_-_Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Token",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Token_variable_Org_export_-_Initialize_variable": {
                            "runAfter": {
                                "Package_Url_variable_Org_export_-_Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TokenOrgExport",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Until": {
                            "actions": {
                                "Delay_2": {
                                    "runAfter": {},
                                    "type": "Wait",
                                    "inputs": {
                                        "interval": {
                                            "count": 40,
                                            "unit": "Second"
                                        }
                                    }
                                },
                                "Get_import_summary_status_-_HTTP": {
                                    "runAfter": {
                                        "Delay_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "executionId": "@{body('Import_the_Data_-_HTTP')['Value']}"
                                        },
                                        "headers": {
                                            "Authorization": "@variables('Token')"
                                        },
                                        "method": "POST",
                                        "uri": "https://lbh-fo-prod.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus"
                                    }
                                },
                                "Set_variable": {
                                    "runAfter": {
                                        "Get_import_summary_status_-_HTTP": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "ImportExecutionStatus",
                                        "value": "@{body('Get_import_summary_status_-_HTTP')['Value']}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Import_the_Data_-_HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@equals(variables('ImportExecutionStatus'), 'Succeeded')",
                            "limit": {
                                "count": 2,
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurefile_1": {
                                "connectionId": "[parameters('connections_azurefile_1_externalid')]",
                                "connectionName": "azurefile-1",
                                "id": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/providers/Microsoft.Web/locations/uksouth/managedApis/azurefile"
                            },
                            "dynamicsax_1": {
                                "connectionId": "[parameters('connections_dynamicsax_externalid')]",
                                "connectionName": "dynamicsax",
                                "id": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/providers/Microsoft.Web/locations/uksouth/managedApis/dynamicsax"
                            },
                            "webcontents_1": {
                                "connectionId": "[parameters('connections_webcontents_externalid')]",
                                "connectionName": "webcontents",
                                "id": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/providers/Microsoft.Web/locations/uksouth/managedApis/webcontents"
                            }
                        }
                    }
                }
            }
        }
    ]
}