PowerApps/LBHMSSPositionApp/Unmanaged/Workflows/ExpirePrevPositionDetailsRecord-A2204EEB-295D-EE11-8DEF-0022481B529E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "crbb7_RVMSDataVerseLoqateBankValidation"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "crbb7_CommonDataService"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "d372eb50-b3eb-45f7-b6b1-12b768ec4ea8"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "Setvariable_Value": {
                  "type": "string",
                  "description": "Enter variable value",
                  "x-ms-powerflows-param-ispartial": false
                },
                "Compose_Inputs": {
                  "type": "any",
                  "description": "Inputs",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "Setvariable_Value",
                "Compose_Inputs"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "04aad117-fd6a-4b7b-8945-65d46edab2f1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PositionNumber",
                "type": "string"
              }
            ]
          }
        },
        "Set_variable": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "34312986-f024-494f-8527-9b3c89afe569"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "PositionNumber",
            "value": "@{triggerBody()['Setvariable_Value']}"
          }
        },
        "Compose": {
          "runAfter": {
            "Set_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "66d173ba-cc28-4f45-b1a9-841c8c26c2f6"
          },
          "type": "Compose",
          "inputs": "@triggerBody()['Compose_Inputs']"
        },
        "Initialize_variable_3": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f509d1f1-2f0d-4807-b558-adb1c4e80e46"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Result",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "70e7cbeb-0002-4305-b904-1cbf968fd14c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Time",
                "type": "string"
              }
            ]
          }
        },
        "Set_variable_2": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fba2793e-1961-4c26-90ff-e40e889ad9bd"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Time",
            "value": "@{triggerBody()['Compose_Inputs']}"
          }
        },
        "Convert_time_zone": {
          "runAfter": {
            "Set_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ed69fff6-7f90-485b-88aa-461225edd70e"
          },
          "type": "Expression",
          "kind": "ConvertTimeZone",
          "inputs": {
            "baseTime": "@variables('Time')",
            "formatString": "u",
            "sourceTimeZone": "GMT Standard Time",
            "destinationTimeZone": "UTC"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "49abd8df-03da-4d4b-ada3-7658f5b7094b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mserp_hcmpositiondetailentities",
                  "recordId": "@items('Apply_to_each')?['mserp_hcmpositiondetailentityid']",
                  "item/mserp_validto": "@variables('Time')"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d6c86f20-e17b-42da-ba45-97f8b8bfedc0"
          },
          "type": "Foreach"
        },
        "Set_variable_3": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "528655c7-2617-4306-a1d4-dfbcc3611b0f"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Result",
            "value": "Success"
          }
        },
        "Set_variable_4": {
          "runAfter": {
            "Apply_to_each": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e0bca8f-11a5-48ac-8d5e-058a64b45293"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Result",
            "value": "Fail"
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Set_variable_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f432dccc-b5d7-4ab3-bedc-e70569edc780"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "result": "@variables('Result')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "title": "Result",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "List_rows": {
          "runAfter": {
            "Convert_time_zone": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2a0f6658-f777-4c41-91e5-172b5deacaad"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mserp_hcmpositiondetailentities",
              "$filter": "mserp_positionid eq '@{variables('PositionNumber')}'",
              "$orderby": "mserp_validto desc",
              "$top": 1
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}