PowerApps/LBHMSSPositionApp/Unmanaged/Workflows/LBHMSSFTECalculationParent-38A9E561-235D-EE11-8DEF-0022481B5EE5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "crbb7_sharedcommondataserviceforapps_7fe85"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "082c82c1-5b95-44d6-acce-90d0eeace6d9"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "Listrows_Filterrows": {
                  "type": "string",
                  "description": "Enter an OData style filter expression to limit which rows are listed. This parameter is used as part of \"911428D4-2E9D-4960-BEAA-ED4C1C5BB6F4\"",
                  "x-ms-powerflows-param-ispartial": true
                },
                "Initializevariable_Value": {
                  "type": "string",
                  "description": "Enter initial value",
                  "x-ms-powerflows-param-ispartial": false
                }
              },
              "required": [
                "Listrows_Filterrows",
                "Initializevariable_Value"
              ]
            }
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "da482bd1-cf02-48b3-afc9-52203e67d87b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mserp_hcmjobpositiondualwriteentities",
              "$filter": "mserp_hcmjobpositiondualwriteentityId eq '@{triggerBody()['Listrows_Filterrows']}'",
              "$top": 1
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b6746d45-a0a7-44c4-995b-3611c884fde1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Manager",
                "type": "string",
                "value": "@{triggerBody()['Initializevariable_Value']}"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Run_a_Child_Flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "35d522d9-8e1c-4246-81eb-2419e229274e"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "c7468e05-e35c-ee11-8def-0022481b5ee5"
                },
                "body": {
                  "text": "@items('Apply_to_each')?['mserp_hcmjobpositiondualwriteentityid']",
                  "text_1": "@variables('Manager')"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f3d4d5f6-29ad-47b3-aa67-4ec54e3b99b2"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}