LogicApps/PROD/LBH_LA_MoveFilesFromSecuredToStaging/LBH_LA_MoveFilesFromSecuredToStaging/LogicApp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_PwC_LA_MoveFilesFromSecuredToStaging_Prod_name": {
            "defaultValue": "PwC_LA_MoveFilesFromSecuredToStaging_Prod",
            "type": "String"
        },
        "connections_azurefile_1_externalid": {
            "defaultValue": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/resourceGroups/lbh-prd-uks-fno-rg-03/providers/Microsoft.Web/connections/azurefile-1",
            "type": "String"
        },
        "connections_dynamicsax_externalid": {
            "defaultValue": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/resourceGroups/lbh-prd-uks-fno-rg-03/providers/Microsoft.Web/connections/dynamicsax",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_PwC_LA_MoveFilesFromSecuredToStaging_Prod_name')]",
            "location": "uksouth",
            "tags": {
                "Availability": "24h7",
                "Cost Centre": "1040",
                "Department": "Finance_HR",
                "Environment": "PRD",
                "Owner": "platformteam@harrow.gov.uk",
                "Service": "Dynamics F&O"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "Source": {
                                            "type": "string"
                                        },
                                        "Target": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Set_variable": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "BodyJSONTemp",
                                        "value": "@{concat('[',variables('BodyJSON'),']')}"
                                    }
                                },
                                "Set_variable_2": {
                                    "runAfter": {
                                        "Set_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "BodyJSON",
                                        "value": "@variables('BodyJSONTemp')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_-_BodyJSONTemp": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@startsWith(variables('BodyJSON'),'[')",
                                            false
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "For_each": {
                            "foreach": "@body('Parse_JSON_-_BodyJSON')",
                            "actions": {
                                "Create_file": {
                                    "runAfter": {
                                        "HTTP_-_Get_File_content": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "@body('HTTP_-_Get_File_content')",
                                        "headers": {
                                            "ReadFileMetadataFromServer": true
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "@variables('TargetStagingFolder')",
                                            "name": "@variables('SourceFileName')",
                                            "queryParametersSingleEncoded": true
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "HTTP_-_Delete_file": {
                                    "runAfter": {
                                        "Create_file": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "headers": {
                                            "FileName": "@{concat(variables('SourceSecuredFolder'),'/',variables('SourceFileName'))}"
                                        },
                                        "method": "DELETE",
                                        "uri": "@{concat(variables('DeleteFileURL'),variables('SVToken'))}"
                                    }
                                },
                                "HTTP_-_Get_File_content": {
                                    "runAfter": {
                                        "Set_variable_-_SourceFileContentLength": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "headers": {
                                            "FileName": "@{concat(variables('SourceSecuredFolder'),'/',variables('SourceFileName'))}"
                                        },
                                        "method": "GET",
                                        "uri": "@{concat(variables('GetFileContentURL'),variables('SVToken'))}"
                                    }
                                },
                                "Set_variable_-_SourceFileContentLength": {
                                    "runAfter": {
                                        "Set_variable_-_SourceFileContentLengthStr": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "SourceFileContentLength",
                                        "value": "@int(variables('SourceFileContentLengthStr'))"
                                    }
                                },
                                "Set_variable_-_SourceFileContentLengthStr": {
                                    "runAfter": {
                                        "Set_variable_-_SourceFileName": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "SourceFileContentLengthStr",
                                        "value": "@items('For_each')?['Properties']?['Content-Length']"
                                    }
                                },
                                "Set_variable_-_SourceFileName": {
                                    "runAfter": {
                                        "Set_variable_-_SourceFileNameOrig": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "SourceFileName",
                                        "value": "@{replace(variables('SourceFileNameOrig'),' ','%20')}"
                                    }
                                },
                                "Set_variable_-_SourceFileNameOrig": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "SourceFileNameOrig",
                                        "value": "@items('For_each')['Name']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_-_BodyJSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Get_a_record": {
                            "runAfter": {
                                "Initialize_variable_-_SourceFileContentLengthStr": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['dynamicsax']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('lbh-fo-prod.operations.dynamics.com'))}/tables/@{encodeURIComponent(encodeURIComponent('PwCIntegrationSetupSASEnts'))}/items/@{encodeURIComponent(encodeURIComponent('1000,0'))}"
                            }
                        },
                        "HTTP": {
                            "runAfter": {
                                "Initialize_variable_-_GetFileContentURL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "headers": {
                                    "FileName": "@variables('SourceSecuredFolder')"
                                },
                                "method": "GET",
                                "uri": "@{concat(variables('GetFileListURL'),variables('SVToken'))}"
                            }
                        },
                        "Initialize_variable_-DeleteFileURL": {
                            "runAfter": {
                                "Initialize_variable_-_SVToken": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DeleteFileURL",
                                        "type": "string",
                                        "value": "@body('Get_a_record')?['AFSDeleteFileURL']"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_BodyJSON": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "BodyJSON",
                                        "type": "string",
                                        "value": "@{json(body('HTTP'))?['EnumerationResults']?['Entries']?['File']}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_BodyJSONTemp": {
                            "runAfter": {
                                "Initialize_variable_-_BodyJSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "BodyJSONTemp",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_GetFileContentURL": {
                            "runAfter": {
                                "Initialize_variable_-_GetFileListURL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "GetFileContentURL",
                                        "type": "string",
                                        "value": "@{body('Get_a_record')?['AFSGetFileContentURL']}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_GetFileListURL": {
                            "runAfter": {
                                "Initialize_variable_-DeleteFileURL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "GetFileListURL",
                                        "type": "string",
                                        "value": "@{body('Get_a_record')?['AFSGetFileListURL']}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_SVToken": {
                            "runAfter": {
                                "Get_a_record": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SVToken",
                                        "type": "string",
                                        "value": "@body('Get_a_record')?['SubscriptionKeyURL']"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_SourceFileContentLength": {
                            "runAfter": {
                                "Initialize_variable_-_SourceFileName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SourceFileContentLength",
                                        "type": "integer"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_SourceFileContentLengthStr": {
                            "runAfter": {
                                "Initialize_variable_-_SourceFileContentLength": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SourceFileContentLengthStr",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_SourceFileName": {
                            "runAfter": {
                                "Initialize_variable_-_SourceFileNameOrig": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SourceFileName",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_SourceFileNameOrig": {
                            "runAfter": {
                                "Initialize_variable_-_TargetStagingFolder": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SourceFileNameOrig",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_SourceSecuredFolder": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SourceSecuredFolder",
                                        "type": "string",
                                        "value": "@triggerBody()?['Source']"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_TargetStagingFolder": {
                            "runAfter": {
                                "Initialize_variable_-_SourceSecuredFolder": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TargetStagingFolder",
                                        "type": "string",
                                        "value": "@triggerBody()?['Target']"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON_-_BodyJSON": {
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@variables('BodyJSON')",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "Name": {
                                                "type": "string"
                                            },
                                            "Properties": {
                                                "properties": {
                                                    "Content-Length": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "required": [
                                            "Name",
                                            "Properties"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurefile_1": {
                                "connectionId": "[parameters('connections_azurefile_1_externalid')]",
                                "connectionName": "azurefile-1",
                                "id": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/providers/Microsoft.Web/locations/uksouth/managedApis/azurefile"
                            },
                            "dynamicsax": {
                                "connectionId": "[parameters('connections_dynamicsax_externalid')]",
                                "connectionName": "dynamicsax",
                                "id": "/subscriptions/e4a03bde-f323-4ae9-9b50-5e7eb9f981b9/providers/Microsoft.Web/locations/uksouth/managedApis/dynamicsax"
                            }
                        }
                    }
                }
            }
        }
    ]
}