LogicApps/Preprod/LBH_LA_HR_TOT1_HRPosition/LBH_LA_HR_TOT1_HRPosition/LogicApp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_PwC_LA_HR_TOT1_HRPosition_PreProd_name": {
            "defaultValue": "PwC_LA_HR_TOT1_HRPosition_PreProd",
            "type": "String"
        },
        "connections_azurefile_28_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/azurefile-28",
            "type": "String"
        },
        "connections_azurefile_1_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/azurefile-1",
            "type": "String"
        },
        "connections_dynamicsax_5_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/dynamicsax-5",
            "type": "String"
        },
        "connections_sftpwithssh_7_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/sftpwithssh-7",
            "type": "String"
        },
        "connections_smtp_1_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/smtp-1",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_PwC_LA_HR_TOT1_HRPosition_PreProd_name')]",
            "location": "uksouth",
            "tags": {
                "Availability": "24h7",
                "Cost Centre": "1040",
                "Department": "Finance_HR",
                "Environment": "NPRD",
                "Owner": "platformteam@harrow.gov.uk",
                "Service": "Dynamics F&O"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "18"
                                    ],
                                    "minutes": [
                                        30
                                    ]
                                },
                                "startTime": "2022-06-06T18:00:00",
                                "timeZone": "GMT Standard Time"
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "18"
                                    ],
                                    "minutes": [
                                        30
                                    ]
                                },
                                "startTime": "2022-06-06T18:00:00",
                                "timeZone": "GMT Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Condition_3": {
                            "actions": {
                                "Terminate": {
                                    "runAfter": {},
                                    "type": "Terminate",
                                    "inputs": {
                                        "runError": {
                                            "code": "ERR01",
                                            "message": "@variables('ErrorMessage')"
                                        },
                                        "runStatus": "Failed"
                                    }
                                }
                            },
                            "runAfter": {
                                "For_each_2": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@variables('ErrorMessage')",
                                                ""
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Final_output_file_name_set": {
                            "runAfter": {
                                "Initialize_data_package_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "OutputFileName",
                                        "type": "string",
                                        "value": "HR POSITIONTOT1@{formatdatetime(utcnow(),'yyyyMMddhhmm')}.csv"
                                    }
                                ]
                            }
                        },
                        "For_each_2": {
                            "foreach": "@body('Lists_items_present_in_table')?['value']",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "For_each": {
                                            "foreach": "@body('Lists_items_present_in_table_2')?['value']",
                                            "actions": {
                                                "Condition_2": {
                                                    "actions": {
                                                        "Compose_2": {
                                                            "runAfter": {
                                                                "Invoke_http_request_for_data_job_execution_1": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Compose",
                                                            "inputs": "@outputs('Invoke_http_request_for_data_job_execution_1')['statusCode']"
                                                        },
                                                        "Create_file_2": {
                                                            "runAfter": {
                                                                "Download_datapackage_1": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": "@binary(body('Download_datapackage_1'))",
                                                                "headers": {
                                                                    "ReadFileMetadataFromServer": true
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/datasets/default/files",
                                                                "queries": {
                                                                    "folderPath": "/p2uat-file01/TOT1/temp",
                                                                    "name": "@variables('PackageName')",
                                                                    "queryParametersSingleEncoded": true
                                                                }
                                                            },
                                                            "runtimeConfiguration": {
                                                                "contentTransfer": {
                                                                    "transferMode": "Chunked"
                                                                }
                                                            }
                                                        },
                                                        "Delete_file_2": {
                                                            "runAfter": {
                                                                "Send_file_to_Totara_SFTP": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "headers": {
                                                                    "SkipDeleteIfFileNotFoundOnServer": false
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "delete",
                                                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/p2uat-file01/TOT1/temp/PwC_TOT1.zip'))}"
                                                            }
                                                        },
                                                        "Download_datapackage_1": {
                                                            "runAfter": {
                                                                "Get_data_package_url_1": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Http",
                                                            "inputs": {
                                                                "method": "GET",
                                                                "uri": "@{body('Get_data_package_url_1')?['Value']}"
                                                            }
                                                        },
                                                        "File_transformation_1": {
                                                            "runAfter": {
                                                                "Create_file_2": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Http",
                                                            "inputs": {
                                                                "body": {
                                                                    "cloudFileShare": "p2uat-file01",
                                                                    "dir": "TOT1",
                                                                    "fileName": "@{variables('PackageName')}",
                                                                    "newField1": "IDNumber",
                                                                    "newField10": "org_level_3",
                                                                    "newField11": "org_level_4",
                                                                    "newField12": "org_level_5",
                                                                    "newField13": "org_level_6",
                                                                    "newField14": "org_level_7",
                                                                    "newField15": "org_level_8",
                                                                    "newField16": "org_level_9",
                                                                    "newField17": "org_level_10",
                                                                    "newField18": "org_level_11",
                                                                    "newField19": "org_level_12",
                                                                    "newField2": "UserName",
                                                                    "newField20": "org_level_13",
                                                                    "newField21": "org_level_14",
                                                                    "newField22": "pos_framework",
                                                                    "newField23": "pos_level_1",
                                                                    "newField24": "JobAssignmentIDNumber",
                                                                    "newField25": "ManagerIDNumber",
                                                                    "newField26": "ManagerJobAssignmentNumber",
                                                                    "newField27": "JobAssignmentFullName",
                                                                    "newField28": "JobAssignmentDelete",
                                                                    "newField29": "Auth_type",
                                                                    "newField3": "FirstName",
                                                                    "newField30": "Leaver",
                                                                    "newField31": "Custom_field_number_1",
                                                                    "newField4": "LastName",
                                                                    "newField5": "Email",
                                                                    "newField6": "Password",
                                                                    "newField7": "Org_framework",
                                                                    "newField8": "org_level_1",
                                                                    "newField9": "org_level_2",
                                                                    "oldField1": "EMPLOYEEID",
                                                                    "oldField10": "org_level_3",
                                                                    "oldField11": "org_level_4",
                                                                    "oldField12": "org_level_5",
                                                                    "oldField13": "org_level_6",
                                                                    "oldField14": "org_level_7",
                                                                    "oldField15": "org_level_8",
                                                                    "oldField16": "org_level_9",
                                                                    "oldField17": "org_level_10",
                                                                    "oldField18": "org_level_11",
                                                                    "oldField19": "org_level_12",
                                                                    "oldField2": "UserName",
                                                                    "oldField20": "org_level_13",
                                                                    "oldField21": "org_level_14",
                                                                    "oldField22": "POSFRAMEWORK",
                                                                    "oldField23": "pos_level_1",
                                                                    "oldField24": "JobAssignmentIDNumber",
                                                                    "oldField25": "ManagerIDNumber",
                                                                    "oldField26": "ManagerJobAssignmentNumber",
                                                                    "oldField27": "JobAssignmentFullName",
                                                                    "oldField28": "JobAssignmentDelete",
                                                                    "oldField29": "AuthType",
                                                                    "oldField3": "FirstName",
                                                                    "oldField30": "Leaver",
                                                                    "oldField31": "Custom_field_number_1",
                                                                    "oldField4": "LastName",
                                                                    "oldField5": "PrimaryEmail",
                                                                    "oldField6": "Password",
                                                                    "oldField7": "Org_framework",
                                                                    "oldField8": "org_level_1",
                                                                    "oldField9": "org_level_2",
                                                                    "outPutFileName": "@{variables('OutputFileName')}",
                                                                    "outputFileFormat": "csv",
                                                                    "sheetName": "hrposition",
                                                                    "storageAccountPath": "DefaultEndpointsProtocol=https;AccountName=lbhnprduksd365sa02;AccountKey=o359HBPq50Q0YS2FZKGgqRalib7hhIC9p2/JqXlNL7ye2f15my2/65kLO+oBd1WBjnMS7lwTpnOXSY6fae8i3A==;EndpointSuffix=core.windows.net",
                                                                    "subDir": "temp"
                                                                },
                                                                "method": "POST",
                                                                "uri": "https://pwcfointfiletranspactoexcelcsv.azurewebsites.net/api/TransFormExcelCSV?code=XdHL/TjIjh34XZzZUnPxE7xzjsqoxip5csUi5zvR79q6a3uUkNCyVw=="
                                                            }
                                                        },
                                                        "Get_data_package_url_1": {
                                                            "runAfter": {
                                                                "Until": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Http",
                                                            "inputs": {
                                                                "body": {
                                                                    "executionId": "@{body('Invoke_http_request_for_data_job_execution_1')?['Value']}"
                                                                },
                                                                "headers": {
                                                                    "Authorization": "@variables('Token')"
                                                                },
                                                                "method": "POST",
                                                                "uri": "https://lbh-fo-preprod.sandbox.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExportedPackageUrl"
                                                            }
                                                        },
                                                        "Get_file_content": {
                                                            "runAfter": {
                                                                "File_transformation_1": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azurefile']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "get",
                                                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('p2uat-file01/TOT1/',variables('OutputFileName')))}/content",
                                                                "queries": {
                                                                    "inferContentType": true
                                                                }
                                                            }
                                                        },
                                                        "Invoke_http_request_for_data_job_execution_1": {
                                                            "runAfter": {},
                                                            "type": "Http",
                                                            "inputs": {
                                                                "body": {
                                                                    "definitionGroupId": "PwCTotaraExport",
                                                                    "executionId": "",
                                                                    "legalEntityId": "1000",
                                                                    "packageName": "PwC_TOT1.zip",
                                                                    "reExecute": false
                                                                },
                                                                "headers": {
                                                                    "Authorization": "@variables('Token')"
                                                                },
                                                                "method": "POST",
                                                                "uri": "https://lbh-fo-preprod.sandbox.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ExportToPackage"
                                                            }
                                                        },
                                                        "Send_Email_(V3)": {
                                                            "runAfter": {
                                                                "Get_file_content": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "Attachments": [
                                                                        {
                                                                            "ContentData": "@{base64(body('Get_file_content'))}",
                                                                            "FileName": "@variables('OutputFileName')"
                                                                        }
                                                                    ],
                                                                    "Body": "<p>The email contains TOT1 integration file.</p>",
                                                                    "From": "D365_MailSys_FO_Dev@harrow.gov.uk",
                                                                    "Subject": "TOT1 file (Pre Prod)",
                                                                    "To": "D365.support@harrow.gov.uk"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['smtp_1']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/SendEmailV3"
                                                            }
                                                        },
                                                        "Send_file_to_Totara_SFTP": {
                                                            "runAfter": {
                                                                "Send_Email_(V3)": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": "@body('Get_file_content')",
                                                                "headers": {
                                                                    "ReadFileMetadataFromServer": true
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['sftpwithssh_1']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/datasets/default/files",
                                                                "queries": {
                                                                    "folderPath": "/testfolder",
                                                                    "name": "@variables('OutputFileName')",
                                                                    "queryParametersSingleEncoded": true
                                                                }
                                                            },
                                                            "runtimeConfiguration": {
                                                                "contentTransfer": {
                                                                    "transferMode": "Chunked"
                                                                }
                                                            }
                                                        },
                                                        "Until": {
                                                            "actions": {
                                                                "Delay_2": {
                                                                    "runAfter": {},
                                                                    "type": "Wait",
                                                                    "inputs": {
                                                                        "interval": {
                                                                            "count": 20,
                                                                            "unit": "Second"
                                                                        }
                                                                    }
                                                                },
                                                                "Get_execution_summary_status_1": {
                                                                    "runAfter": {
                                                                        "Delay_2": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Http",
                                                                    "inputs": {
                                                                        "body": {
                                                                            "executionId": "@{body('Invoke_http_request_for_data_job_execution_1')?['Value']}"
                                                                        },
                                                                        "headers": {
                                                                            "Authorization": "@variables('Token')"
                                                                        },
                                                                        "method": "POST",
                                                                        "uri": "https://lbh-fo-preprod.sandbox.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus"
                                                                    }
                                                                },
                                                                "Set_variable_2": {
                                                                    "runAfter": {
                                                                        "Get_execution_summary_status_1": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "ExecutionStat",
                                                                        "value": "@{body('Get_execution_summary_status_1')?['Value']}"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {
                                                                "Compose_2": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "expression": "@equals(variables('ExecutionStat'), 'Succeeded')",
                                                            "limit": {
                                                                "count": 20,
                                                                "timeout": "PT1H"
                                                            },
                                                            "type": "Until"
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "else": {
                                                        "actions": {
                                                            "Set_variable_3": {
                                                                "runAfter": {},
                                                                "type": "SetVariable",
                                                                "inputs": {
                                                                    "name": "ErrorMessage",
                                                                    "value": "No data present in the staging table"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "not": {
                                                                    "equals": [
                                                                        "@items('For_each')?['EmployeeId']",
                                                                        ""
                                                                    ]
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                            "runAfter": {
                                                "Lists_items_present_in_table_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "Lists_items_present_in_table_2": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('lbh-fo-preprod.sandbox.operations.dynamics.com'))}/tables/@{encodeURIComponent(encodeURIComponent('PwCEmpPositionExportToTotara'))}/items",
                                                "queries": {
                                                    "$top": 1
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Set_variable": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "ErrorMessage",
                                                    "value": "Batch job error in D365 F&o"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each_2')?['Status']",
                                                    "Finished"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@formatDateTime(items('For_each_2')?['StartDateTime'], 'yyyy-MM-dd')",
                                                    "@formatDateTime(utcnow(), 'yyyy-MM-dd')"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@items('For_each_2')?['Caption']",
                                                    "TOT1 staging table population batch"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Lists_items_present_in_table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_token_from_app": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "body": "client_id=9a0a0604-6c86-4ba3-894f-853e9f2b9252&client_secret=1ix8h.1~ojzX7pj520djkZnAD7-yG.P7b3&grant_type=client_credentials&resource=https://lbh-fo-preprod.sandbox.operations.dynamics.com",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "method": "POST",
                                "uri": "https://login.microsoftonline.com/d2c39953-a8db-4c3c-97f2-d2dc76fb3e2c/oauth2/token"
                            }
                        },
                        "Initialize_data_package_name": {
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "PackageName",
                                        "type": "string",
                                        "value": "PwC_TOT1.zip"
                                    }
                                ]
                            }
                        },
                        "Initialize_token_variable": {
                            "runAfter": {
                                "Parse_JSON_for_auth_token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Token",
                                        "type": "string",
                                        "value": "@{concat('Bearer ',body('Parse_JSON_for_auth_token')['access_token'])}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "Initialize_token_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ErrorMessage",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ExecutionStat",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Lists_items_present_in_table": {
                            "runAfter": {
                                "Final_output_file_name_set": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('lbh-fo-preprod.sandbox.operations.dynamics.com'))}/tables/@{encodeURIComponent(encodeURIComponent('CBatchJobHistories'))}/items",
                                "queries": {
                                    "$filter": "Caption eq 'TOT1 staging table population batch'",
                                    "$orderby": "EndDateTime desc",
                                    "$top": 1
                                }
                            }
                        },
                        "Move_files_from_staging_to_secured": {
                            "runAfter": {
                                "Condition_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "Source": "/uat-file01/TOT1",
                                    "Target": "uat-file01/TOT1"
                                },
                                "method": "POST",
                                "uri": "https://prod-17.uksouth.logic.azure.com:443/workflows/52e068cad6344e9186a6a8c5ca21ca10/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=N_nWJCGmeNklnT1RNYOtv8iAk3hUHSuQ8ps1z0mp7v8"
                            }
                        },
                        "Parse_JSON_for_auth_token": {
                            "runAfter": {
                                "Get_token_from_app": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_token_from_app')",
                                "schema": {
                                    "$schema": "http://json-schema.org/draft-04/schema#",
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "string"
                                        },
                                        "expires_on": {
                                            "type": "string"
                                        },
                                        "ext_expires_in": {
                                            "type": "string"
                                        },
                                        "not_before": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "token_type",
                                        "expires_in",
                                        "ext_expires_in",
                                        "expires_on",
                                        "not_before",
                                        "resource",
                                        "access_token"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurefile": {
                                "connectionId": "[parameters('connections_azurefile_28_externalid')]",
                                "connectionName": "azurefile-28",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/azurefile"
                            },
                            "azurefile_1": {
                                "connectionId": "[parameters('connections_azurefile_1_externalid')]",
                                "connectionName": "azurefile-1",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/azurefile"
                            },
                            "dynamicsax_1": {
                                "connectionId": "[parameters('connections_dynamicsax_5_externalid')]",
                                "connectionName": "dynamicsax-5",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/dynamicsax"
                            },
                            "sftpwithssh_1": {
                                "connectionId": "[parameters('connections_sftpwithssh_7_externalid')]",
                                "connectionName": "sftpwithssh-7",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/sftpwithssh"
                            },
                            "smtp_1": {
                                "connectionId": "[parameters('connections_smtp_1_externalid')]",
                                "connectionName": "smtp-1",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/smtp"
                            }
                        }
                    }
                }
            }
        }
    ]
}