PowerApps/LBHBackEndFTEOnly/Managed/Workflows/PwCLBHFTEBackendCalculationV2-5FC0FB10-5D5C-EE11-8DEF-0022481B529E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "crbb7_sharedcommondataserviceforapps_afe0e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_dynamicsax": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "crbb7_shareddynamicsax_5b162"
        },
        "api": {
          "name": "shared_dynamicsax"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "entityEnvVariable (crbb7_entityEnvVariable)": {
          "defaultValue": "lbh-fo-preprod.sandbox.operations.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "crbb7_entityEnvVariable"
          }
        }
      },
      "triggers": {
        "CalculateFTEOnPosition": {
          "metadata": {
            "operationMetadataId": "fc046494-773d-4526-a315-e5690f79eee5"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "mserp_hcmjobpositiondualwriteentity",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "GetPosition": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "565972e5-b8e3-4349-9062-993863d49c4d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mserp_hcmjobpositiondualwriteentities",
              "recordId": "@triggerOutputs()?['body/mserp_hcmjobpositiondualwriteentityid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "GetJob": {
          "runAfter": {
            "GetPosition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "84fb399d-433f-48ff-b061-3558a3252bde"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mserp_hcmjobentities",
              "recordId": "@outputs('GetPosition')?['body/mserp_jobid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "GetJobFunction": {
          "runAfter": {
            "GetJob": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "408803e7-0db9-4b88-a8d7-b83f4be381ff"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mserp_hcmjobfunctionentities",
              "recordId": "@outputs('GetJob')?['body/_mserp_fk_jobfunction_id_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "GetOccupation": {
          "runAfter": {
            "GetJobFunction": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9e6e7f52-5ffd-4555-9dba-a569fa259089"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_dynamicsax",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_dynamicsax"
            },
            "parameters": {
              "dataset": "@parameters('entityEnvVariable (crbb7_entityEnvVariable)')",
              "table": "PHROccupationsCollection",
              "id": "1000,@{outputs('GetJob')?['body/_mserp_fk_jobfunction_id_value']},2008-01-01T12:00:00Z"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "GetUnionAffil": {
          "runAfter": {
            "GetOccupation": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b8df75c-8b94-4cb1-a5e1-9c16c2719477"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_dynamicsax",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_dynamicsax"
            },
            "parameters": {
              "dataset": "@parameters('entityEnvVariable (crbb7_entityEnvVariable)')",
              "table": "PHRUnionAfflnsCollection",
              "id": "@{outputs('GetOccupation')?['body/dataAreaId']},@{outputs('GetOccupation')?['body/UnionAfflnCode']},2005-01-01T12:00:00Z"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable,_WorkerNumber": {
          "runAfter": {
            "GetUnionAffil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a9891eff-afb3-48ca-8e9c-8f8b53bbb3b1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "WorkerNumber",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable,_Annual_Leave_Days": {
          "runAfter": {
            "GetUnionAffil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "05dc5ed1-74be-42da-880e-ffa2c4dad832"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AnnualLeaveDays",
                "type": "float"
              }
            ]
          }
        },
        "Initialize_variable,_Bank_Holiday_Days": {
          "runAfter": {
            "GetUnionAffil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0f81f557-9a15-4dc9-9a79-f3bd31830e06"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BankHolidayDays",
                "type": "float"
              }
            ]
          }
        },
        "Initialize_variable,_YearsLocalGovService": {
          "runAfter": {
            "GetUnionAffil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c381af2f-893e-46a3-bcd1-cf85c2b0886f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "YearsLocalGovService",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_variable,_Year": {
          "runAfter": {
            "GetUnionAffil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "020d5f57-99a0-41ba-9209-87118e73abd2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Year",
                "type": "string",
                "value": "@{formatDateTime(utcNow(),'yyyy')}"
              }
            ]
          }
        },
        "Initialize_variable,_Month_Number": {
          "runAfter": {
            "Initialize_variable,_Year": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "495cdf69-7b28-4374-bef6-18c527a75ab7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MonthNumber",
                "type": "string"
              }
            ]
          }
        },
        "Get_past_time": {
          "runAfter": {
            "Initialize_variable,_Month_Number": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "658efe1b-4e2e-412a-8117-994a13ae8340"
          },
          "type": "Expression",
          "kind": "GetPastTime",
          "inputs": {
            "interval": 12,
            "timeUnit": "Month"
          }
        },
        "Initialize_variable,_Last_Year": {
          "runAfter": {
            "Get_past_time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f9e01065-c540-4ec4-bd30-e87891a2cfaf"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LastYear",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable,_DailyHours": {
          "runAfter": {
            "GetUnionAffil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bfe8d4e8-6e55-4776-b578-253a6fd83337"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DailyHrs",
                "type": "float",
                "value": "@outputs('GetUnionAffil')?['body/DailyHrs']"
              }
            ]
          }
        },
        "Initialize_variable,_March_Number": {
          "runAfter": {
            "Initialize_variable,_DailyHours": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c8f3e6ad-a668-454c-a913-4c486a345498"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "March Number",
                "type": "string",
                "value": "03"
              }
            ]
          }
        },
        "Initialize_variable,_YearsLBHService_NOW": {
          "runAfter": {
            "GetUnionAffil": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3f6ddb6c-1c24-4b86-874a-166f0a6073a1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "YearsLBHService NOW",
                "type": "integer"
              }
            ]
          }
        },
        "Initialize_variable,_YearsLBHServiceApril": {
          "runAfter": {
            "Initialize_variable,_YearsLBHService_NOW": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4e3b4118-7710-4e56-9418-d02a90b27f7a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "YearsServiceApril",
                "type": "integer"
              }
            ]
          }
        },
        "ListPositionDetails": {
          "runAfter": {
            "Initialize_variable,_WorkerNumber": [
              "Succeeded"
            ],
            "Initialize_variable,_Annual_Leave_Days": [
              "Succeeded"
            ],
            "Initialize_variable,_Bank_Holiday_Days": [
              "Succeeded"
            ],
            "Initialize_variable,_YearsLocalGovService": [
              "Succeeded"
            ],
            "Initialize_variable,_March_Number": [
              "Succeeded"
            ],
            "Initialize_variable,_YearsLBHServiceApril": [
              "Succeeded"
            ],
            "Initialize_variable,_Last_Year": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1f0eefb1-d972-4cad-9e99-c3b417279ce3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mserp_hcmpositiondetailentities",
              "$filter": "mserp_positionid eq '@{outputs('GetPosition')?['body/mserp_hcmjobpositiondualwriteentityid']}'",
              "$orderby": "mserp_validto desc",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('ListPositionDetails')?['body/value']",
          "actions": {
            "GetPositionDetails": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "56e5b800-79ea-415e-8168-c9f1b992bf41"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "mserp_hcmpositiondetailentities",
                  "recordId": "@items('Apply_to_each')?['mserp_hcmpositiondetailentityid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Convert_time_zone": {
              "runAfter": {
                "GetPositionDetails": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0d82613b-49d3-43fe-a336-44b8d2a81b9b"
              },
              "type": "Expression",
              "kind": "ConvertTimeZone",
              "inputs": {
                "baseTime": "@outputs('GetPositionDetails')?['body/mserp_validfrom']",
                "formatString": "(UTC+00:00) Dublin, Edinburgh, Lisbon, London",
                "sourceTimeZone": "Universal sortable date/time pattern - 2009-06-15 13:45:30Z [u]",
                "destinationTimeZone": "(UTC) Coordinated Universal Time"
              }
            },
            "Condition": {
              "actions": {
                "PositionAssignments": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "97c6f731-d0b3-48fe-b3d7-a49b3ffda540"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "mserp_hcmpositionworkerassignmentv2entities",
                      "$filter": "mserp_FK_job_id eq'@{outputs('GetPosition')?['body/mserp_hcmjobpositiondualwriteentityid']}'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Find_Worker": {
                  "foreach": "@outputs('PositionAssignments')?['body/value']",
                  "actions": {
                    "Get_Worker": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "d6199960-9ef8-4910-bd1d-c5e1af939be1"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "mserp_hcmworkerentities",
                          "recordId": "@items('Find_Worker')?['_mserp_fk_worker_id_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "SetWorkerNumber": {
                      "runAfter": {
                        "Get_Worker": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5465ab81-868d-4f35-85cf-606c7534fcf9"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "WorkerNumber",
                        "value": "@outputs('Get_Worker')?['body/mserp_hcmworkerentityid']"
                      }
                    },
                    "ListEmployment": {
                      "runAfter": {
                        "SetWorkerNumber": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "960c4595-f181-4335-ab06-db1906055a9f"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "mserp_hcmemploymententities",
                          "$select": "mserp_hcmemploymententityId",
                          "$filter": "mserp_FK_EmployedWorker_id eq'@{outputs('Get_Worker')?['body/mserp_hcmworkerentityid']}'"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Apply_to_each_3": {
                      "foreach": "@outputs('ListEmployment')?['body/value']",
                      "actions": {
                        "DateOfEffective": {
                          "runAfter": {
                            "EmploymentStartTimeTickValue": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "5fbeb18a-b165-41c1-b4ed-5a740cb1baa1"
                          },
                          "type": "Compose",
                          "inputs": "@ticks(outputs('GEtPositionDetails')?['body/mserp_validfrom'])"
                        },
                        "EmployeesHarrowServiceUpToEffectivedate": {
                          "runAfter": {
                            "DateOfEffective": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "1e0df024-b3f2-41c3-8482-a61b50bc79e2"
                          },
                          "type": "Compose",
                          "inputs": "@div(div(mul(sub(outputs('DateOfEffective'), outputs('EmploymentStartTimeTickValue')), 100), 1000000000), 31536000)"
                        },
                        "Apply_to_each_2": {
                          "foreach": "@outputs('ListEmployment')?['body/value']",
                          "actions": {
                            "Local_Govt_Check": {
                              "actions": {
                                "5_years_or_less": {
                                  "actions": {
                                    "List_rows": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "3f9b04a6-1d14-4610-84a7-a6c36e8edb30"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps",
                                          "operationId": "ListRecords",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "crbb7_lbhannualleavedayses",
                                          "$filter": "cr504_years eq @{variables('YearsLBHService NOW')}",
                                          "$orderby": "cr504_annualleave desc",
                                          "$top": 1
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Apply_to_each_4": {
                                      "foreach": "@outputs('List_rows')?['body/value']",
                                      "actions": {
                                        "Set_AL_Days": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "aba5a7ba-4d75-479a-8d2b-7b9d15d8fa9e"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "AnnualLeaveDays",
                                            "value": "@items('Apply_to_each_4')?['crbb7_annualleave']"
                                          }
                                        },
                                        "Set_BH_Days": {
                                          "runAfter": {
                                            "Compose": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "81aff0fa-0cdc-4b8b-94c9-023d58a86535"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "BankHolidayDays",
                                            "value": "@items('Apply_to_each_4')?['crbb7_bankholidaydays']"
                                          }
                                        },
                                        "Increment_variable": {
                                          "runAfter": {
                                            "Set_AL_Days": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "e5af5c49-cace-47b6-a054-20dccfa36d16"
                                          },
                                          "type": "IncrementVariable",
                                          "inputs": {
                                            "name": "AnnualLeaveDays",
                                            "value": 1
                                          }
                                        },
                                        "Compose": {
                                          "runAfter": {
                                            "Increment_variable": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "7453ed18-7a24-4072-9ac2-a1312f9b7bf4"
                                          },
                                          "type": "Compose",
                                          "inputs": "@variables('AnnualLeaveDays')"
                                        }
                                      },
                                      "runAfter": {
                                        "List_rows": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "0665665c-698d-4cca-a4a5-53b104a4428d"
                                      },
                                      "type": "Foreach",
                                      "runtimeConfiguration": {
                                        "concurrency": {
                                          "repetitions": 1
                                        }
                                      }
                                    }
                                  },
                                  "runAfter": {},
                                  "else": {
                                    "actions": {
                                      "List_rows_2": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "54d5df98-19d0-40e4-9c0f-bbf97132bc6b"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "ListRecords",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "crbb7_lbhannualleavedayses",
                                            "$filter": "cr504_years eq @{variables('YearsServiceApril')}",
                                            "$orderby": "cr504_annualleave desc",
                                            "$top": 1
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      },
                                      "Apply_to_each_5": {
                                        "foreach": "@outputs('List_rows_2')?['body/value']",
                                        "actions": {
                                          "Set_variable": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "c631dc7f-e89a-4389-a0e9-d320c90f5bc9"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "AnnualLeaveDays",
                                              "value": "@items('Apply_to_each_5')?['crbb7_annualleave']"
                                            }
                                          },
                                          "Set_variable_2": {
                                            "runAfter": {
                                              "Compose_2": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "18d311c2-b895-4a81-a85b-7b2a93ad2a81"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "BankHolidayDays",
                                              "value": "@items('Apply_to_each_5')?['crbb7_bankholidaydays']"
                                            }
                                          },
                                          "Increment_variable_2": {
                                            "runAfter": {
                                              "Set_variable": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "5c142c5f-9d5f-4a10-a09b-51968db356db"
                                            },
                                            "type": "IncrementVariable",
                                            "inputs": {
                                              "name": "AnnualLeaveDays",
                                              "value": 1
                                            }
                                          },
                                          "Compose_2": {
                                            "runAfter": {
                                              "Increment_variable_2": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "68370123-3d23-4fd4-9b32-808ad5859d48"
                                            },
                                            "type": "Compose",
                                            "inputs": "@variables('AnnualLeaveDays')"
                                          }
                                        },
                                        "runAfter": {
                                          "List_rows_2": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "6d2ec7ec-944b-4442-8715-709e9c7cdfdd"
                                        },
                                        "type": "Foreach",
                                        "runtimeConfiguration": {
                                          "concurrency": {
                                            "repetitions": 1
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "expression": {
                                    "lessOrEquals": [
                                      "@variables('YearsLBHService NOW')",
                                      5
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "eb06f7fd-5b5c-4bc5-b0f9-5fd9ae9f85ac"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {},
                              "else": {
                                "actions": {
                                  "Is_Harrow_Service_5_or_more": {
                                    "actions": {
                                      "List_rows_3": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "e971d91a-a70a-4bc6-921b-0f6109a50f72"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps",
                                            "operationId": "ListRecords",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "crbb7_lbhannualleavedayses",
                                            "$filter": "crbb7_years eq @{variables('YearsServiceApril')}",
                                            "$top": 1
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      },
                                      "Apply_to_each_6": {
                                        "foreach": "@outputs('List_rows_3')?['body/value']",
                                        "actions": {
                                          "Set_variable_3": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "e3abe6b8-63a3-4a9a-aacc-8f63b002cc4c"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "AnnualLeaveDays",
                                              "value": "@items('Apply_to_each_6')?['crbb7_annualleave']"
                                            }
                                          },
                                          "Set_variable_4": {
                                            "runAfter": {
                                              "Compose_3": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "c6556109-942c-4514-978c-0c88374f3195"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "BankHolidayDays",
                                              "value": "@items('Apply_to_each_6')?['crbb7_bankholidaydays']"
                                            }
                                          },
                                          "Increment_variable_3": {
                                            "runAfter": {
                                              "Set_variable_3": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "702bb9a9-898b-4e7b-b8e9-e12a97e25176"
                                            },
                                            "type": "IncrementVariable",
                                            "inputs": {
                                              "name": "AnnualLeaveDays",
                                              "value": 1
                                            }
                                          },
                                          "Compose_3": {
                                            "runAfter": {
                                              "Increment_variable_3": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "cc22c782-85c7-4eac-94f7-015f265a74f8"
                                            },
                                            "type": "Compose",
                                            "inputs": "@variables('AnnualLeaveDays')"
                                          }
                                        },
                                        "runAfter": {
                                          "List_rows_3": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "06c1a8be-dcf1-4c3c-a86f-017109e33684"
                                        },
                                        "type": "Foreach",
                                        "runtimeConfiguration": {
                                          "concurrency": {
                                            "repetitions": 1
                                          }
                                        }
                                      }
                                    },
                                    "runAfter": {},
                                    "else": {
                                      "actions": {
                                        "OriginalHireDateStartTick": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "e9ee0203-43a3-422b-9277-65db67d0b1dd"
                                          },
                                          "type": "Compose",
                                          "inputs": "@ticks(outputs('Get_Worker')?['body/crbb7_originalhiredate'])"
                                        },
                                        "UTCNow": {
                                          "runAfter": {
                                            "OriginalHireDateStartTick": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "ecfdd9c3-0808-4180-9d0f-79c2f4b32a0e"
                                          },
                                          "type": "Compose",
                                          "inputs": "@ticks(outputs('GetPositionDetails')?['body/mshr_validfrom'])"
                                        },
                                        "LocalGovService": {
                                          "runAfter": {
                                            "UTCNow": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "f4292d49-831b-4619-97b6-50ddb82c2bc5"
                                          },
                                          "type": "Compose",
                                          "inputs": "@div(div(mul(sub(outputs('UTCNow'), outputs('OriginalHireDateStartTick')), 100), 1000000000), 31536000)"
                                        },
                                        "Total_Service": {
                                          "runAfter": {
                                            "LocalGovService": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "108108c0-d3ec-46a3-b7b9-1d2d51002615"
                                          },
                                          "type": "Compose",
                                          "inputs": "@add(variables('YearsLBHService NOW'), outputs('LocalGovService'))"
                                        },
                                        "List_rows_4": {
                                          "runAfter": {
                                            "Total_Service": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "9d7f1aef-6b85-40ba-8354-ea7727454c5a"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps",
                                              "operationId": "ListRecords",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "crbb7_localgovernmentleavedayses",
                                              "$filter": "crbb7_years eq @{outputs('Total_Service')}",
                                              "$top": 1
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Apply_to_each_7": {
                                          "foreach": "@outputs('List_rows_4')?['body/value']",
                                          "actions": {
                                            "Set_variable_5": {
                                              "runAfter": {},
                                              "metadata": {
                                                "operationMetadataId": "25d94e3e-64a5-4920-bb5d-a7af56c0e532"
                                              },
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "AnnualLeaveDays",
                                                "value": "@items('Apply_to_each_7')?['crbb7_annualleave']"
                                              }
                                            },
                                            "Set_variable_6": {
                                              "runAfter": {
                                                "Compose_4": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "fcd2dd12-2606-48c7-8432-e0881b9b0f17"
                                              },
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "BankHolidayDays",
                                                "value": "@items('Apply_to_each_7')?['crbb7_bankholidaydays']"
                                              }
                                            },
                                            "Increment_variable_4": {
                                              "runAfter": {
                                                "Set_variable_5": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "888520a6-34e2-417d-a502-b63bdf190ef6"
                                              },
                                              "type": "IncrementVariable",
                                              "inputs": {
                                                "name": "AnnualLeaveDays",
                                                "value": 1
                                              }
                                            },
                                            "Compose_4": {
                                              "runAfter": {
                                                "Increment_variable_4": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "f1e93cd0-e1f6-4f07-bb20-2fcf1a38a889"
                                              },
                                              "type": "Compose",
                                              "inputs": "@variables('AnnualLeaveDays')"
                                            }
                                          },
                                          "runAfter": {
                                            "List_rows_4": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "de5b6175-a3f9-4139-8507-6e32f1702715"
                                          },
                                          "type": "Foreach"
                                        }
                                      }
                                    },
                                    "expression": {
                                      "greater": [
                                        "@variables('YearsLBHService NOW')",
                                        5
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "f692c559-7d3b-431e-b37b-62ec359fa223"
                                    },
                                    "type": "If",
                                    "description": "If they have more than 5 Harrow anyway then this will always trump"
                                  }
                                }
                              },
                              "expression": {
                                "equals": [
                                  "@outputs('GetEmploymentStartDate')?['body/mserp_employmentstartdate']",
                                  "@outputs('Get_Worker')?['body/mserp_originalhiredatetime']"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "dcdd1039-04cd-4ff4-8abd-a2cce8b88d23"
                              },
                              "type": "If",
                              "description": "Employment start date should always match original hire if there is no extra service, if they don't match then it means the employee has extra local govt. service"
                            }
                          },
                          "runAfter": {
                            "Is_it_Jan_Feb_or_March": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "fa75cce2-b056-49fd-a6de-6d15d5265e13"
                          },
                          "type": "Foreach"
                        },
                        "GetEmploymentStartDate": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "428ce075-f725-4c45-90ad-e9255d317135"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "mserp_hcmemploymententities",
                              "recordId": "@items('Apply_to_each_3')?['mserp_hcmemploymententityid']",
                              "$select": "mserp_employmentstartdate"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "EmploymentStartTimeTickValue": {
                          "runAfter": {
                            "GetEmploymentStartDate": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "8c12f14a-3a42-4aef-8081-3ebb5e7848c9"
                          },
                          "type": "Compose",
                          "inputs": "@ticks(outputs('GetEmploymentStartDate')?['body/mserp_employmentstartdate'])"
                        },
                        "Set_LBH_Service": {
                          "runAfter": {
                            "EmployeesHarrowServiceUpToEffectivedate": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a4df02f3-36fc-4b3e-9906-528a5e18074b"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "YearsLBHService NOW",
                            "value": "@outputs('EmployeesHarrowServiceUpToEffectivedate')"
                          }
                        },
                        "Is_it_Jan_Feb_or_March": {
                          "actions": {
                            "EndTimeTickValueLastYear": {
                              "runAfter": {
                                "Get1stAorilLastYear": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "45d4b877-548c-47e2-9638-c2f63542f8bc"
                              },
                              "type": "Compose",
                              "inputs": "@ticks(outputs('Get1stAorilLastYear'))"
                            },
                            "LBHServiceUpToAprilLastYear": {
                              "runAfter": {
                                "EndTimeTickValueLastYear": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "4a18b3ca-62b9-434f-913f-d884d062e25d"
                              },
                              "type": "Compose",
                              "inputs": "@div(div(mul(sub(outputs('EndTimeTickValueLastYear'), outputs('EmploymentStartTimeTickValue')), 100), 1000000000), 31536000)"
                            },
                            "Set_Years_Service_in_April_Last_Year": {
                              "runAfter": {
                                "LBHServiceUpToAprilLastYear": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "546631b1-3b0a-4656-b6a1-6ba94673f4fe"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "YearsServiceApril",
                                "value": "@outputs('LBHServiceUpToAprilLastYear')"
                              }
                            },
                            "Set_Last_Year": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "fe6c2ef9-99ca-4286-b1b7-01c3ed0179c0"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "LastYear",
                                "value": "@{subtractFromTime(outputs('GetPositionDetails')?['body/mshr_validfrom'], 1, 'Year', 'yyyy')}"
                              }
                            },
                            "Get1stAorilLastYear": {
                              "runAfter": {
                                "Set_Last_Year": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "fd9710af-d5d2-47cb-bac6-61c501c6f966"
                              },
                              "type": "Compose",
                              "inputs": "@{variables('LastYear')}-04-01T00:00:00Z"
                            }
                          },
                          "runAfter": {
                            "Set_Effective_Year": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Get1stAprilThatYear": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "adff2187-efb5-4510-ab30-9fcb1eac07bc"
                                },
                                "type": "Compose",
                                "inputs": "@{variables('Year')}-04-01T00:00:00Z"
                              },
                              "EndTimeTickValue": {
                                "runAfter": {
                                  "Get1stAprilThatYear": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "b92a995d-b03c-4eda-a011-c38a5c8b192d"
                                },
                                "type": "Compose",
                                "inputs": "@ticks(outputs('Get1stAprilThatYear'))"
                              },
                              "Set_Years_Service_In_April_this_year": {
                                "runAfter": {
                                  "LBHServiceUpToApril_This_Year": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "81f5a95e-55d0-48f7-bcdf-dac52236e19f"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "YearsServiceApril",
                                  "value": "@outputs('LBHServiceUpToApril_This_Year')"
                                }
                              },
                              "LBHServiceUpToApril_This_Year": {
                                "runAfter": {
                                  "EndTimeTickValue": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "71ea6cff-90fa-4adb-a1d3-230b949913f2"
                                },
                                "type": "Compose",
                                "inputs": "@div(div(mul(sub(outputs('EndTimeTickValue'), outputs('EmploymentStartTimeTickValue')), 100), 1000000000), 31536000)"
                              }
                            }
                          },
                          "expression": {
                            "lessOrEquals": [
                              "@variables('MonthNumber')",
                              "@variables('March Number')"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "52fcf988-9530-4513-bcd0-15255e5317dd"
                          },
                          "type": "If"
                        },
                        "GetMonthNumber": {
                          "runAfter": {
                            "Compose_5": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "6c43568c-ad89-4c6d-a554-d1fc347f91e6"
                          },
                          "type": "Compose",
                          "inputs": "@formatDateTime(body('Convert_time_zone'),'MM')"
                        },
                        "GetYearEffective": {
                          "runAfter": {
                            "Set_variable_7,_Month_Number": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "cd0d5292-fcb3-4f4d-aa18-686c2b539346"
                          },
                          "type": "Compose",
                          "inputs": "@formatDateTime(outputs('GetPositionDetails')?['body/mserp_validfrom'], 'yyyy')"
                        },
                        "Set_variable_7,_Month_Number": {
                          "runAfter": {
                            "GetMonthNumber": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "28dfaba6-a69f-47b4-b2cf-8a4805e05cfe"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "MonthNumber",
                            "value": "@{outputs('GetMonthNumber')}"
                          }
                        },
                        "Set_Effective_Year": {
                          "runAfter": {
                            "GetYearEffective": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a682c18b-87eb-422f-a89d-ef2d67f83b38"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Year",
                            "value": "@{outputs('GetYearEffective')}"
                          }
                        },
                        "Compose_5": {
                          "runAfter": {
                            "Set_LBH_Service": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "508d79ad-ce4b-4181-8984-e95e35d134ab"
                          },
                          "type": "Compose",
                          "inputs": "@outputs('GetPositionDetails')?['body/mserp_validfrom']"
                        }
                      },
                      "runAfter": {
                        "ListEmployment": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e73b3d9d-481f-45ca-b331-39a2402c889b"
                      },
                      "type": "Foreach",
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 1
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "PositionAssignments": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "48d6ad47-1ba6-4c81-bb1c-2892e9535cf8"
                  },
                  "type": "Foreach"
                },
                "CalculateAnnualLeaveWeeks": {
                  "runAfter": {
                    "Find_Worker": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3ee6334c-3b70-4e0f-bf0b-41911e5d2c74"
                  },
                  "type": "Compose",
                  "inputs": "@div(variables('AnnualLeaveDays'), 5)"
                },
                "CalculateBankHolidayWeeks": {
                  "runAfter": {
                    "CalculateAnnualLeaveWeeks": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "092f83dc-2f0d-4f83-82e3-a7d093d94e6f"
                  },
                  "type": "Compose",
                  "inputs": "@div(variables('BankHolidayDays'), 5)"
                },
                "CalculateTotalHolidayWeeks": {
                  "runAfter": {
                    "CalculateBankHolidayWeeks": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "31c17507-4b85-4446-8301-789a49179810"
                  },
                  "type": "Compose",
                  "inputs": "@add(outputs('CalculateBankHolidayWeeks'), outputs('CalculateAnnualLeaveWeeks'))"
                },
                "CalculateTotalWorkedWeeks": {
                  "runAfter": {
                    "CalculateTotalHolidayWeeks": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d3d0dfb6-2521-44e7-9c89-825a06520166"
                  },
                  "type": "Compose",
                  "inputs": "@sub(52, outputs('CalculateTotalHolidayWeeks'))"
                },
                "CalculatePossibleHoursPerYear": {
                  "runAfter": {
                    "CalculateTotalWorkedWeeks": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9f453f55-9924-45f9-8ae5-63a25125b5c5"
                  },
                  "type": "Compose",
                  "inputs": "@mul(outputs('CalculateTotalWorkedWeeks'), 36)"
                },
                "ActualWorkedHoursPerYear": {
                  "runAfter": {
                    "CalculatePossibleHoursPerYear": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2ad96f82-5164-4f67-bbbb-cc55f00ef5e7"
                  },
                  "type": "Compose",
                  "inputs": "@mul(outputs('GetPositionDetails')?['body/mshr_pwcpositionhoursperweek_custom'], outputs('GetPositionDetails')?['body/mserp_pwcpositionweeksperyear_custom'])"
                },
                "FTECalculation": {
                  "runAfter": {
                    "ActualWorkedHoursPerYear": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4ea1c76d-5aa5-4180-9000-bdd55ba6e42b"
                  },
                  "type": "Compose",
                  "inputs": "@div(outputs('ActualWorkedHoursPerYear'), outputs('CalculatePossibleHoursPerYear'))"
                },
                "Format_number": {
                  "runAfter": {
                    "FTECalculation": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "54604262-fe6a-494e-8eaa-1ab3f6b387f8"
                  },
                  "type": "Expression",
                  "kind": "FormatNumber",
                  "inputs": {
                    "number": "@outputs('FTECalculation')",
                    "format": "0#.####"
                  }
                },
                "Format_number_3": {
                  "runAfter": {
                    "Format_number": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "355cd89e-7b77-42a0-b65c-81dfee5149b6"
                  },
                  "type": "Expression",
                  "kind": "FormatNumber",
                  "inputs": {
                    "number": "@outputs('FTECalculation')",
                    "format": "#.##"
                  }
                },
                "Update_a_row": {
                  "runAfter": {
                    "Format_number_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2b6081f1-e5de-4744-ad88-9d5ae02cbb1d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "mserp_hcmpositiondetailentities",
                      "recordId": "@items('Apply_to_each')?['mserp_hcmpositiondetailentityid']",
                      "item/mserp_pwcemploymentfactor_custom": "@outputs('Format_number')?['body']",
                      "item/mserp_fulltimeequivalent": "@outputs('Format_number_3')?['body']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Convert_time_zone": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "FullTimeHoursPerWeekNonTerm": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "9c8d536f-8871-45a0-889c-88897b8bee60"
                    },
                    "type": "Compose",
                    "inputs": "@mul(variables('DailyHrs'), 5)"
                  },
                  "FTECalculationNonTerm": {
                    "runAfter": {
                      "FullTimeHoursPerWeekNonTerm": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "4428496d-799d-4ed2-8e6a-0f53e733522a"
                    },
                    "type": "Compose",
                    "inputs": "@div(outputs('GetPositionDetails')?['body/mshr_pwcpositionhoursperweek_custom'], outputs('FullTimeHoursPerWeekNonTerm'))"
                  },
                  "Format_number_for_EF": {
                    "runAfter": {
                      "FTECalculationNonTerm": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "df1160e3-fc5a-4db8-864b-989d8b391691"
                    },
                    "type": "Expression",
                    "kind": "FormatNumber",
                    "inputs": {
                      "number": "@outputs('FTECalculationNonTerm')",
                      "format": "0#.####"
                    }
                  },
                  "Format_number_2": {
                    "runAfter": {
                      "Format_number_for_EF": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "52431b39-8fd3-46fe-acb2-7cc1c00e7e7b"
                    },
                    "type": "Expression",
                    "kind": "FormatNumber",
                    "inputs": {
                      "number": "@outputs('FTECalculationNonTerm')",
                      "format": "#.##"
                    }
                  },
                  "Update_a_row_2": {
                    "runAfter": {
                      "Format_number_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "37e3103c-8d8a-4747-a9ae-fc7ac3a05cc8"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "mserp_hcmpositiondetailentities",
                        "recordId": "@items('Apply_to_each')?['mserp_hcmpositiondetailentityid']",
                        "item/mserp_fulltimeequivalent": "@body('Format_number_2')"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('GetPositionDetails')?['body/mserp_pwctermtime_custom']",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "27f685b8-2ce9-4b39-98d4-16b84148f596"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "ListPositionDetails": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3c0c248e-e44a-4333-9450-96cf31f7fdd0"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}