DEV/DEV11/LBH_LA_FIN_PAW2a_CostCentre/LBH_LA_FIN_PAW2a_CostCentre/LogicApp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_PwC_LA_FIN_PAW2a_CostCentre_PreProd_name": {
            "defaultValue": "PwC_LA_FIN_PAW2a_CostCentre_PreProd",
            "type": "String"
        },
        "connections_azurefile_1_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/azurefile-1",
            "type": "String"
        },
        "connections_dynamicsax_5_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/dynamicsax-5",
            "type": "String"
        },
        "connections_smtp_externalid": {
            "defaultValue": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/resourceGroups/lbh-nprd-uks-apim-rg-01/providers/Microsoft.Web/connections/smtp",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_PwC_LA_FIN_PAW2a_CostCentre_PreProd_name')]",
            "location": "uksouth",
            "tags": {
                "Availability": "24h7",
                "Cost Centre": "1040",
                "Department": "Finance_HR",
                "Environment": "NPRD",
                "Owner": "platformteam@harrow.gov.uk",
                "Service": "Dynamics F&O"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "19"
                                    ],
                                    "minutes": [
                                        30
                                    ]
                                },
                                "startTime": "2023-06-20T18:30:00",
                                "timeZone": "GMT Standard Time"
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "19"
                                    ],
                                    "minutes": [
                                        30
                                    ]
                                },
                                "startTime": "2023-06-20T18:30:00",
                                "timeZone": "GMT Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Batch_error_and_blank_file_checking_variable": {
                            "runAfter": {
                                "Final_output_file_name_set": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ErrorMessage",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Condition_3": {
                            "actions": {
                                "Terminate": {
                                    "runAfter": {},
                                    "type": "Terminate",
                                    "inputs": {
                                        "runError": {
                                            "code": "ERR01",
                                            "message": "@variables('ErrorMessage')"
                                        },
                                        "runStatus": "Failed"
                                    }
                                }
                            },
                            "runAfter": {
                                "For_each_2": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@variables('ErrorMessage')",
                                                ""
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Delay": {
                            "runAfter": {
                                "Trigger_Ax_batch_job": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 4,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Final_output_file_name_set": {
                            "runAfter": {
                                "Initialize_data_package_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "OutputFileName",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "For_each_2": {
                            "foreach": "@body('Lists_items_present_in_table')?['value']",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "For_each": {
                                            "foreach": "@body('Lists_items_present_in_table_2')?['value']",
                                            "actions": {
                                                "Condition_2": {
                                                    "actions": {
                                                        "Compose": {
                                                            "runAfter": {
                                                                "Invoke_http_request_for_data_job_execution": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Compose",
                                                            "inputs": "@outputs('Invoke_http_request_for_data_job_execution')['statusCode']"
                                                        },
                                                        "Create_file": {
                                                            "runAfter": {
                                                                "Download_datapackage": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": "@binary(body('Download_datapackage'))",
                                                                "headers": {
                                                                    "ReadFileMetadataFromServer": true
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azurefile_1']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/datasets/default/files",
                                                                "queries": {
                                                                    "folderPath": "/uat-file01/PAW2a/temp",
                                                                    "name": "@variables('PackageName')",
                                                                    "queryParametersSingleEncoded": true
                                                                }
                                                            },
                                                            "runtimeConfiguration": {
                                                                "contentTransfer": {
                                                                    "transferMode": "Chunked"
                                                                }
                                                            }
                                                        },
                                                        "Delete_file": {
                                                            "runAfter": {
                                                                "File_transformation": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "headers": {
                                                                    "SkipDeleteIfFileNotFoundOnServer": false
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azurefile']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "delete",
                                                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/uat-file01/PAW2a/temp/PwC_PAW2a.zip'))}"
                                                            }
                                                        },
                                                        "Download_datapackage": {
                                                            "runAfter": {
                                                                "Get_data_package_url": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Http",
                                                            "inputs": {
                                                                "method": "GET",
                                                                "uri": "@{body('Get_data_package_url')?['Value']}"
                                                            }
                                                        },
                                                        "File_transformation": {
                                                            "runAfter": {
                                                                "Set_output_file_name": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Http",
                                                            "inputs": {
                                                                "body": {
                                                                    "cloudFileShare": "uat-file01",
                                                                    "dir": "PAW2a",
                                                                    "fileName": "@{variables('PackageName')}",
                                                                    "newField1": "Reference",
                                                                    "newField2": "Name",
                                                                    "newField3": "Responsible Email Address",
                                                                    "newField4": "Director Email Address",
                                                                    "newField5": "Employment type",
                                                                    "newField6": "Open for PAWS",
                                                                    "oldField1": "REFERENCE",
                                                                    "oldField2": "NAME",
                                                                    "oldField3": "RESPONSIBLEEMAILADDRESS",
                                                                    "oldField4": "DIRECTOREMAILADDRESS",
                                                                    "oldField5": "EMPLOYMENTTYPE",
                                                                    "oldField6": "OPENFORPAWS",
                                                                    "outPutFileName": "@{variables('OutputFileName')}",
                                                                    "outputFileFormat": "csv",
                                                                    "sheetName": "costcentre",
                                                                    "storageAccountPath": "DefaultEndpointsProtocol=https;AccountName=lbhnprduksd365sa02;AccountKey=o359HBPq50Q0YS2FZKGgqRalib7hhIC9p2/JqXlNL7ye2f15my2/65kLO+oBd1WBjnMS7lwTpnOXSY6fae8i3A==;EndpointSuffix=core.windows.net",
                                                                    "subDir": "temp"
                                                                },
                                                                "method": "POST",
                                                                "uri": "https://pwcfointfiletranspactoexcelcsv.azurewebsites.net/api/TransFormExcelCSV?code=XdHL/TjIjh34XZzZUnPxE7xzjsqoxip5csUi5zvR79q6a3uUkNCyVw=="
                                                            }
                                                        },
                                                        "Get_data_package_url": {
                                                            "runAfter": {
                                                                "Wait_until_data_project_executed": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Http",
                                                            "inputs": {
                                                                "body": {
                                                                    "executionId": "@{body('Invoke_http_request_for_data_job_execution')?['Value']}"
                                                                },
                                                                "headers": {
                                                                    "Authorization": "@variables('Token')"
                                                                },
                                                                "method": "POST",
                                                                "uri": "https://lbh-fo-preprod.sandbox.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExportedPackageUrl"
                                                            }
                                                        },
                                                        "Get_file_content-Mail": {
                                                            "runAfter": {
                                                                "Delete_file": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['azurefile']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "get",
                                                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/uat-file01/PAW2a/',variables('OutputFileName')))}/content",
                                                                "queries": {
                                                                    "inferContentType": true
                                                                }
                                                            }
                                                        },
                                                        "Invoke_http_request_for_data_job_execution": {
                                                            "runAfter": {},
                                                            "type": "Http",
                                                            "inputs": {
                                                                "body": {
                                                                    "definitionGroupId": "PwC_PAW2a_EXP",
                                                                    "executionId": "",
                                                                    "legalEntityId": "1000",
                                                                    "packageName": "PwC_PAW2a.zip",
                                                                    "reExecute": false
                                                                },
                                                                "headers": {
                                                                    "Authorization": "@variables('Token')"
                                                                },
                                                                "method": "POST",
                                                                "uri": "https://lbh-fo-preprod.sandbox.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.ExportToPackage"
                                                            }
                                                        },
                                                        "Send_Email_(V3)_2": {
                                                            "runAfter": {
                                                                "Get_file_content-Mail": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "body": {
                                                                    "Attachments": [
                                                                        {
                                                                            "ContentData": "@{base64(body('Get_file_content-Mail'))}",
                                                                            "FileName": "@variables('OutputFileName')"
                                                                        }
                                                                    ],
                                                                    "Body": "<p>Hi Team,<br>\n<br>\nPlease find the Cost centre file attached with this mail.<br>\n<br>\n<em>This is a system generated mail. Please do not reply. If you face any kind of issue get in touch with D365 Admin team.&nbsp;</em></p>",
                                                                    "From": "D365_MailSys_FO_Dev@harrow.gov.uk",
                                                                    "Subject": "Cost centre data Pre Prod",
                                                                    "To": "Kanta.Halai@harrow.gov.uk;d365.support@harrow.gov.uk"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['smtp']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/SendEmailV3"
                                                            }
                                                        },
                                                        "Set_exetution_stat": {
                                                            "runAfter": {
                                                                "Compose": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "ExecutionStat",
                                                                "value": "@{outputs('Compose')}"
                                                            }
                                                        },
                                                        "Set_output_file_name": {
                                                            "runAfter": {
                                                                "Create_file": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "OutputFileName",
                                                                "value": "COST CODE@{formatdatetime(utcnow(),'yyyyMMddhhmm')}.csv"
                                                            }
                                                        },
                                                        "Wait_until_data_project_executed": {
                                                            "actions": {
                                                                "Delay_2": {
                                                                    "runAfter": {},
                                                                    "type": "Wait",
                                                                    "inputs": {
                                                                        "interval": {
                                                                            "count": 5,
                                                                            "unit": "Second"
                                                                        }
                                                                    }
                                                                },
                                                                "Get_execution_summary_status": {
                                                                    "runAfter": {
                                                                        "Delay_2": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "Http",
                                                                    "inputs": {
                                                                        "body": {
                                                                            "executionId": "@{body('Invoke_http_request_for_data_job_execution')?['Value']}"
                                                                        },
                                                                        "headers": {
                                                                            "Authorization": "@variables('Token')"
                                                                        },
                                                                        "method": "POST",
                                                                        "uri": "https://lbh-fo-preprod.sandbox.operations.dynamics.com/data/DataManagementDefinitionGroups/Microsoft.Dynamics.DataEntities.GetExecutionSummaryStatus"
                                                                    }
                                                                },
                                                                "Set_execution_status": {
                                                                    "runAfter": {
                                                                        "Get_execution_summary_status": [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type": "SetVariable",
                                                                    "inputs": {
                                                                        "name": "ExecutionStat",
                                                                        "value": "@{body('Get_execution_summary_status')?['Value']}"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {
                                                                "Set_exetution_stat": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "expression": "@equals(variables('ExecutionStat'), 'Succeeded')",
                                                            "limit": {
                                                                "count": 20,
                                                                "timeout": "PT1H"
                                                            },
                                                            "type": "Until"
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "else": {
                                                        "actions": {
                                                            "Set_error_message": {
                                                                "runAfter": {},
                                                                "type": "SetVariable",
                                                                "inputs": {
                                                                    "name": "ErrorMessage",
                                                                    "value": "No data present in staging table"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "not": {
                                                                    "equals": [
                                                                        "@items('For_each')?['Reference']",
                                                                        ""
                                                                    ]
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                            "runAfter": {
                                                "Lists_items_present_in_table_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "Lists_items_present_in_table_2": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('lbh-fo-preprod.sandbox.operations.dynamics.com'))}/tables/@{encodeURIComponent(encodeURIComponent('CCostCentreDataExpToPAW2a'))}/items",
                                                "queries": {
                                                    "$top": 1
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Set_variable": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "ErrorMessage",
                                                    "value": "Batch job error in D365 F&o"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each_2')?['Status']",
                                                    "Finished"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@formatDateTime(items('For_each_2')?['StartDateTime'], 'yyyy-MM-dd')",
                                                    "@formatDateTime(utcnow(), 'yyyy-MM-dd')"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@items('For_each_2')?['Caption']",
                                                    "Cost centre information batch"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Lists_items_present_in_table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_access_token": {
                            "runAfter": {
                                "Batch_error_and_blank_file_checking_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": "client_id=9a0a0604-6c86-4ba3-894f-853e9f2b9252&client_secret=1ix8h.1~ojzX7pj520djkZnAD7-yG.P7b3&grant_type=client_credentials&resource=https://lbh-fo-preprod.sandbox.operations.dynamics.com",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "method": "POST",
                                "uri": "https://login.microsoftonline.com/d2c39953-a8db-4c3c-97f2-d2dc76fb3e2c/oauth2/token"
                            }
                        },
                        "Initialize_data_package_name": {
                            "runAfter": {
                                "Initialize_execution_stat": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "PackageName",
                                        "type": "string",
                                        "value": "PwC_PAW2a.zip"
                                    }
                                ]
                            }
                        },
                        "Initialize_execution_stat": {
                            "runAfter": {
                                "Initialize_token_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ExecutionStat",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_token_variable": {
                            "runAfter": {
                                "Initialize_variable_-_Environment": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Token",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_ContentLength": {
                            "runAfter": {
                                "Initialize_variable_-_UpdateFileURI": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ContentLength",
                                        "type": "integer"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_ContentRange2": {
                            "runAfter": {
                                "Initialize_variable_-_ContentLength": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ContentRange2",
                                        "type": "integer"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_CreateBlankFileURI": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "CreateBlankFileURI",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_Environment": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Environment",
                                        "type": "string",
                                        "value": "https://lbh-fo-preprod.sandbox.operations.dynamics.com"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_UpdateFileURI": {
                            "runAfter": {
                                "Initialize_variable_-_CreateBlankFileURI": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "UpdateFileURI",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Lists_items_present_in_table": {
                            "runAfter": {
                                "Delay": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['dynamicsax_1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('lbh-fo-preprod.sandbox.operations.dynamics.com'))}/tables/@{encodeURIComponent(encodeURIComponent('CBatchJobHistories'))}/items",
                                "queries": {
                                    "$filter": "Caption eq 'Cost centre information batch'",
                                    "$orderby": "EndDateTime desc",
                                    "$top": 1
                                }
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Get_access_token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_access_token')",
                                "schema": {
                                    "$schema": "http://json-schema.org/draft-04/schema#",
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "string"
                                        },
                                        "expires_on": {
                                            "type": "string"
                                        },
                                        "ext_expires_in": {
                                            "type": "string"
                                        },
                                        "not_before": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "token_type",
                                        "expires_in",
                                        "ext_expires_in",
                                        "expires_on",
                                        "not_before",
                                        "resource",
                                        "access_token"
                                    ],
                                    "type": "object"
                                }
                            }
                        },
                        "PwC_LA_MoveFilesFromStagingToSecured_PreProd": {
                            "runAfter": {
                                "Condition_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "Source": "/uat-file01/PAW2a",
                                    "Target": "uat-file01/PAW2a"
                                },
                                "method": "POST",
                                "uri": "https://prod-00.uksouth.logic.azure.com:443/workflows/47f5519fe1074f4b8948972fa20769bb/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=S2ixVlaXRLYNRPwfKRR4Bzj7L0SuI4emwlSUSfaCjQw"
                            }
                        },
                        "Set_token": {
                            "runAfter": {
                                "Initialize_variable_-_ContentRange2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Token",
                                "value": "@{concat('Bearer ',body('Parse_JSON')['access_token'])}"
                            }
                        },
                        "Trigger_Ax_batch_job": {
                            "runAfter": {
                                "Set_token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "_dataAreaId": "1000"
                                },
                                "headers": {
                                    "Authorization": "@variables('Token')"
                                },
                                "method": "POST",
                                "uri": "https://lbh-fo-preprod.sandbox.operations.dynamics.com/data/CCostCentreDataExpToPAW2a/Microsoft.Dynamics.DataEntities.triggerBatchJob"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurefile": {
                                "connectionId": "[parameters('connections_azurefile_1_externalid')]",
                                "connectionName": "azurefile-1",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/azurefile"
                            },
                            "azurefile_1": {
                                "connectionId": "[parameters('connections_azurefile_1_externalid')]",
                                "connectionName": "azurefile-1",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/azurefile"
                            },
                            "dynamicsax_1": {
                                "connectionId": "[parameters('connections_dynamicsax_5_externalid')]",
                                "connectionName": "dynamicsax-5",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/dynamicsax"
                            },
                            "smtp": {
                                "connectionId": "[parameters('connections_smtp_externalid')]",
                                "connectionName": "smtp",
                                "id": "/subscriptions/f30d976c-5cf4-407c-bf9f-3d4e8bd4b40f/providers/Microsoft.Web/locations/uksouth/managedApis/smtp"
                            }
                        }
                    }
                }
            }
        }
    ]
}